<!DOCTYPE html>
<html>
<head>
  <title>Go Park App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy3JRKga_1LyeTVgWgmnaUZy5rSNcTzvY&libraries=geometry,places&language=ro" type="text/javascript"></script>
  <script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.31.0/js/client.min.js"></script>
  <script src="https://js.braintreegateway.com/web/3.31.0/js/payment-request.js"></script>
  <!-- Load the PayPal Checkout component. -->
  <script src="https://js.braintreegateway.com/web/3.31.0/js/paypal-checkout.min.js"></script>
  <script src="https://www.paypalobjects.com/api/checkout.js" data-version-4 log-level="warn"></script>
  <script src="https://js.braintreegateway.com/web/dropin/1.9.4/js/dropin.min.js"></script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="ParkingSpaceMobile" >


<ui-view></ui-view>


</body>
</html>