<div class="business d-flex align-items-left">


  <div class="col-md-7 p-5 offer-info">
    <h3 class="text-center py-4 my-4 display-4 animated fadeInUp">
      Venituri adiționale fără nici un cost!
    </h3>

    <div class="row pt-5">

      <div class="col-4 text-center delay-2 animated fadeInUp">
        <i class="fa fa-4x fa-percent"></i>
        <p class="text-center ">
          Mărește gradul de utilizare al parcării
        </p>
      </div>
      <div class="col-4 text-center delay-3  animated fadeInUp">
        <i class="fa fa-4x fa-user"></i>
        <p class="text-center ">
          Atrage clienți noi fără nici un cost
        </p>
      </div>
      <div class="col-4 text-center delay-4 animated fadeInUp">
        <i class="fa fa-4x fa-map-marker"></i>
        <p class="text-center  ">
          Folosește aplicația să fii găsit mai usor
        </p>
      </div>
    </div>
    <div class="p-5">
      <button class="btn btn-primary">Mai multe detalii</button>
    </div>
  </div>
</div>

<div class="container solutions">
  <div class="col-12">
    <h1 class="my-3 my-md-4 text-center animated fadeInUp">
      Soluții business
    </h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-6">
      Go park oferă soluții de integrare cu sistemele de automatizare ale parcărilor și iși propune
      să integreze cât mai multe parcări in sistemul de rezervări/plăți
      <br>
      <br>
      Pentru a avea o ințelegere
      cât mai amanunțită a tipului și a mărimii sistemului folosit, vă
      rugăm sa ne dați câteva detalii mai jos și va vom contacta în
      cel mai scurt timp:

      <form class="mt-5 " method="POST" action="http://formspree.io/office@go-park.ro">
        <div class="form-group">
          <label for="exampleInputEmail1">Adresă email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          <small id="emailHelp" class="form-text text-muted">Adresa va fi folosita exclusiv pentru a comunica cu dvs .
          </small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Descriere</label>
          <textarea class="form-control" id="exampleInputPassword1"
                    placeholder="Spune-ne detaliile parcarii tale ( nr locuri, tip sistem, constrangeri ) "></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Trimite</button>

      </form>
    </div>
    <div class="col-md-6 d-flex flex-column ">

      <div class="panel mt-5">
        <h5 class="panel-title">Recunoaștere automată nr înmatriculare a utilizatorilor înregistrați </h5>
      </div>
      <div class="panel mt-5">
        <h5 class="panel-title">Automatizare intrare si ieșire</h5></div>
      <div class="panel mt-5">
        <h5 class="panel-title">Plată gestionată exclusiv de go-park fără tichet sau aplicații adiționale</h5>
      </div>

    </div>
  </div>
</div>