
.form-edit-details {

  textarea {
    height: 116px;
  }
}

.input-group, .form-control {
  border-radius: $border-radius;
  box-shadow: 2px 2px 0 0 $gray-500;
  background-color: #fff;
}


.register {
  background: url('/assets/app/register_bg.png') no-repeat;

  h2, h3 {
    border-bottom: 1px solid $gray;
  }

  .invalid-field-list {
    font-size: 0.9em;
    list-style: disc;
    margin-top: 10px;
    margin-left: 14px;
  }

  .recover-pw-link {
    text-decoration: underline;
    display: block;
    margin: auto;
    text-align: right;
  }

}


