<div class="ps-modal">

    <div ng-controller="DeleteParkingSpaceCtrl">
        <div class="padding">
            Are you sure you want to delete this parking space ?
        </div>

        <parking-spot-info-box space="selectedSpace" ></parking-spot-info-box>

        <div class="ps-control-buttons">
            <div class="button-bar">
                <a class="button icon-center ion-trash-a" ng-click="deleteSpace(selectedSpace)"></a>
                <a class="button icon-center ion-close" ui-sref="^"></a>
            </div>
        </div>
    </div>
</div>
