<div ng-controller="MainCtrl" class="full-height">
    <div class="notification-message" ng-class="{error: errMsg , notification: notifMsg}" >{{errMsg || notifMsg}}</div>
    <div class="bar bar-header bar-dark">

        <h1 class="title"></h1>

        <div class="row ">
            <div class="col">
                <button class="button button-icon ion-wand button-clear" ui-sref-active="menu-underline" ui-sref="home.map.post">
                    <span></span>
                </button>
            </div>
            <div class="col">
                <button class="button button-icon ion-search button-clear" ui-sref-active="menu-underline" ui-sref="home.map.search">
                    <span></span>
                </button>
            </div>
            <div class="col">
                <button class="button button-icon ion-person button-clear" ui-sref-active="menu-underline" ui-sref="home.myposts">
                    <notification-icon></notification-icon>
                    <span ></span>
                </button>
            </div>
            <div class="col">
                <button menu-toggle="right" class="button button-icon ion-help button-clear">
                    <span ui-sref-active="menu-underline"></span>
                </button>
            </div>
        </div>
    </div>
    <ui-view name="content"></ui-view>
</div>
