<div class="chat-area-modal ps-modal" ng-controller="MessagesCtrl">
    <div>
        <div>
            <h4 class="title ">Chat with {{selOffer.owner_name}}</h4>
        </div>
        <div style="height: 284px" class="scroll">
            <div class="list">
                <div class="message" ng-repeat="message in selOffer.messages | orderBy: 'created_at' "
                     ng-class="{left :message.owner_is_current_user , right:!message.owner_is_current_user}"
                     ng-repeat-finish="scrollDown">
                    <div class="desc">
                        <span class="message-meta"> {{message.created_at | date : 'dd MMM yyyy  HH:mm'}} </span>
                    </div>
                    <span ng-class="{orange: !message.read}">
                        {{message.content}}
                    </span>
                </div>
                <div ng-show="!selOffer.messages.length" class="no-message">No messages</div>
            </div>
        </div>
        <div class="row message-input">
            <div class="col-90">
                <input type="text" placeholder="Ask ..." ng-model="newMessage">
            </div>
            <div class="col-10">
                <a class="ion-android-send" ng-click="sendMessage(newMessage)"></a>
            </div>
        </div>
        <div class="ps-control-buttons">
            <div class="button-bar">
                <a class="button icon-center ion-checkmark-round" ui-sref="^"></a>
                <a class="button icon-center ion-close" ui-sref="^"></a>
            </div>
        </div>
    </div>
    <i class="fa fa-envelope watermark"></i>
</div>
