<div ng-controller="MyOffersCtrl">

    <div style="position: relative">
        <ui-view name="messages"></ui-view>
    </div>

    <ul class="row slider-tabs-menu">
        <li class="col" ui-sref="home.myposts" ui-sref-active="active">
            <a>My spaces</a>
            <i class="notif-icon tab-menu-notif"></i>
        </li>
        <li class="col" ui-sref="home.myoffers" ui-sref-active="active">
            <a>My offers</a>
            <i class="notif-icon tab-menu-notif"></i>
        </li>
    </ul>

    <i class="fa fa-5x fa-refresh fa-spin loading-spinner search"></i>

    <div class="no-items-msg loading-finished" ng-hide="spaces.length"> You haven't placed any offers.</div>

    <div class="scroll" id="my-bids-list">
        <div class="bids-area padding no-height" ng-repeat="space in spaces| orderBy: 'timestamp'">
            <h4 class="bid-title">
                {{space.title}} -
                 <span class="bid-amount">
                     {{space.price | units  }}.<small>{{space.price | subunits}}</small>
                      <currency val="space.currency"></currency>
                 </span>
                <i class="fa fa-refresh fa-spin loading-spinner"></i>
            </h4>
            <div class="bid-table no-margin" ng-show="space.offers.length">
                <div class="offer" ng-click="selectOffer(offer, space)" ng-repeat="offer in space.offers | orderBy: 'timestamp'"
                     ng-class="{selected: selOffer == offer}">
                <span class="offer-price">
                    {{offer.price | units}}.<small>{{offer.price | subunits}}</small>
                    <currency val="offer.currency"></currency>
                </span>

                <span ui-sref="home.myoffers.talk">
                    ( <i class="fa fa-envelope"></i> {{messagesForOffer(offer)}} )
                </span>

                    <div class="pull-right offer-accept">
                        <i class="ion-checkmark-round accepted" ng-show="offer.approved">Accepted</i>
                        <i ng-show="!offer.approved"> Proposed </i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="post-space-container">
        <div class="post-space" ui-sref="home.map.search">
            <i class="fa fa-arrow-left "></i> Back to search
        </div>
    </div>
    <div class="ps-dialog" id="showPhoneNumber">
        <div class="ps-dialog-content">
            <div class="ps-question">
                <parking-spot-info-box class="small" space="selectedSpace"></parking-spot-info-box>
                <div ng-hide="selOffer.approved">
                    <hr/>
                    Your offer is not yet accepted!
                    <br/>
                    <br/>

                    <div class="ps-text-xxbig">
                        :(
                    </div>
                </div>
                <div ng-show="selOffer.approved">
                    <hr/>
                    <a ng-href="tel:{{selOffer.phone_number}}">
                        <div class="ps-text-xbig">
                            Call {{selOffer.owner_name}}
                        </div>
                        <br/>

                        <div class="ps-text-xxbig">
                            <i class="fa fa-phone"></i>
                            {{selOffer.phone_number}}
                        </div>
                    </a>
                </div>
            </div>
            <div class="ps-control-buttons">
                <div class="button-bar">
                    <a class="button icon-center ion-checkmark-round" onclick="$('#showPhoneNumber').hide()"></a>
                    <a class="button icon-center ion-close" onclick="$('#showPhoneNumber').hide()"></a>
                </div>
            </div>
        </div>
    </div>
    <ui-view name="help"></ui-view>
</div>

