<div ng-controller="MyPostsCtrl" class="ps-content">

    <h2 class="ps-page-title">My events</h2>

    <div class="list open-spaces-list scroll">
        <span class="item " ng-click="show(space)" ng-repeat="space in spaces">
            <parking-spot-info-box class="small" space="space"></parking-spot-info-box>
            <i class="fa fa-money item-notifications"> <span> Offers ({{space.offers.length}})</span> </i>
            <i class="fa fa-envelope item-notifications">
                <span> Messages ({{unreadMessagesForSpace(space) }})</span> </i>
        </span>
    </div>

    <ui-view name="edit-space"></ui-view>
</div>
