<div class="help-blanket" ui-sref="^">
    <div ng-show="selectedSpace.owner_is_current_user">
        <br/>
        <br/>
        <i class="fa fa-arrows-v fa-3x pull-right"></i>
        <h3>Location detail map.</h3>
        <br/>
        <i class="fa fa-arrows-h fa-3x"></i>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4>You have {{selectedSpace.offers.length}} offers for the current space. <br/> <br/>
            Lower the price ( <i class="ion-edit"></i> Edit ) or promote it via social
            networks ( <i class="ion-android-share"></i> )
        </h4>
    </div>
    <div ng-hide="selectedSpace.owner_is_current_user">
        <br/>
        <br/>
        <i class="fa fa-arrows-v fa-3x pull-right"></i>
        <h3>Location detail map.</h3>
        <i class="fa fa-arrows-h fa-3x"></i>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4 ng-show="selectedSpace.offers.length">The list of offers already placed for this space.</h4>

        <br/>
        <br/>
        <br/>
        <h4 ng-show="selectedSpace.offers.length">Bidding and clicking &laquo;<i class="ion-checkmark-round"></i>&raquo; will notify the owner of the space.</h4>
    </div>
</div>