<div class="place-offer-modal ps-modal ">
    <div class="list">
        <parking-spot-info-box class="small" space="selectedSpace" on-tap="showThumbnail(selectedSpace)"></parking-spot-info-box>
        <!-- TODO add modal with image and description
        <a class="item desc" ng-show="selectedSpace.description">
            <i> {{selectedSpace.description}} </i>
        </a>
        -->
    </div>
    <div  class="padding-left padding-right" ng-hide="selectedSpace.owner_is_current_user">
        <span> Space will expire {{expireDuration()}}. </span> <span ng-show="selectedSpace.offers.length">Current offers are:</span>

        <div class="bids-area">
            <div class="bid-table narrow scroll">
                <div class="offer" ng-click="selectOffer(offer)" ng-repeat="offer in selectedSpace.offers | orderBy: '-price'"
                     ng-class="{selected: selOffer == offer}">
                        <span class="offer-price">
                            {{offer.price | units  }}.<small>{{offer.price | subunits}}</small>
                            <currency val="offer.currency"></currency>
                        </span>
                        <span class="offer-desc">
                            {{offer.owner_name}} - {{offer.created_at | date}}
                        </span>
                </div>
            </div>
        </div>
        Make a better offer:
        <bid-amount amount="bid.bid_amount" currency="bid.bid_currency"></bid-amount>
    </div>
    <div ng-show="selectedSpace.owner_is_current_user">
        <span>Posted by you on {{selectedSpace.created_at | date: 'EEEE, MMM d, y h:mm' }} </span>

        <!--<div>
            <i class="fa fa-facebook-square fa-2x" ng-click="window.plugins.socialsharing.share('Message only')"> </i>
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-google-plus fa-2x" ng-click="window.plugins.socialsharing.share('Message only')"> </i>
        </div>-->
    </div>
    <div class="ps-control-buttons">
        <div class="button-bar">
            <a class="button icon-center ion-edit" ui-sref="home.myposts.edit" ng-show="selectedSpace.owner_is_current_user"></a>
            <a class="button icon-center ion-checkmark-round" ng-click="saveBid()" ng-hide="selectedSpace.owner_is_current_user"></a>
            <a class="button icon-center ion-close" ng-click="closeBid()"></a>
        </div>
    </div>
</div>
