<div id="post-space" ng-controller="PostParkingSpaceCtrl">

    <parking-area-symbol class="map-center-marker" marker="marker"></parking-area-symbol>

    <ul class="row select-pill">
        <li class="col" ng-click="space.short_term = false">
            <a  ng-class="{active: !space.short_term}"><i class="fa fa-calendar"></i> Long term</a>
        </li>
        <li class="col" ng-click="space.short_term = true">
            <a  ng-class="{active: space.short_term}"><i class="fa fa-clock-o"></i> Short term</a>
        </li>
    </ul>

    <div id="tab1" ng-click="review()">
        <parking-spot-info-box space="space" ></parking-spot-info-box>
    </div>
    <div class="button-bar">
        <a class="button icon-left button-clear ion-checkmark-round" ng-click="review()">Tap to Post</a>
    </div>

    <ui-view name="review"></ui-view>
    <ui-view name="help"></ui-view>
</div>
