<div class="help-blanket" ui-sref="^">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <i class="fa fa-arrows-v fa-3x pull-right"></i>

    <h3>Drag map to place parking spot. Tap on parking spot to rotate.</h3>
    <br/>
    <br/>
    <i class="fa fa-arrows-h fa-3x"></i>
    <br/>
    <br/>

    <div class="row">
        <div class="col"><i class="fa fa-calendar"></i> Long term spaces will be valid for <br/>{{longTermExp()}} weeks.</div>
        <div class="col"><i class="fa fa-clock-o"></i> Short term spaces will be valid for <br/>{{shortTermExp()}} mins.</div>
    </div>
</div>