<div class="help-blanket" ui-sref="^">

    <h3>Share any parking spot that you have available!</h3>
    <br/>
    <h4>It can be your property, rented or even an open space on the street.</h4>
    <h4>The important thing is to be able to guarantee that whoever buys it from you can park his car on that place.</h4>
    <i class="fa fa-arrows-v fa-3x pull-right"></i>

    <br/>
    <br/>
    <br/>
    <i class="fa fa-arrows-h fa-3x"></i>
    <br/>
    <br/>

    <h4>Once you place the parking spot it will become visible to everyone !</h4>
    <h4>Once visible, others can place bids on your parking space !</h4>

</div>