<div id="post-space" ng-controller="PostParkingSpaceCtrl">
    <i class="pac-nav-2 fa fa-arrow-circle-up fa-2x" ui-sref="home.map.search"></i>

    <parking-area-symbol class="map-center-marker" marker="marker"></parking-area-symbol>

    <h2 class="new-post-ribbon" ui-sref=".help"> Posting new space. Help ? </h2>
    <div id="tab1" ng-click="review()">
        <parking-spot-info-box space="space" class="big"></parking-spot-info-box>
    </div>
    <div class="post-space-container">
        <div class="post-space" ng-click="review()">
            <i class="fa fa-dollar"></i> Sell this parking space
        </div>
    </div>

    <ui-view name="review"></ui-view>
    <ui-view name="help"></ui-view>
</div>
