<div id="post-space" ng-controller="PostParkingSpaceCtrl">
    <ul class="row slider-tabs-menu">
        <li class="col" ng-click="space.short_term = false" ng-class="{active: !space.short_term}">
            <a><i class="fa fa-calendar"></i> Long term</a>
        </li>
        <li class="col" ng-click="space.short_term = true" ng-class="{active: space.short_term}">
            <a><i class="fa fa-clock-o"></i> Short term</a>
        </li>
    </ul>
    <div id="tab1"  ng-hide="space.short_term" ng-click="review()">
        <parking-spot-info-box space="space" ></parking-spot-info-box>
    </div>
    <div id="tab2"  ng-show="space.short_term" ng-click="review()">
        <parking-spot-info-box space="space" ></parking-spot-info-box>
    </div>
    <div class="button-bar">
        <a class="button icon-left button-clear ion-checkmark-round" ng-click="review()">Tap to Post</a>
    </div>

    <ui-view name="review"></ui-view>
</div>
