<div class="ps-modal">
    <div ng-controller="EditParkingSpaceCtrl">

        <form class="form-edit-details">
            <div on-tap="close()">
                <h3 class="ps-page-title">
                    <i class="fa fa-calendar" ng-show="!spaceEdit.short_term"> </i>
                    <i class="fa fa-clock-o" ng-show="spaceEdit.short_term"> </i>
                    {{spaceEdit.short_term? 'Short Term (10 min)': 'Long Term (2 weeks)'}}
                </h3>
            </div>
            <div>
                <span class="item item-input important">
                    <span class="input-label">Price</span>
                    <bid-amount amount="spaceEdit.price" currency="spaceEdit.currency"></bid-amount>
                </span>
                <label class="item item-input">
                    <span class="input-label">Title</span>
                    <input type="text" placeholder="Title" ng-model="spaceEdit.title" ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address line 1" ng-model="spaceEdit.address_line_1" ng-required="true">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" placeholder="Address line 2" ng-model="spaceEdit.address_line_2">
                </label>

                <div class="item upload-photo">
                    <div class="row">
                        <div class="col-34" on-tap="takePhoto()" on-hold="attachPhoto()">
                            <span class="parking-sign" ng-hide="spaceEdit.local_image_url || spaceEdit.thumbnail_url">
                               <i class="fa fa-camera"></i>
                               <i class="text"></i>
                            </span>
                            <img ng-src="{{imageUrl(spaceEdit)}}" class="parking-sign" ng-show="spaceEdit.local_image_url || spaceEdit.thumbnail_url">
                        </div>
                        <div class="col-66">
                            <label class="item item-input item-stacked-label desc-textarea">
                                <span class="input-label">Description</span>
                                <textarea placeholder="Description" maxlength="165" ng-model="spaceEdit.description"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ps-control-buttons">
                <div class="button-bar">
                    <a class="button icon-center ion-checkmark-round" ng-click="confirmSave()"></a>
                    <a class="button icon-center ion-close" ng-click="close()"></a>
                </div>
            </div>
        </form>

        <div class="ps-dialog" id="confirmSpace">
            <div class="ps-dialog-content confirm-space">
                <div class="ps-question">
                    Are you sure you want to place this
                    <i class="fa fa-calendar" ng-show="!spaceEdit.short_term"> </i>
                    <i class="fa fa-clock-o" ng-show="spaceEdit.short_term"> </i>
                    {{spaceEdit.short_term? 'Short Term': 'Long Term'}} space ? <br/><br/>

                    Price : <b> {{spaceEdit.price}}
                    <currency val="spaceEdit.currency"></currency>
                </b><br/>

                    Title : <b> {{spaceEdit.title}}</b><br/>

                    Address : <b> {{spaceEdit.address_line_1}}</b>

                    <span ng-show="spaceEdit.address_line_2">
                        Address : <b> {{spaceEdit.address_line_2}}</b>
                    </span>
                    <br/>
                    <span ng-show="spaceEdit.description">
                        Description: {{spaceEdit.description}} <br/>
                    </span>
                    <br/>
                    Expires on :<b>{{ expirationDate() }}</b>
                    <br/>
                    <br/>
                </div>
                <div class="ps-control-buttons">
                    <div class="button-bar">
                        <a class="button icon-center ion-checkmark-round" ng-click="save()"></a>
                        <a class="button icon-center ion-close" onclick="$('#confirmSpace').hide()"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <ui-view name="help"></ui-view>
</div>
