<div class="ps-modal" on-swipe-down="closeEdit()" on-swipe-left="closeEdit()">

    <div ng-controller="ReviewBidsCtrl">
        <div class="form-edit-details-small">
            <div class="bids-area padding-left padding-right padding-top">
                <h4 class="bid-title">
                    {{spaceEdit.title}} -
                    <span class="bid-amount">
                            {{spaceEdit.price | units  }}.
                             <small>{{spaceEdit.price | subunits}}</small>
                             <currency val="spaceEdit.currency"></currency>
                    </span>
                    <i class="fa fa-refresh fa-spin loading-spinner"></i>
                </h4>
                <h4>
                    <small> You have {{spaceEdit.offers.length || 0}} offers.
                        <span ng-show="spaceEdit.offers.length"> Tap &laquo;<i class="ion-checkmark-round"></i> Accept&raquo;
                            to confirm </span>
                    </small>
                    <small ng-show="warn"> Can only accept one single offer.</small>
                </h4>
                <div class="bid-table scroll" ng-show="spaceEdit.offers.length">
                    <div class="offer" ng-click="selectOffer(offer)" ng-repeat="offer in spaceEdit.offers | orderBy: 'timestamp'"
                         ng-class="{selected: selOffer == offer}">

                        <span class="offer-price">
                            {{offer.price | units}}.<small>{{offer.price | subunits}}</small>
                            <currency val="offer.currency"></currency>
                        </span>

                        <span ui-sref="home.myposts.bids.talk">
                            ( <i class="fa fa-envelope"></i> {{messagesForSpace(offer.messages)}} )
                        </span>

                        <div class="pull-right offer-accept" ng-click="confirmApproval(offer)">
                            <i class="ion-checkmark-round accepted" ng-show="offer.approved">Accepted</i>
                            <i class="ion-checkmark-round" ng-show="!offer.approved"> Accept</i>
                        </div>

                    </div>
                </div>
            </div>

            <div ng-show="selOffer" class="offer-desc-area">
                <div class="offer-desc-item">
                    Placed on:
                    <div class="value pull-right">{{selOffer.created_at | date: 'EEEE, MMM d, h:mm'}}</div>
                </div>

                <div class="offer-desc-item">
                    Owner :
                    <div class="value pull-right">{{selOffer.owner_name}}</div>
                </div>
                <div class="offer-desc-item phone-number">
                    Tel No:
                    <span class="value pull-right" ng-show="selOffer.approved"><i class="fa fa-phone"></i> +{{selOffer.phone_number}}</span>
                    <span class="value pull-right" ng-hide="selOffer.approved">Accept offer to show</span>
                </div>
            </div>

            <div class="btn-grp">
                <h4>
                    <small>Share your parking space to attract customers:</small>
                </h4>
                <i class="fa fa-facebook-square fa-4x" ng-click="window.plugins.socialsharing.share('Message only')"> </i>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-google-plus-square fa-4x" ng-click="window.plugins.socialsharing.share('Message only')"> </i>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-twitter-square fa-4x" ng-click="window.plugins.socialsharing.share('Message only')"> </i>
            </div>


            <ui-view name="messages"></ui-view>

            <div class="ps-dialog" id="confirmOffer">
                <div class="ps-dialog-content">
                    <div class="ps-question">
                        {{selOffer.approved ? 'Reject':'Accept'}} <b>{{selOffer.owner_name}}</b>'s offer for
                        <span class="offer-price">
                                    {{selOffer.price | units}}.<small>{{selOffer.price | subunits}}</small>
                                    <currency val="selOffer.currency"></currency>
                        </span>
                        ?
                    </div>
                    <div class="ps-control-buttons">
                        <div class="button-bar">
                            <a class="button icon-center ion-checkmark-round" ng-click="accept(spaceEdit, selOffer)"></a>
                            <a class="button icon-center ion-close" onclick="$('#confirmOffer').hide()"></a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="ps-control-buttons">
                <div class="button-bar">
                    <a class="button icon-center ion-checkmark-round" ui-sref="^"></a>
                    <a class="button icon-center ion-edit" ui-sref="home.myposts.edit"></a>
                </div>
            </div>
        </div>
    </div>
</div>
