<div class="ps-modal" on-swipe-down="closeEdit()" on-swipe-left="closeEdit()">

    <div ng-controller="BidsAndMessagesCtrl">
        <div class="form-edit-details-small">
            <div class="bids-area padding">
                <h4 class="bid-title">
                    {{spaceEdit.title}} -
                    <span class="bid-amount">
                            {{spaceEdit.price | units  }}.
                             <small>{{spaceEdit.price | subunits}}</small>
                             <currency val="spaceEdit.currency"></currency>
                    </span>
                </h4>
                <h4>
                    <small> You have {{spaceEdit.offers.length || 0}} offers.
                        <span ng-show="spaceEdit.offers.length"> Click  &laquo;<i class="ion-checkmark-round"></i> Accept&raquo; to confirm </span>
                    </small>
                    <small ng-show="warn"> Can only accept one single offer.</small>
                </h4>
                <div class="bid-table scroll">
                    <div class="offer" ng-click="selectOffer(offer)"
                         ng-repeat="offer in spaceEdit.offers | orderBy: 'timestamp'"
                         ng-class="{selected: selOffer == offer}">

                        <span class="offer-price">
                            {{offer.price | units  }}.<small>{{offer.price | subunits}}</small>
                            <currency val="offer.currency"></currency>
                        </span>

                        <span ui-sref="home.myposts.messages.talk" >
                            ( <i class="fa fa-envelope"></i> {{unreadMessagesForSpace(offer.messages)}} )
                        </span>

                        <div class="pull-right offer-accept" ng-click="acceptStep1(offer)" ng-hide="offer.confirm">
                            <i class="ion-checkmark-round accepted" ng-show="offer.accepted">Accepted</i>
                            <i class="ion-checkmark-round" ng-show="!offer.accepted"> Accept</i>
                        </div>

                        <div class="accept-confirm pull-right" ng-show="offer.confirm">
                            Accept {{offer.price}}
                            <currency val="offer.currency"></currency>
                            ? &nbsp;
                            <i class="ion-checkmark-round" ng-click="accept(offer)"> Yes</i>
                            &nbsp;
                            <i class="ion-close-round" ng-click="cancel(offer)"> No</i>
                        </div>

                        <div ng-show="!spaceEdit.offers.length" class="no-offers">
                            No active offers for current bid.
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="selOffer" class="offer-desc-area">
                <div class="offer-desc-item ">
                    Posted {{selOffer.created_at | amTimeAgo }}.
                </div>
                <div class="offer-desc-item">
                    Owner : <div class="value pull-right">{{selOffer.owner_name}}</div>
                </div>
                <div class="offer-desc-item">
                    Tel No:
                    <span class="value pull-right" ng-show="selOffer.accepted"><i class="fa fa-phone"></i> +{{selOffer.phone_number}}</span>
                    <span class="value pull-right" ng-hide="selOffer.accepted">Accept offer to show</span>
                </div>

            </div>

            <ui-view name="messages"></ui-view>


            <div class="ps-control-buttons">
                <div class="button-bar">
                    <a class="button icon-center ion-checkmark-round" ui-sref="^"></a>
                    <a class="button icon-center ion-edit" ui-sref="home.myposts.edit"></a>
                </div>
            </div>
        </div>
    </div>
</div>
