<div ng-controller="SearchParkingSpaceCtrl" class="map-controls scroll">
    <div class="search-radius-controller">
        <a class="button button-icon icon ion-minus-circled" on-tap="decreaseRadius()"></a>
        <input type="number" ng-model="circleOptions.radius" ng-value="circleOptions.radius + 'm'">
        <a class="button button-icon icon ion-plus-circled" on-tap="increaseRadius()"></a>
    </div>
    <div id="search-space">
        <div class="list open-spaces-list">
            <span class="item " on-tap="showBid(space)" ng-repeat="space in spaces">
                <parking-spot-info-box class="small" space="space"></parking-spot-info-box>
            </span>
        </div>
    </div>
    <ui-view name="place-offer" ></ui-view>
</div>
