<div class="help-blanket">
    <br/>
    <br/>
    <br/>

    <h3>The available spaces are displayed on the map.</h3>
    <br/>
    <br/>

    <div><img src="images/marker_blue.png"/> indicates a long term space</div>
    <div><img src="images/marker_orange.png"/> indicates a short term space</div>
    <br/>
    <br/>
    <br/>
    <br/>
    <h4>Search through the list of available spaces here.</h4>

    <button ng-click="logout()">Logout</button>
    <br/><br/>
    <button ui-sref="^">Exit</button>
    <br/><br/>
</div>