/*
  list the fonts to include here
*/
$open-sans-path: '../fonts';

@mixin open-sans-font-face( $font, $svgid, $weight: normal, $style: normal ) {
  @font-face {
    font-family: 'Open Sans';
    src: url('#{$open-sans-path}/opensans-#{$font}-webfont.eot');
    src: url('#{$open-sans-path}/opensans-#{$font}-webfont.eot?#iefix') format('embedded-opentype'),
    url('#{$open-sans-path}/opensans-#{$font}-webfont.woff') format('woff'),
    url('#{$open-sans-path}/opensans-#{$font}-webfont.ttf') format('truetype'),
    url('#{$open-sans-path}/opensans-#{$font}-webfont.svg##{$svgid}') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}

@include open-sans-font-face( 'regular', 'OpenSansRegular' );
@include open-sans-font-face( 'bold',    'OpenSansBold', bold );
@include open-sans-font-face( 'semibold',   'OpenSansSemibold', 600 );

