
.form-edit-details {
  background-color: #fff;
  padding-top: $big-measure-unit;

  label:first-child {
    border-top: 0;
  }

  .row {
    padding: 0;
  }

  .input-label {
    width: 31.5%;
    color: $gray-lighter;
  }

  .upload-photo {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .desc-textarea {
    border: 0;
    padding-top: 0;
    margin-top: -4px;
    padding-left: 0;

    span {
      padding-top: 0;
    }
    textarea {
      height: 100px;
      border-bottom: 1px solid #eee;
    }
  }

  input, textarea, select {
    font-family: $font-family;
  }

  .important {
    span {
      font-weight: bold;
    }

    input[type=number] {
      font-size: 1.1em;
      padding-left: $measure-unit;
      padding-right: 0;
      flex: none;
      width: 40px;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

}