$golden-ratio: 1.428571429;

$dflt-border-radius: 3px;
$big-border-radius: 3px * $golden-ratio;

$base-font-size: 14px;

// 10px
$sm-font-size: $base-font-size / $golden-ratio;

// 20px
$lg-font-size: $base-font-size * $golden-ratio;

// 28px
$xlg-font-size: $lg-font-size * $golden-ratio;

// 20px
$base-line-height: $base-font-size * $golden-ratio;

// a balanced measure unit is a sub-unitary value of the base font size
// 10px
$measure-unit: $base-font-size / $golden-ratio;

// 14 px
$big-measure-unit: $base-font-size;

// 20 px
$xbig-measure-unit: $big-measure-unit * $golden-ratio;

//28px
$xxbig-measure-unit: $xbig-measure-unit * $golden-ratio;

// 39 px
$xxxbig-measure-unit: $xxbig-measure-unit * $golden-ratio;

// 105 px ( $base-unit * ratio ^ 6 )
$jumbo-measure-unit: $xxxbig-measure-unit  * $golden-ratio * $golden-ratio;

// 118 px ( $base-unit * ratio ^ 7 )
$lg-jumbo-measure-unit: $jumbo-measure-unit * $golden-ratio;

// 7px
$sm-measure-unit: $measure-unit / $golden-ratio;

// 5px
$xsm-measure-unit: $sm-measure-unit / $golden-ratio;

// 3px
$xxsm-measure-unit: $xsm-measure-unit / $golden-ratio;

$font-family: 'Open Sans';

$base-font-color: #333;
$gray: #ddd;

$gray-lighter: #888;
$gray-xlight: #e5e5e5;
$gray-xxlight: #f0f0f0;

$gray-dark: #444;
$gray-dark-transparent: transparentize($gray-dark, 0.5);
$blue: #7A93BA;
$red: #d46220;

@import "fonts";
@import "forms";

#map {
    height: 60%;
}

.map-controls {
    height: 40%;
}

.full-height {
    height: 100%
}

map {
    display: block;
    width: 100%;
    height: 100%;
}

html, body {
    height: 100%;
    font-family: $font-family;
    color: $base-font-color;
    background-color: #fff;
}

.bar-header {
    .row {
        padding: 0 10px;
        .col {
            padding: 3px 0 0 0;
            text-align: center;
        }
    }

    .menu-underline {
        span {
            width: 75px;
            display: inline-block;
            position: absolute;
            height: 5px;
            background-color: #D46220;
            top: -9px;
            left: -18px;
        }
    }

    &.bar-dark {
        background-color: $gray-dark-transparent;
        border: 0 none;

        .button {
            &.button-icon:before {
                font-size: 38px;
            }
        }

        &.bar-header {
            height: 48px;
        }
    }
}


.ps-control-buttons {
    border: 0;
    background-color: transparent;
    padding: 0;
    height: auto;

    .button-bar {
        .button {
            border: 0;
            background-color: #fff;
            min-height: $xxxbig-measure-unit;
            line-height: $xxxbig-measure-unit;
            font-size: 14px;

            &.icon-center {
                font-size: $xbig-measure-unit;
            }

            &.activated {
                background-color: #eee;
            }
            &:after {
                line-height: 33px;
            }

            &:before {
                line-height: 33px;
            }
        }
    }
}




.ps-modal {
//    border-top: 4px solid $red;
    position: absolute;
    top: 48px;
    background-color: $gray-dark-transparent;
    width: 100%;
    z-index: 3;
    height: 100%;

    > div {
        background-color: #fff;
    }
    .list {
        overflow: hidden;
    }
}

.ps-dialog {
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    .ps-dialog-content {
        z-index: 100;
        background-color: white;
        position: relative;
        top: 30%;
        left: 10%;
        width: 74%;
        box-shadow: 1px 1px 3px;
        border-top: 4px solid $red;

        .ps-question {
            padding: $sm-measure-unit;
            padding-bottom: $big-measure-unit;
        }
    }
}

.ps-content {
    padding-top: 48px;
}

.map-container {
    display: block;
    height: 100%;
    position: relative;
}

.right-nav-menu {

    .bar.bar-header {
        background-color: $red;
    }
    .scroll-content {
        background-color: $gray-dark;
    }

    .list {
        a {
            background-color: $gray-dark;
            color: #ffffff;
            border-color: $gray-dark;
            padding: 10px;

            &.active {
                background-color: #aaa;
                border-color: #aaa;
            }

            span {
                margin-left: 10px;
                display: inline-block;
                margin-bottom: 8px;
            }
        }
    }

}

.open-spaces-list {
    > span.item {
        padding: 0;
        &:active {
            background-color: $gray-xlight;
        }
    }

    .parking-spot-details {
        padding-bottom: 5px !important;
    }

    .item-notifications {
        padding: 0 $measure-unit $big-measure-unit $measure-unit;
        font-size: 0.9em;
        color: #666;

        span {
            font-family: $font-family;
        }
    }
}

.place-offer-modal {
    top: 150px;
    .list {
        margin-bottom: 0;
    }
    .item {
        font-size: $base-font-size;
    }
}

.bid-amount {

    a {
        float: left;
        line-height: 0.9em;
    }

    input {
        margin: 0 10px;
        width: 48px;
        float: left;
        font-size: $xxbig-measure-unit;
    }

    .currency {
        border: 0 none;
        width: 100%;
        font-size: $xxbig-measure-unit;
    }
}

.slider-tabs-menu {
    text-align: center;
    padding: 0;
    > li {
        border: 0 none;
        padding: 0;

        &.active {
            background-color: #555;
            color: #fff;
            position: relative;

            &:after {
                content: " ";
                position: absolute;
                top: 34px;
                background-color: #555;
                transform: rotate(45deg);
                width: $measure-unit;
                height: $measure-unit;
                display: inline-block;
                z-index: 3;
            }
        }

        > a {
            padding: $measure-unit;
            display: block;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.search-center-icon {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    background-color: $red;
    border: 2px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

.loading-spinner {
    display: none;
    color: $gray;
    &.search {
        margin-top: 30px;
        margin-left: 41%;
    }
}

.no-items-msg {
    width: 51%;
    margin-left: auto;
    margin-right: auto;
    margin-top: $xxxbig-measure-unit;
    color: $gray;
    font-size: 20px;
}

.search-radius-controller {
    position: absolute;
    width: 120px;
    background-color: #fff;
    z-index: 1;
    top: 53%;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    border-radius: 20px;
    box-shadow: 2px 1px 10px 1px $gray-dark;

    .value {
        width: 47px;
        display: inline-block;
        height: 28px;
        padding-top: 4px;
        font-size: 1.2em;
    }

    a.button {
        padding: 2px;
        min-height: 20px;
        color: $gray-dark;
        line-height: 20px;
        border: 0 none;

        &:before {
            font-size: 28px;
            line-height: 20px;
        }
    }
}

.search-marker-label {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

@mixin parking-sign($size: $lg-jumbo-measure-unit, $icon: false) {

    $width: $size * 3 / 4; // 3:4 image scale
    $height: $size;
    $font-size: $size * 0.8;

    @if ($icon == true) {
        $font-size: $size * 0.5;
    }

    color: #23467C;
    font-weight: bold;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    border-radius: 4px;
    font-family: sans-serif;
    margin-right: 10px;
    border: 1px solid #23467C;
    //    box-shadow: 2px 2px 8px 1px #ddd;
    display: inline-block;
    font-size: $font-size;

}

.parking-sign {
    @include parking-sign($lg-jumbo-measure-unit, true);
}

@mixin parking-spot-info-box($size: 'normal') {
    position: relative;
    display: block;
    $cur-font: $lg-font-size;

    @if ($size == 'small') {
        $cur-font: $lg-font-size * 0.8;
    }

    @if ($size == 'normal') {
        .parking-sign.small {
            @include parking-sign(110px);
        }
    } @else if ($size == 'small') {
        .parking-sign.small {
            @include parking-sign(93px);
        }
    }

    .parking-spot-details {
        border: 0 none;
        padding: $measure-unit;
        @if ($size == 'normal') {
            padding-top: $xbig-measure-unit;
            padding-bottom: $xbig-measure-unit;
        } @else if ($size == 'small') {
            margin-top: 0;
        }

        .col {
            padding: 0;
        }

        h1 {
            color: $red;
            font-size: $xlg-font-size;
            @if ($size == 'normal') {
                margin-top: $measure-unit;
            } @else if ($size == 'small') {
                margin-top: 0;
            }
        }

        p {
            @if ($size == 'normal') {
                margin-bottom: $measure-unit;
            } @else if ($size == 'small') {
                margin-bottom: 0;
            }
        }

        h2 {
            font-size: $cur-font;
            position: relative;
            z-index: 2;
            @if ($size == 'small') {
                margin-bottom: 0;
            }
        }

        .currency {
            font-size: $cur-font;
        }
    }

    .watermark {
        position: absolute;
        top: -10px;
        color: #ddd;
        right: -10px;
        font-size: 7em;
    }

    .my-posts-notifications {
        position: absolute;
        right: 30px;
        z-index: 3;
        font-size: 2em;
        border-radius: 50%;
        padding: 10px;
        background-color: $blue;
        color: #fff;
        top: 60px;
    }
}

parking-spot-info-box {
    @include parking-spot-info-box();
}

parking-spot-info-box.small {
    @include parking-spot-info-box('small');
}

.parking-space-big-thumbnail {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20%;
}


.notif-icon {
    position: absolute;
    right: -3px;
    border-radius: 50%;
    background-color: rgb(212, 98, 32);
    padding: 0px 5px;
    line-height: 20px;
    font-size: 13px;
    top: 0;
}

.parking-spot-marker {
    position: absolute;
    font-size: 2.5em;
    font-weight: bold;
    top: 120px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 74px;

    .parking-area-pointer {
        position: absolute;
        left: -40px;
        top: 23px;
        font-size: 1em;
    }

    .parking-area {
        background-color: rgba($blue, 0.34);
        border-radius: 3px;
        color: #333;
    }

    i {
        font-size: 0.75em;
        position: relative;

        &.top-right {
            top: -10px;
            right: -4px;
        }

        &.top-left {
            top: -11px;
            left: -1px;
        }

        &.bottom-right {
            bottom: -10px;
            right: -5px;
        }

        &.bottom-left {
            bottom: -10px;
            left: -1px;
        }
    }

    span {
        font-size: 1.5em;
        display: block;
        width: 80%;
        margin: auto;
    }

}

.ps-page-title {
    border-bottom: 1px solid #aaa;
    padding: 14px 14px 5px 10px;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #fff;
}

.item {
    background-color: inherit;
}

.notification-message {
    position: absolute;
    top: 59px;
    z-index: 100;
    width: 70%;
    text-align: center;
    left: 15%;
    border-radius: $measure-unit;
    color: white;
    padding: 5px;
    display: none;
    box-shadow: 1px 1px 12px 1px #525252;
    border: 1px solid rgb(168, 11, 11);

    &.error {
        background-color: #CB3A3A;
        display: block;
    }

    &.notification {
        background-color: #346e24;
        border: 1px solid #23471f;
        display: block;
    }
}

.chat-area-modal {
    top: -4px;

    .no-message {
        color: #aaa;
        width: 100px;
        margin: auto;
        margin-top: 45%;
    }

    .watermark {
        position: absolute;
        top: 61px;
        left: 26%;
        font-size: 137px;
        color: $gray-xlight;
    }
    .message {
        z-index: 2;
        clear: both;
        margin: 5px 10px;
        padding: 2px 5px;
        border: 1px solid #ccc;
        border-radius: 7px;
        position: relative;
        line-height: 1.4em;
        background-color: #fff;

        .message-meta {
            font-size: 0.8em;
            color: $gray-lighter;
        }

        .desc {
            overflow: auto;
        }

        &.right {
            float: right;
            margin-left: 40px;
            background-color: $blue;
            color: #fff;

            &:after {
                content: ' ';
                background-color: $blue;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                transform: rotate(-45deg);
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                right: -6px;
                bottom: 10px;
            }

            .message-meta {
                float: right;
                color: $gray-xlight;
            }
        }

        &.left {
            float: left;
            margin-right: 40px;

            &:after {
                content: ' ';
                background-color: #fff;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                transform: rotate(135deg);
                width: 10px;
                height: 10px;
                display: block;
                position: absolute;
                left: -6px;
                bottom: 10px;
            }

            .message-meta {
                float: left;
            }
        }
    }

    .message-input {
        border: 1px solid $gray-xlight;

        input {
            padding-left: 10px;
        }

        div.col-10 {
            background-color: #fff;

            .ion-android-send {
                display: inline-block;
                padding-top: 8px;
                font-size: 1.4em;

                &.activated {
                    color: #666;
                }
            }
        }
    }

    .title {
        @extend .ps-page-title;
        margin: 0 10px 0 10px;
        padding: 20px 0 10px 0;
        border-bottom: 1px solid $gray;
    }
}

.offer-desc-item {
    font-size: 0.9em;
    padding-bottom: 5px;

    .value {
        font-weight: 600;
        padding-right: 10px;
        padding-left: 10px;
        background-color: $gray-xlight;
        border-radius: 3px;
    }
}

.offer-desc-area {
    padding: 10px 10px 20px 10px;
}

.scroll {
    overflow-y: scroll;
}

.bids-area {

    .bid-amount {
        color: $red;
    }

    .bid-title {
        border-bottom: 1px solid $gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .bid-table {
        max-height: 110px;
        margin-top: $xxbig-measure-unit;
        margin-bottom: $xxbig-measure-unit;
        border-top: 1px solid #C7C7C7;
        border-bottom: 1px solid #c7c7c7;

        &.narrow {
            margin-top: $big-measure-unit;
            margin-bottom: $big-measure-unit;
        }

        .offer {
            background-color: $gray-xxlight;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.selected {
                background-color: darken(#f0f0f0, 15%);
                .offer-price {
                    $light-blue: darken($blue, 15%);
                    background-color: $light-blue;
                }
            }

            .offer-desc {
                font-size: 0.9em;
            }

            .offer-price {
                background-color: $blue;
                color: white;
                padding: 5px;
                display: inline-block;
                width: 80px;
                white-space: nowrap;
                text-align: center;
            }

            .offer-accept {
                padding: 5px;
            }

            .accepted {
                color: darkgreen;
            }

            .accept-confirm {
                padding: 5px;
                .ion-checkmark-round {
                    color: darkgreen;
                }
                .ion-close-round {
                    color: darkred;
                }
            }
        }

    }
}

.btn-grp {
    padding: $measure-unit 0;
    text-align: center;
    .btn {
        border: 1px solid $gray;
        padding: ($measure-unit/$golden-ratio) 18px;
        background-color: $gray-xxlight;
        color: $base-font-color;
        display: inline-block;

        span {
            text-decoration: underline;
        }
    }
}

.fa-facebook-square {
    color: #3a5795;
}

.fa-google-plus-square {
    color: #d73d32;
}

.fa-twitter-square {
    color: #5EA9DD;
}



.fa-rotate-45 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-135 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
