$dflt-border-radius: 3px;

$golden-ratio: 1.428571429;

$base-font-size: 14px;
// 10px
$sm-font-size: $base-font-size / $golden-ratio;
// 20px
$lg-font-size: $base-font-size * $golden-ratio;
// 28px
$xlg-font-size: $lg-font-size * $golden-ratio;

$base-line-height: $base-font-size * $golden-ratio;

// a balanced measure unit is a subunitary value of the base font size
// actualy the measure unit would be the base font size, but that is too
// big to be used everywhere
// 10px
$measure-unit: $base-font-size / $golden-ratio;
// 14 px
$big-measure-unit: $base-font-size;

// 20 px
$xbig-measure-unit: $big-measure-unit * $golden-ratio;

// 28 px
$xxbig-measure-unit: $big-measure-unit * $golden-ratio;

// 39 px
$xxxbig-measure-unit: $xxbig-measure-unit * $golden-ratio;

// 105 px ( $base-unit * ratio ^ 6 )
$jumbo-measure-unit: $big-measure-unit * $golden-ratio
          * $golden-ratio * $golden-ratio * $golden-ratio
           * $golden-ratio;

// 118 px ( $base-unit * ratio ^ 7 )
$lg-jumbo-measure-unit: $big-measure-unit * $golden-ratio
          * $golden-ratio * $golden-ratio * $golden-ratio
           * $golden-ratio * $golden-ratio;

$font-family: 'Open Sans';

$base-font-color: #333;
$gray: #ddd;
$gray-lighter: #888;
$gray-dark: #444;
$blue: #7A93BA;
$red: #d46220;

@import "fonts";
@import "forms";

map {
  display: block;
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  font-family: $font-family;
  color: $base-font-color;
  background-color: #fff;

  ion-nav-view {
    background-color: #fff;
  }

}

.bar.bar-dark {
  background-color: rgba(85, 85, 85, 0.5);
  border: 0 none;
}

.map-container {
  display: block;
  height: 100%;
  position: relative;
}

.help-btn {
  margin-left: 10px;
  font-size: 2.5em;
}

.main-content {
  box-shadow: -1px 0px 27px 6px rgba(23, 23, 23, 1);
}

.right-nav-menu {

  .bar.bar-header {
    background-color: $red;
  }
  .scroll-content {
    background-color: $gray-dark;
  }

  .list {
    a {
      background-color: $gray-dark;
      color: #ffffff;
      border-color: $gray-dark;
      padding: 10px;

      &.active {
        background-color: #aaa;
        border-color: #aaa;
      }

      span {
        margin-left: 10px;
        display: inline-block;
        margin-bottom: 8px;
      }
    }
  }

}

.open-spaces-list {
  > a.item {
    padding: 0;
  }
}

.bid-modal {
  top: 0;

  .list {
    margin-bottom: 0;

    > a.item {
      padding: 0;

      &.thumbnail {
        height: 150px;

        .description.div {
          color: $gray;
          width: 120px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.desc {
        white-space: normal;
        padding: 10px;
        font-size: 0.9em;
        border: 0;
      }
    }
  }

  .bid-amount {
    width: 150px;
    margin: auto;

    a {
      float: left;
    }

    input {
      margin: 0 10px;
      width: 80px;
      float: left;
      height: 4em;
      font-size: 25px;
      padding-bottom: 40px;
    }
  }
}

.slider-tabs-menu {
  text-align: center;
  padding: 0;
  > li {
    border: 0 none;
    padding: 0;

    &.active {
      background-color: #555;
      color: #fff;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        top: 34px;
        background-color: #555;
        transform: rotate(45deg);
        width: $measure-unit;
        height: $measure-unit;
        display: inline-block;
      }
    }

    > a {
      padding: $measure-unit;
      display: block;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.transparent {
  background: transparent !important;
}

.search-center-icon {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  background-color: $red;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
}

.search-radius-controller {
  position: absolute;
  width: 114px;
  background-color: #fff;
  z-index: 100;
  top: -40px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 2px 3px 33px 1px #888;

  input[type=number] {
    width: 40px;
    display: inline-block;
    height: 25px;
  }

  a.button {
    min-height: 20px;
    color :#555;
    line-height: 20px;

    &:before {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.search-marker-label {
  font-size: 11px;
  font-weight: bold;
  color: #fff;
}

.edit-modal {
  border-top: 4px solid #d46220;

  ion-header-bar {
    border: 0 none;
  }
}

@mixin parking-sign($size: $lg-jumbo-measure-unit, $icon: false) {

  $width: $size * 3 / 4; // 3:4 image scale
  $height: $size;
  $font-size: $size * 0.8;

  @if ($icon == true) {
    $font-size: $size * 0.5;
  }

  color: #23467C;
  font-weight: bold;
  width: $width;
  height: $height;
  line-height: $height;
  text-align: center;
  border-radius: 4px;
  font-family: sans-serif;
  margin-right: 10px;
  border: 1px solid #23467C;
  box-shadow: 2px 2px 8px 1px #ddd;
  display: inline-block;
  font-size: $font-size;

}

.parking-sign {
  @include parking-sign($lg-jumbo-measure-unit, true);
}


@mixin parking-spot-info-box($size: 'normal') {
  $cur-font: $lg-font-size;

  @if ($size == 'small') {
    $cur-font: $lg-font-size * 0.8;
  }

  @if ($size == 'normal') {
    .parking-sign.small {
      @include parking-sign(110px);
    }
  } @else if ($size == 'small') {
    .parking-sign.small {
      @include parking-sign(93px);
    }
  }

  .parking-spot-details {
    @if ($size == 'normal') {
      margin-top: $measure-unit;
    } @else if ($size == 'small') {
      margin-top: 0;
    }
    border: 0 none;
    padding: $measure-unit;
    z-index: 3;
    background-color: transparent;

    .col {
      padding: 0;
    }

    h1 {
      color: $red;
      font-size: $xlg-font-size;
      @if ($size == 'normal') {
        margin-top: $measure-unit;
      } @else if ($size == 'small') {
        margin-top: 0;
      }
    }

    p {
      @if ($size == 'normal') {
        margin-bottom: $measure-unit;
      } @else if ($size == 'small') {
        margin-bottom: 0;
      }
    }

    h2 {
      font-size: $cur-font;
      @if ($size == 'small') {
        margin-bottom: 0;
      }
    }

    .currency {
      font-size: $cur-font;
    }
  }

  .watermark {
    position: absolute;
    bottom: 30px;
    color: #ddd;
    right: -10px;
    z-index: 2;
    font-size: 7em;
  }
}

parking-spot-info-box {
  @include parking-spot-info-box();
}

parking-spot-info-box.small {
  @include parking-spot-info-box('small');
}

.parking-space-big-thumbnail {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20%;
}

.ps-control-buttons {
  border: 0;
  background-color: transparent;
  padding: 0;
  height: auto;

  .button-bar {
    .button {
      border: 0;
      background-color: #fff;
      min-height: 33px;
      line-height: 33px;
      font-size: 14px;
      z-index: 10;

      &.icon-center {
        font-size: 20px;
      }

      &.activated {
        background-color: #eee;
      }
      &:after {
        line-height: 33px;
      }

      &:before {
        line-height: 33px;
      }

      &:first-child {
        border-right: 1px solid #ddd;
      }
    }
  }
}

.parking-spot-marker {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;
  top: 120px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  height: 74px;

  .parking-area-pointer {
    position: absolute;
    left: -40px;
    top: 23px;
    font-size: 1em;
  }

  .parking-area {
    background-color: rgba($blue, 0.34);
    border-radius: 3px;
    color: #333;
  }

  i {
    font-size: 0.75em;
    position: relative;

    &.top-right {
      top: -10px;
      right: -4px;
    }

    &.top-left {
      top: -11px;
      left: -1px;
    }

    &.bottom-right {
      bottom: -10px;
      right: -5px;
    }

    &.bottom-left {
      bottom: -10px;
      left: -1px;
    }
  }

  span {
    font-size: 1.5em;
    display: block;
    width: 80%;
    margin: auto;
  }

}

.fa-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fa-rotate-135 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}