<div class="d-none d-lg-flex full-height flex-column justify-content-center align-items-center faq ">

  <div class="pricing-icon large-icon">
    <img src="<%= image_path 'credit_card_plain.png' %>">
  </div>
</div>