<div ng-controller="AccountCtrl">

  <div class="hamburger d-md-none">
        <span ng-click="openMenu()">
            <i class="pac-nav fa fa-bars fa-2x "></i>
        </span>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-md-3 mt-5 text-center">
      <img class=" pt-3" src="<%= image_path 'credit_card_plain.png' %>">
    </div>
    <div class="col-12 col-md-8 col-lg-6 mt-5 px-3">
      <div class="panel">
        <h4 class="text-center">Sold disponibil</h4>
        <h2 class="text-center display-4 text-primary mb-3">
          <b>{{sum | units}}</b>.<small>{{sum | subunits}}</small> {{account.currency}}
        </h2>

        <div class="d-flex align-items-center flex-column">
          <div id="waitingBalance" data-toggle="tooltip" title="Sume plătite pentru rezervările în curs sau rezervări viitoare. Acești bani nu pot fi retrași">
            <h5 class="text-center"><span class="text-muted"> Sold în așteptare <i class="fa fa-question-circle"></i></span></h5>
            <h3 class="text-center font-weight-light text-muted">
              <b class="">{{account.amount_pending | units}}</b>.<small class="">{{account.amount_pending |
              subunits}}</small> {{account.currency}}
            </h3>
          </div>
        </div>

      </div>
      <div class="mt-3 d-flex justify-content-around flex-wrap">
        <ul class="nav nav-pills nav-fill" role="tablist">
          <li class="nav-item ">
            <a href="" ui-sref=".withdraw" data-toggle="tab" role="tab" class="nav-link " ui-sref-active="active">
              <i class="fa fa-credit-card"></i> Retrage banii
            </a>
          </li>
          <li class="nav-item">
            <a href="" ui-sref=".withdrawals" data-toggle="tab" role="tab" class="nav-link" ui-sref-active="active">
              <i class="fa fa-upload"></i> Listă retrageri
            </a>
          </li>
          <li class="nav-item">
            <a href="" ui-sref=".payments-received" data-toggle="tab" role="tab" class="nav-link" ui-sref-active="active">
              <i class="fa fa-list"></i> Plăți primite
            </a>
          </li>
          <li class="nav-item">
            <a href="" ui-sref=".payments" data-toggle="tab" role="tab" class="nav-link" ui-sref-active="active">
              <i class="fa fa-list"></i> Plăți efectuate
            </a>
          </li>
        </ul>
      </div>

      <ui-view name="financial"></ui-view>
    </div>
  </div>
</div>

