<div class="animated fadeIn container" ng-controller="ConfirmPhoneCtrl">
  <div class=" mt-md-5 py-3 py-md-4 col-md-8 col-lg-6 m-auto">

    <h3 class="mt-2"> Confirmare număr telefon</h3>

    <hr/>

    <div class="form-group mt-5 row">
      <div class="col-4 text-center border-right ">
        <img src="<%= image_path 'phone_and_sms_xs.png' %>" height="100px"/>
      </div>
      <div class="col-8 border-left">
        <label for="phoneNumber">Introduceți codul primit prin SMS:</label>
        <input class="form-control form-control-lg code-confirm"
               autocomplete="none"
               autocorrect="none"
               autocapitalize="none"
               autofocus="autofocus"
               ng-model="confirmationCode"
               required maxlength="4"
               minlength="4">
      </div>
    </div>

    <div class="text-center d-flex justify-content-around">
      <button class="btn btn-primary btn-lg" ng-click="validateCode()">
        <i class="fa fa-spinner loading-spinner fa-spin"></i>
        Validează
      </button>
    </div>


    <hr class="my-4"/>

    <form name="phoneConfirmation" id="phoneConfirmation" novalidate="novalidate">
      <div class="form-row">
        <div class="col-12">
          <label for="phoneNumber">Număr telefon:</label>
          <input-phone-number user="user">
        </div>
      </div>

      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-info" ng-click="resendCode()">Trimite cod nou</button>
      </div>

    </form>
  </div>
</div>