<div class="ps-modal">

    <div ng-controller="DeleteParkingSpaceCtrl" class="m-4 mt-5 p-3">
        <h4>
           Ești sigur ca vrei să ștergi acest loc ?
        </h4>

        <hr/>
        <parking-spot-info-box space="selectedSpace" ></parking-spot-info-box>

        <div class="ps-control-buttons">
            <div class="button-bar">
                <button class="btn btn-danger" ng-click="deleteSpace(selectedSpace)">
                    <i class="fa fa-trash"></i> Șterge
                </button>
                <button class="btn btn-secondary" ui-sref="^">Anulează</button>
            </div>
        </div>
    </div>
</div>
