<div ng-controller="MainCtrl" class="full-height">


  <!-- Notification messages -->
  <div class="notification-area animated zoomIn">
    <div class="notification-message error" ng-show="errMsg.length">
      <ul>
        <li ng-repeat="msg in errMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message notification" ng-show="notifMsg.length">
      <ul>
        <li ng-repeat="msg in notifMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsg.length">
      <ul>
        <li ng-repeat="msg in warningMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsgHtml.length">
      <ul>
        <li ng-repeat="msg in warningMsgHtml">
          <span ng-bind-html="msg"></span>
        </li>
      </ul>
    </div>
  </div>


  <div class="row no-gutters" ui-sref-active="{'menu-hidden':'home.login'}">

    <!-- Navigation drawer menu -->
    <div id="drawer" class="menu d-flex flex-column col-auto col-md-12" ng-click="closeMenu()">
      <div class="logo p-5 d-md-none text-center " ui-sref="home.search">
        <img src="<%= image_path 'logo_sm_dark.png' %>">
      </div>
      <ul class="d-md-flex m-md-0 justify-content-md-end ">
        <li ui-sref="home.search" ui-sref-active="selected">
          <i class="fa fa-map-o"></i>
          Hartă
        </li>
        <li class="selected" ui-sref="home.myposts" ui-sref-active="selected">
          <i class="fa fa-car"></i>
          Locurile mele
        </li>
        <li ui-sref="home.myoffers" ui-sref-active="selected">
          <i class="fa fa-calendar"></i>
          Rezervările mele
        </li>
        <li ui-sref="home.search.myaccount" ui-sref-active="selected" class="d-md-none">
          <i class="fa fa-user"></i>
          Setări utilzator
        </li>
        <li ui-sref="home.account" ui-sref-active="selected">
          <i class="fa fa-credit-card"></i>
          Plăți și facturi
          <!--<span class="badge badge-warning badge-pill">14</span>-->
        </li>
        <li ng-click="logout()">
          <i class="fa fa-sign-out"></i>
          Logout
        </li>
      </ul>
      <ul class="terms border-top d-md-none " ui-sref-active="selected" ui-sref="home.search.terms">
        <li>
          <i class="fa fa-file"></i> Termeni si condiții Go-Park
        </li>
      </ul>
    </div>
    <div class="drawer" ng-click="closeMenu()"></div>
    <!-- End navigation drawer menu -->

  </div>
  <div class="row pos-relative no-gutters justify-content-center">
    <!-- left side details -->
    <div class="d-none d-lg-block col-lg-4" id="left-side-menu" ui-sref-active="{'menu-hidden':'home.login', 'menu-hidden-2':'home.register'}">
      <ui-view ng-if="desktopScreen" name="left-side-menu"></ui-view>
    </div>
    <!-- End left side details -->


    <div class="col-md-12 col-lg-8 scroll" style="overflow: visible">
      <ui-view name="my-menu"></ui-view>

      <ui-view name="content">

        <!-- map loading blanket  -->
        <h1 class="full-height map-loading d-flex align-items-center justify-content-center" id="mapBlanket">
          <i class="fa fa-2x fa-spinner fa-spin text-secondary"></i>
        </h1>

      </ui-view>
    </div>
  </div>
</div>
