<div ng-controller="LoginCtrl" class="container register">

  <div class="text-center p-4 p-md-5">
    <img width="200" src="<%= image_path 'logo_xs.png' %>">
  </div>

  <div id="login" class="row justify-content-center ">

    <div class="col-10 col-sm-7 col-md-6 col-lg-4 text-center">
      <h3>Bine ai venit !</h3>

      <div class="form-group">
        <input type="text" class="user-name form-control form-control-lg" placeholder="Email" ng-model="userName" required/>
      </div>

      <div class="form-group">
        <input type="password" class="password form-control  form-control-lg" placeholder="Parolă" ng-model="password" required/>
      </div>
      <a onclick="$('#recoverPassword').show();" class="recover-pw-link">Recuperare parolă</a>


      <button class="btn btn-lg mt-5 btn-block btn-danger" ng-click="login()">
        <i class="fa fa-spinner loading-spinner fa-spin"></i>
        Login
      </button>

      <div class="my-4 my-sm-5 ">sau</div>

      <button class="btn btn-lg btn-block btn-primary" ng-click="loginWithFb()">
        <i class="fa fa-spinner loading-spinner fa-spin"></i> Login via Facebook
      </button>

      <button class="btn btn-lg  btn-block btn-primary" ui-sref="home.register">
        <i class="fa fa-spinner loading-spinner fa-spin"></i> Înregistrare
      </button>

      <div id="recoverPassword" class="ps-dialog">
        <div class="ps-dialog-content">
          <div class="ps-question">
            <div class="py-2">
            Te rugăm introdu adresa de email
            </div>
            <input type="text" class="form-control"
                   placeholder="Email" ng-model="recoveryEmail" name="email" required
                   minlength="5"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
          </div>
          <div class="ps-control-buttons">
            <div class="p-2 d-flex justify-content-around">
              <a tabindex class="btn btn-primary" ng-click="recoverPassword();">Ok</a>
              <a tabindex class="btn btn-secondary" onclick="$('#recoverPassword').hide()">Anulare</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
