<div class="full-height" ng-controller="MapCtrl">
    <div id="map">
        <div id="pac-container">
            <input type="text" id="pac-input" placeholder="Search for location ...">
            <span>
                <i class="pac-nav fa fa-bars fa-2x" ng-click="gotoOffersOrSpaces()"></i>
                <i id="notifmyposts" class="notif-icon" ng-show="showNotif()" ng-click="gotoOffersOrSpaces()"></i>
            </span>
        </div>
        <map on-create="mapCreated(map, overlay, geocoder)"></map>
    </div>
    <ui-view name="map-controls"></ui-view>
</div>