<div ng-controller="MyOffersCtrl">

    <div class="container open-offers-list">
        <div class="scroll" id="my-bids-list">

            <div class="no-items-msg loading-finished" ng-hide="spaces.length"> Nu ai nici o rezervare activă.</div>


            <div class="bids-area mt-4 mt-md-5 pb-3 " ng-repeat="space in spaces| orderBy: 'timestamp'">
                <h4 class="bid-title">
                    {{space.title}} -
                    <span class="bid-amount">
                     {{space.price | units  }}.<small>{{space.price | subunits}}</small>
                      {{space.currency}} / h
                 </span>
                </h4>
                <div class="bid-table " ng-show="space.offers.length">
                    <div class="offer d-flex justify-content-between" ng-click="selectOffer(offer, space)"
                         ng-repeat="offer in space.offers | orderBy: 'timestamp'"
                         ng-class="{selected: selOffer == offer}">
                        <span class="offer-price">
                            {{offer | totalPrice}}
                        </span>

                        <span>
                            {{offer | totalPeriod}}
                        </span>
                        <span class="pull-right offer-accept">
                            <i class="accepted" ng-show="offer.approved">Acceptat</i>
                            <i ng-show="!offer.approved"> În așteptare </i>
                        </span>

                    </div>
                </div>
                <div class="mt-3 ">
                    <button class="btn btn-primary ">
                        <i class="fa fa-credit-card"></i> Plătește online
                    </button>
                    <a tabindex ng-href="tel:{{space.owner_phone_number}}" class="btn btn-secondary ">
                        <i class="fa fa-phone"></i> Apelează propr.
                    </a>
                </div>
            </div>
        </div>

        <div class="ps-dialog mt-5" id="showPhoneNumber">
            <div class="ps-dialog-content animated zoomIn">
                <div class="ps-question">
                    <parking-spot-info-box space="selectedSpace" " ></parking-spot-info-box>
                    <hr/>
                    <div class="row ps-row">
                        <div class="col-4">Perioada</div>
                        <div class="col-8">
                            {{selOffer | totalPeriod}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Start</div>
                        <div class="col-8">
                            {{selOffer.start_date | moment: 'ddd, D MMM, HH:mm'}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Stop</div>
                        <div class="col-8">
                            {{selOffer.end_date | moment: 'ddd, D MMM, HH:mm'}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">
                            Taxare
                        </div>
                        <div class="col-8">
                            La 15 min
                        </div>
                    </div>
                    <div class="mt-3 pt-3 text-center" ng-hide="selOffer.approved">
                        <h5>Oferta nu a fost încă acceptată</h5>
                        <div class="ps-text-xxbig">
                            :(
                        </div>
                    </div>
                    <div  class="mt-3 pt-3 text-center"  ng-show="selOffer.approved">
                        <h5>Apelează <br/> {{selectedSpace.owner_name}} </h5>
                        <div class="ps-text-xbig">
                            <a ng-href="tel:{{selectedSpace.owner_phone_number}}">
                                <i class="fa fa-phone"></i>
                                {{selectedSpace.owner_phone_number}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ps-control-buttons">
                    <button class="btn  btn-secondary" onclick="$('#showPhoneNumber').hide()">Înapoi</button>
                </div>
            </div>
        </div>
    </div>
    <ui-view name="help"></ui-view>
</div>

