<div ng-controller="MyOffersCtrl" class="row no-gutters">

  <div class="hamburger d-md-none">
        <span ng-click="openMenu()">
            <i class="pac-nav fa fa-bars fa-2x "></i>
        </span>
  </div>

  <div class="d-md-none col-lg-4 d-lg-flex left-side-menu ">
    <img src="<%= image_path 'map_plain' %>" class="rounded-circle mb-5 " height="100" width="100">

    <h3 class="py-3 mb-0">
      <i class="fa fa-calendar text-success"></i>
      <small class="text-secondary"> Rezervarile mele </small>
    </h3>

    <div ng-repeat="space in futureSpaces" class="future-offer-suggestion" ng-click="zoomTo(space)">
      <div class="py-2">
          <u>{{space.title}}</u>
          <div ng-repeat="offer in space.futureOffers">
            <span>- peste {{timeUntilStart(offer)}} </span>
          </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-8 ">
    <div class="px-3 pt-0 spaces-list  pt-lg-3">
      <h4 class="py-3 mb-0 d-lg-none">
        <i class="fa fa-calendar text-success"></i>
        <small class="text-secondary"> Rezervarile mele </small>
      </h4>
      <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item ">
          <a href="" id="activeTab" data-target="#active" data-toggle="tab" role="tab"
             class="nav-link active">
            In curs <span class="badge badge-danger">{{activeSpaces.length}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="" id="futureTab" data-target="#future" data-toggle="tab" role="tab" class="nav-link">
            Viitoare <span class="badge badge-dark">{{futureSpaces.length}}</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="" id="pastTab" data-target="#past" data-toggle="tab" role="tab" class="nav-link">
            Trecute <span class="badge badge-dark">{{pastSpaces.length}}</span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade show active" id="active" role="tabpanel">
          <h5 class="text-center p-3 text-muted mt-3" ng-hide="activeSpaces.length">
            <i class="fa fa-ban"></i> Nicio rezervare curentă
          </h5>

          <div class="bids-area panel mt-3 " ng-repeat="space in activeSpaces " ng-click="zoomTo(space)">

            <!-- title -->
            <h6 class="py-1 bid-title">
              {{space.address_line_1}} -
              <span class="bid-amount">{{space.price | units  }}.<small>{{space.price | subunits}}</small>
                            {{space.currency}} / h</span>
            </h6>

            <div class="d-flex" >
              <reviews space="space" on-click="showReviewForm(space)"></reviews>
              <u> Adaugă review </u>
            </div>

            <!-- thumbnails -->
            <div class="d-flex mt-2 flex-nowrap scroll-x">
              <i class="fa fa-3x fa-photo py-3 text-muted" ng-if="!space.images.length"></i>
              <div ng-repeat="img in space.images" ng-if="space.images.length">
                <div class="img-container">
                  <img ng-click="showFullImageThumb($event,space)"
                       ng-src="https://res.cloudinary.com/{{cloudName}}/image/upload/q_auto,f_auto,w_150/{{img.name}}">
                </div>
              </div>
            </div>

            <bid-table offers="space.activeOffers" space="space"></bid-table>


            <!-- payment -->
            <div ng-if="!space.activeOffers[0].paid" class="text-center"
                 ng-click="pay(space,space.activeOffers[0])">
              <!-- only one unpaid offer should be present per space-->
              <a href class="btn btn-block btn-link animated zoomIn">
                <i class="fa fa-credit-card"></i> Plătește
              </a>
            </div>


            <!-- Action buttons for offer -->
            <div class="mt-3 d-flex justify-content-center">
              <a tabindex ng-href="tel:{{space.owner_prefix + space.owner_phone_number}}"
                 class="btn btn-link animated zoomIn">
                <i class="fa fa-phone"></i> Apel propr.
              </a>
              <a href="https://www.google.com/maps/dir/?api=1&destination={{space.location_lat}},{{space.location_long}}"
                 class="btn btn-link  animated zoomIn">
                <i class="fa fa-location-arrow "></i> Navighează la parcare
              </a>
            </div>
          </div>

        </div>
        <div class="tab-pane fade pb-2" id="future" role="tabpanel">
          <h5 class="text-center p-3 text-muted mt-3" ng-hide="futureSpaces.length">
            <i class="fa fa-ban"></i> Nicio rezervare
          </h5>
          <div class="bids-area panel mt-3 " ng-repeat="space in futureSpaces " ng-click="zoomTo(space)">

            <h6 class="pb-1 bid-title">
              {{space.address_line_1}} -
              <span class="bid-amount">{{space.price | units  }}.<small>{{space.price | subunits}}</small>
                             {{space.currency}} / h</span>
            </h6>

            <reviews space="space" on-click="showReviewForm(space)"></reviews>


            <!-- thumbnails -->
            <div class="d-flex mt-2 flex-nowrap scroll-x">
              <i class="fa fa-3x fa-photo py-3 text-muted" ng-if="!space.images.length"></i>
              <div ng-repeat="img in space.images" ng-if="space.images.length">
                <div class="img-container">
                  <img ng-click="showFullImageThumb($event,space)"
                       ng-src="https://res.cloudinary.com/{{cloudName}}/image/upload/q_auto,f_auto,w_150/{{img.name}}">
                </div>
              </div>
            </div>

            <bid-table offers="space.futureOffers" space="space"></bid-table>

            <!-- Action buttons for offer -->
            <div class="mt-3 d-flex justify-content-center">
              <a tabindex ng-href="tel:{{space.owner_prefix + space.owner_phone_number}}"
                 class="btn btn-link animated zoomIn">
                <i class="fa fa-phone"></i> Apel propr.
              </a>
              <a href="https://www.google.com/maps/dir/?api=1&destination={{space.location_lat}},{{space.location_long}}"
                 class="btn btn-link  animated zoomIn">
                <i class="fa fa-location-arrow "></i> Navighează la parcare
              </a>
            </div>
          </div>
        </div>

        <div class="tab-pane fade pb-2" id="past" role="tabpanel">
          <h5 class="text-center p-3 text-muted mt-3" ng-hide="pastSpaces.length">
            <i class="fa fa-ban"></i> Nicio rezervare
          </h5>
          <div class="bids-area panel mt-3 " ng-repeat="space in pastSpaces " ng-click="zoomTo(space)">

            <h6 class="pb-1 bid-title">
              {{space.address_line_1}} -
              <span class="bid-amount">{{space.price | units  }}.<small>{{space.price | subunits}}</small>
                             {{space.currency}} / h</span>
            </h6>

            <reviews space="space" on-click="showReviewForm(space)"></reviews>


            <!-- thumbnails -->
            <div class="d-flex mt-2 flex-nowrap scroll-x">
              <i class="fa fa-3x fa-photo py-3 text-muted" ng-if="!space.images.length"></i>
              <div ng-repeat="img in space.images" ng-if="space.images.length">
                <div class="img-container">
                  <img ng-click="showFullImageThumb($event,space)"
                       ng-src="https://res.cloudinary.com/{{cloudName}}/image/upload/q_auto,f_auto,w_150/{{img.name}}">
                </div>
              </div>
            </div>

            <bid-table offers="space.pastOffers" space="space"></bid-table>

            <!-- Action buttons for offer -->
            <div class="mt-3 d-flex justify-content-center">
              <a tabindex ng-href="tel:{{space.owner_prefix + space.owner_phone_number}}"
                 class="btn btn-link animated zoomIn">
                <i class="fa fa-phone"></i> Apel propr.
              </a>
              <a href="https://www.google.com/maps/dir/?api=1&destination={{space.location_lat}},{{space.location_long}}"
                 class="btn btn-link  animated zoomIn">
                <i class="fa fa-location-arrow "></i> Navighează la parcare
              </a>
            </div>
          </div>
        </div>
      </div>


      <!-- payment dialog outside spaces loop-->
      <ui-view name="pay"></ui-view>


      <review-form  ></review-form>
    </div>
  </div>
  <!-- Additional info dialog -->

  <ui-view name="help"></ui-view>
</div>

