<div ng-controller="MyOffersCtrl">

    <div class="container open-offers-list">

        <div class="no-items-msg loading-finished" ng-hide="spaces.length"> Nu ai nici o rezervare activă.</div>



        <div class="bids-area mt-4 mt-md-5 pb-3 panel "
             ng-repeat="space in spaces | addressFilter:selectedAddress | periodFilter : dateFilter: 'checkOffers'  ">
            <h6 class="pb-1 bid-title">
                {{space.address_line_1}} -
                <span class="bid-amount">
                     {{space.price | units  }}.<small>{{space.price | subunits}}</small>
                      {{space.currency}} / h
                 </span>
            </h6>
            <div class="bid-table " ng-show="space.offers.length">
                <div class="offer d-flex justify-content-between" ng-click="selectOffer(offer, space)"
                     ng-repeat="offer in space.offers | periodFilterOffers:dateFilter | orderBy: 'timestamp'"
                     ng-class="{selected: selOffer == offer}">

                        <span class="offer-price" ng-class="{canceled : !offer.approved}">
                            {{offer.amount}} {{ space.currency }}
                        </span>

                    <span ng-class="{canceled : !offer.approved}">
                            {{ expiration(offer) }}
                        </span>
                    <span>
                            <button class="btn btn-sm btn-link" onclick="$('#showPhoneNumber').show()">Detalii</button>
                        </span>

                </div>
            </div>

            <!-- Action buttons for offer -->
            <div class="mt-3 d-flex justify-content-center">
                <button class="btn btn-primary animated zoomIn" ui-sref=".pay({offer: selOffer,space:space})"
                        ng-if="payButtonAvailable(space,selOffer)">
                    <i class="fa fa-credit-card"></i> Plătește
                </button>
                <button class="btn btn-link animated zoomIn"
                        ng-if="offerIsForSpace(space,selOffer) && !payButtonAvailable(space,selOffer)">
                    <i class="fa fa-credit-card"></i> Achitat
                </button>
                <a tabindex ng-href="tel:{{space.owner_phone_number}}" class="btn btn-link animated zoomIn">
                    <i class="fa fa-phone"></i> Apel propr.
                </a>
                <button class="btn btn-link animated zoomIn"
                        ui-sref="home.map.search({lat:space.location_lat, lng:space.location_long,zoom: 18 })">
                    <i class="fa fa-map"></i> Vezi harta
                </button>
            </div>
        </div>


        <!-- payment dialog outside spaces loop-->
        <ui-view name="pay"></ui-view>
        <!-- Additional info dialog -->
        <div class="ps-dialog mt-5" id="showPhoneNumber">
            <div class="ps-dialog-content animated zoomIn">
                <div class="ps-question">
                    <parking-spot-info-box space="selectedSpace" class="mb-3"></parking-spot-info-box>
                    <hr/>
                    <div class="row ps-row">
                        <div class="col-4">Durata</div>
                        <div class="col-8">
                            {{selOffer | totalPeriod}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Start</div>
                        <div class="col-8">
                            {{selOffer.start_date | moment: 'ddd, D MMM, HH:mm'}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Stop</div>
                        <div class="col-8">
                            {{selOffer.end_date | moment: 'ddd, D MMM, HH:mm'}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">
                            Status
                        </div>
                        <div class="col-8">
                            <span ng-show="selOffer.approved" class="text-success">Acceptat</span>
                            <span ng-show="selOffer.canceled" class="text-danger">Anulat</span>
                            <span ng-show="selOffer.rejected" class="text-danger">Respins</span>
                            &nbsp;
                            <button ng-show="selOffer.approved" class="btn btn-danger btn-sm"
                                    ng-click="cancelOffer(selOffer)">Anulează
                            </button>
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">
                            Taxare
                        </div>
                        <div class="col-8">
                            La 15 min
                        </div>
                    </div>
                    <div class="mt-3 pt-3 text-center" ng-hide="selOffer.approved">
                        <h5>Oferta nu a fost încă acceptată</h5>
                        <div class="ps-text-xxbig">
                            :(
                        </div>
                    </div>
                    <div class="mt-3 pt-3 text-center" ng-show="selOffer.approved">
                        <h5>Apelează <br/> {{selectedSpace.owner_name}} </h5>
                        <div class="ps-text-xbig">
                            <a ng-href="tel:{{selectedSpace.owner_phone_number}}">
                                <i class="fa fa-phone"></i>
                                {{selectedSpace.owner_phone_number}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ps-control-buttons">
                    <button class="btn  btn-secondary" onclick="$('#showPhoneNumber').hide()">Înapoi</button>
                </div>
            </div>
        </div>
    </div>
    <ui-view name="help"></ui-view>
</div>

