<div ng-controller="MyOffersCtrl">

    <div class="container open-offers-list">

        <div class="no-items-msg loading-finished" ng-hide="spaces.length"> Nu ai nici o rezervare activă.</div>


        <div class="bids-area mt-4 mt-md-5 pb-3 panel "
             ng-repeat="space in spaces | addressFilter:selectedAddress | periodFilter : dateFilter: 'checkOffers'  ">
            <h6 class="pb-1 bid-title">
                {{space.address_line_1}} -
                <span class="bid-amount">
                     {{space.price | units  }}.<small>{{space.price | subunits}}</small>
                      {{space.currency}} / h
                 </span>
            </h6>
            <bid-table no-contact  space="space"></bid-table>

            <!-- Action buttons for offer -->
            <div class="mt-3 d-flex justify-content-center">
                <button class="btn btn-primary animated zoomIn" ui-sref=".pay({offer: selOffer,space:space})"
                        ng-if="payButtonAvailable(space,selOffer)">
                    <i class="fa fa-credit-card"></i> Plătește
                </button>
                <button class="btn btn-link animated zoomIn"
                        ng-if="offerIsForSpace(space,selOffer) && !payButtonAvailable(space,selOffer)">
                    <i class="fa fa-credit-card"></i> Achitat
                </button>
                <a tabindex ng-href="tel:{{space.owner_phone_number}}" class="btn btn-link animated zoomIn">
                    <i class="fa fa-phone"></i> Apel propr.
                </a>
                <button class="btn btn-link animated zoomIn"
                        ui-sref="search({lat:space.location_lat, lng:space.location_long,zoom: 18 })">
                    <i class="fa fa-map"></i> Vezi harta
                </button>
            </div>
        </div>


        <!-- payment dialog outside spaces loop-->
        <ui-view name="pay"></ui-view>

    </div>
    <!-- Additional info dialog -->

    <ui-view name="help"></ui-view>
</div>

