<div ng-controller="MyPostsCtrl">

    <div class="list open-spaces-list scroll container">
        <div class="item panel mb-3 mb-md-4"
             ng-repeat="space in spaces | addressFilter:selectedAddress  | periodFilter:dateFilter">
            <parking-spot-info-box ng-click="show(space,'item-'+$index)" space="space" thumbnail-modal="true"></parking-spot-info-box>
            <hr class="mb-2"/>
            <div class="d-flex justify-content-around justify-content-sm-center">
                <button class="btn btn-link" ng-click="show(space,'item-'+$index)">
                    <i class="fa fa-money"></i>
                   {{space.offers.length}} Oferte
                </button>
                <button class="btn btn-link" ui-sref=".edit({parking_space_id: space.id})">
                    <i class="fa fa-edit"></i> Modifică
                </button>
                <button class="btn btn-link " ui-sref="home.search({lat:space.location_lat, lng:space.location_long,zoom: 19 })">
                    <i class="fa fa-map"></i>
                    Vezi harta
                </button>
            </div>

            <div class="panel-body" id="item-{{$index}}">
                <div ng-repeat="offer in space.offers" class="offer pb-3 row">
                    <h5 class="col-12"> {{offer.owner_name}}
                    </h5>

                    <div class="col-6">
                        Pret total
                        <h5> {{offer.amount}} {{space.currency}}</h5>
                    </div>
                    <div class="col-6">
                        Durata
                        <h5>{{offer | totalPeriod }}</h5>
                    </div>
                    <div class="col-6">
                        Start
                        <div>{{offer.start_date |moment: 'ddd, D MMM, HH:mm'}}</div>
                    </div>
                    <div class="col-6">
                        Stop
                        <div>{{offer.end_date | moment: 'ddd, D MMM, HH:mm'}}</div>
                    </div>

                    <div class="col-12 mt-3 text-center">
                        <h5 ng-show="!offer.paid"> Neachitat
                            <br/>
                            <small class="font-weight-light"> (Se achită cash proprietarului)</small>
                        </h5>
                        <h5 ng-show="offer.paid"> Achitat online
                            <br/>
                            <small class="font-weight-light">  ( La data de {{offer.payment_date | moment: 'D/MM HH:mm'}}) </small>
                        </h5>
                    </div>
                    <div class="col-12 mt-3 text-center">
                        <button ng-hide="offer.approved" ng-click="acceptOffer(space,offer)"
                                class="btn btn-primary btn-sm">
                            Accepta oferta
                        </button>
                        <button ng-show="offer.approved && !phoneShow" ng-click="phoneShow = true"
                                class="btn btn-info btn-sm">
                            <i class="fa fa-phone"></i> Arata nr tel
                        </button>
                        <a ng-href="tel:{{offer.phone_number}}" class="btn btn-lg btn-link animate zoomIn" ng-show="phoneShow">
                            <i class="fa fa-phone"></i> {{offer.phone_number}}
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="no-items-msg loading-finished" ng-hide="spaces.length">
            Nu ai postat un loc, sau acestea au expirat.
            Ajută la descongestionarea traficului și rotunjește-ți veniturile
            <u>
                <a ui-sref="home.search">
                    postând un loc.
                </a>
            </u>
        </div>

    </div>

    <ui-view name="edit-space"></ui-view>
    <ui-view name="edit-user"></ui-view>
    <ui-view name="help"></ui-view>
</div>
