<div class="p-3 spaces-list" ng-controller="MyPostsCtrl">
  <div class="no-items-msg loading-finished" ng-hide="spaces.length">
    Nu ai postat un loc, sau acestea au expirat.
    Ajută la traficul și rotunjește-ți veniturile
    <u>
      <a ui-sref="map.search">
        postând un loc.
      </a>
    </u>
  </div>
  <div class="item mb-3 panel p-0" ng-repeat="space in spaces" ng-click="zoomTo(space)">
    <parking-spot-info-box ng-click="show(space,'item-'+$index)" space="space" thumbnail-modal="true"></parking-spot-info-box>
    <hr class="m-0"/>
    <space-status-box space="space"></space-status-box>

    <div class="m-2 text-center">
      <button class="btn btn-outline-primary" ui-sref=".post({spaceId: space.id})">
        <i class="fa fa-edit"></i> Modifică datele locului
      </button>
    </div>
  </div>

  <ui-view name="place-bid"></ui-view>
  <ui-view name="help"></ui-view>
</div>
