<div ng-controller="MyPostsCtrl">

    <div class="list open-spaces-list scroll">
        <span class="item " ng-repeat="space in spaces" ng-click="show(space)">
            <parking-spot-info-box class="small" space="space"></parking-spot-info-box>
            <span class="unread-item-notif" ng-show="unreadNotifications(space)">&nbsp;</span>
            <i class="fa fa-money item-notifications">
                <span> Offers ({{space.offers.length}})</span>
            </i>
            <i class="fa fa-envelope item-notifications">
                <span> Messages (0)</span>
            </i>
        </span>

        <div class="loading-spinner">
            <i class="fa fa-5x fa-refresh"></i>
        </div>
        <div class="no-items-msg loading-finished" ng-hide="spaces.length"> You did not post any spaces.</div>

    </div>

    <div class="post-space-container">
        <div class="post-space" ui-sref="home.myposts.user">
            <i class="fa fa-user"></i> &nbsp; Edit my details
        </div>
        <div class="post-space" ng-click="logout()">
            <i class="fa fa-user"></i> &nbsp; Logout
        </div>
        <div class="post-space" ui-sref="home.map.search">
            <i class="fa fa-arrow-left "></i> &nbsp; Back to search
        </div>
    </div>

    <ui-view name="edit-space"></ui-view>
    <ui-view name="edit-user"></ui-view>
    <ui-view name="help"></ui-view>
</div>
