<div id="pac-container">
  <places-autocomplete css-class="" selected-place="selectPlace(place,location)" place-holder="'Caută adresa si ora ...'"></places-autocomplete>
  <span class="d-md-none" ng-click="openMenu()">
    <i class="pac-nav fa fa-bars "></i>
    <i id="notifmyposts" class="notif-icon d-none"></i>
  </span>
  <div class="loading-container">
    <div id="loading-progress" class="loading-progress"></div>
  </div>
  <div class="d-flex justify-content-around align-items-center">
    <div class="col-6">
      <date-time id="dateFilterStart" class="form-control-lg" date-model="dateFilter.start" day></date-time>
    </div>
    <i class="fa fa-arrows-h"></i>
    <div class="col-6">
      <date-time id="dateFilterStop" class="form-control-lg" date-model="dateFilter.stop" day></date-time>
    </div>
  </div>
</div>