<div ng-controller="NavMenuCtrl"  id="navMenu">
  <div  id="drawer" class="menu d-flex flex-column" ng-click="closeMenu()">
    <div class="logo p-5 d-md-none text-center " ui-sref="search">
      <img src="<%= image_path 'logo_sm_dark.png' %>">
    </div>
    <ul class="">
      <li ui-sref="search" ui-sref-active="selected">
        <i class="fa fa-map-o"></i>
        Hartă
      </li>
      <li class="selected" ui-sref="myposts" ui-sref-active="selected">
        <i class="fa fa-car"></i>
        Locurile mele
      </li>
      <li ui-sref="myoffers" ui-sref-active="selected">
        <i class="fa fa-calendar"></i>
        Rezervările mele
      </li>
      <li ui-sref="search.myaccount" ui-sref-active="selected" class="d-md-none">
        <i class="fa fa-user"></i>
        Setări utilzator
      </li>
      <li ui-sref="account" ui-sref-active="selected">
        <i class="fa fa-credit-card"></i>
        Plăți și facturi
<!--        <span class="badge badge-warning badge-pill">14</span>-->
      </li>
      <li ng-click="logout()">
        <i class="fa fa-sign-out"></i>
        Logout
      </li>
    </ul>
    <ul class="terms border-top d-md-none " ui-sref-active="selected" ui-sref="search.terms">
      <li>
        <i class="fa fa-file"></i> Termeni si condiții Go-Park
      </li>
    </ul>
  </div>
  <div class="drawer" ng-click="closeMenu()"></div>

</div>