<div class="animated zoomIn mt-4" ng-controller="PaymentsReceivedCtrl">

    <div class="bids-area my-3 pb-3 panel p-2">
        <div class="no-items-msg" id="loadingSpinner">
            <i class="fa fa-spin fa-2x text-secondary fa-spinner"></i>
        </div>
        <div class="no-items-msg text-muted" id="loadingFinished" ng-show="!spaces.length">
            <i class="fa fa-ban"></i> Nu ai postat niciun loc de parcare
        </div>

        <div ng-repeat="space in spaces">
            <h6 class="py-2 bid-title mb-0 " style="white-space: inherit" >
                {{space.address_line_1}} -
                <span class="bid-amount ">{{space.price | units  }}.<small>{{space.price | subunits}}</small>
                            {{space.currency}} / h
              </span>

            </h6>
            <div class="text-muted text-center my-2" ng-hide="space.offers.length">
                <i class="fa fa-ban"></i> Nu ai primit nici o plată până acum
            </div>
            <div class="bid-table">
                <div class="offer d-flex justify-content-between p-1 p-md-2" ng-repeat="offer in space.offers">

                    <span class="offer-price">
                    {{offer.amount}} {{ offer.currency }}
                </span>

                    <span class="text-truncate">
                   {{ offer.owner_name }}
                </span>
                    <span>
                   {{ offer.end_date | moment: 'D/MM HH:mm' }}
                </span>
                </div>
            </div>
        </div>
    </div>


</div>