<div class="animated zoomIn mt-4" ng-controller="PaymentsCtrl">

    <h4 class="text-center"> Listă plăți efectuate </h4>
    <div class="no-items-msg loading-finished" ng-hide="payments.length"> Nu ai nici efectuat nici o plată.</div>


    <div class="bids-area mt-4 mt-md-5 pb-3 panel ">
        <div class="no-items-msg" ng-hide="payments.length">
            <i class="fa fa-spin fa-2x text-secondary fa-spinner"></i>
        </div>
        <div class="bid-table " ng-show="payments.length">

            <div class="offer d-flex justify-content-between" ng-repeat="payment in payments"
                 ng-click="selectPayment(payment)" ng-class="{selected: selPayment == payment}">

                    <span class="offer-price">
                        {{payment.amount}} {{ payment.currency_iso_code }}
                    </span>

                    <span>
                            {{ payment.created_at | moment: 'D/MM HH:mm' }}
                    </span>
                <span class="text-capitalize">
                            {{ payment.status}}
                    </span>
                <span>
                        <button class="btn btn-sm btn-link" ng-click="getDetails(payment)">Detalii</button>
                    </span>

            </div>
        </div>
    </div>

    <div class="ps-dialog " id="showDetails">
        <div class="ps-dialog-content animated zoomIn">
            <div class="ps-question">
                <div ng-repeat="detail in paymentDetails">
                    <h5> Linie {{$index}}</h5>
                    <div class="row ps-row">
                        <div class="col-4">Nume</div>
                        <div class="col-8">
                            {{detail.name}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">TVA</div>
                        <div class="col-8">
                            {{detail.tax_amount}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Pret cu TVA</div>
                        <div class="col-8">
                            {{detail.total_amount}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Descriere</div>
                        <div class="col-8">
                            {{detail.description}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="ps-control-buttons">
                <button class="btn  btn-secondary" onclick="$('#showDetails').hide()">Înapoi</button>
            </div>
        </div>
    </div>

</div>