<div class="mt-4" ng-controller="PaymentsCtrl">

    <div class="no-items-msg loading-finished" id="loadingFinished" ng-hide="payments.length"> Nu ai nici efectuat nici o plată.</div>


    <div class="bids-area my-3 pb-3 panel " >
        <div class="no-items-msg" id="loadingSpinner">
            <i class="fa fa-spin fa-2x text-secondary fa-spinner"></i>
        </div>
        <div class="bid-table " ng-show="payments.length">

            <div class="offer d-flex justify-content-between " ng-repeat="payment in payments"
                 ng-click="selectPayment(payment)" ng-class="{selected: selPayment == payment}">

                    <span class="offer-price">
                        {{payment.amount}} {{ payment.currency_iso_code }}
                    </span>

                    <span>
                            {{ payment.created_at | moment: 'D/MM HH:mm' }}
                    </span>
                <span class="text-capitalize text-truncate">
                            {{ payment.status}}
                    </span>
            </div>
        </div>
    </div>

    <div class="ps-dialog " id="showDetails">
        <div class="ps-dialog-content animated zoomIn mb-2">
            <div class="ps-question">
                <div ng-repeat="detail in paymentDetails">
                    <h5> {{detail.name}} </h5>
                    <div class="row ps-row">
                        <div class="col-4">TVA</div>
                        <div class="col-8">
                            {{detail.tax_amount}}N
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Pret cu TVA</div>
                        <div class="col-8">
                            {{detail.total_amount}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Descriere</div>
                        <div class="col-8">
                            {{detail.description}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="ps-control-buttons">
                <button class="btn  btn-secondary" onclick="$('#showDetails').hide()">Înapoi</button>
            </div>
        </div>
    </div>

</div>