<div class="ps-modal " style="overflow: visible">
    <div class="mt-md-4 animated zoomIn" ng-controller="EditParkingSpaceCtrl">
        <form class="form-edit-details" id="postSpaceForm" name="postSpaceForm" novalidate="novalidate">
            <div>
                <h3 class="ps-page-title" ng-hide="editTitle">
                    {{spaceEdit.title}}
                    <i class="fa fa-edit edit-title"
                       ng-click="editTitle = true"></i>

                </h3>
                <div class="input-group" ng-show="editTitle">
                    <input type="text" class="form-control form-control-lg"
                           ng-model="spaceEdit.title">
                    <div class="input-group-append" ng-click="editTitle=false">
                        <span class="input-group-text"><i class="fa fa-check"></i></span>
                    </div>

                </div>

            </div>

            <!-- Step 0 -->
            <div class="container" ng-show="step == 0">

                <div class="form-group row align-items-center">
                    <label for="bidAmount" class="col-form-label col-form-label-lg col-3">Preț:</label>
                    <bid-amount class="col-9" id="bidAmount" bid-amount="spaceEdit.price"
                                bid-currency="spaceEdit.currency"></bid-amount>
                </div>

                <div class="form-group row">
                    <label for="addr" class="col-form-label col-form-label-lg col-3">Adresă:</label>
                    <div class="col-9">
                        <input id="addr" type="text" placeholder="Adresă" class="form-control form-control-lg"
                               ng-model="spaceEdit.address_line_1" required>
                    </div>
                </div>

                <hr/>
                <div class="form-group row">
                    <label class="col-form-label col-form-label-lg col-4"
                           for="dateStart">Disp. din:</label>
                    <div class="col-8">
                        <div class="input-group">
                            <date-time id="dateStart" class="form-control-lg"
                                       date-model="spaceEdit.space_availability_start" day></date-time>
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label  col-form-label-lg col-4 pr-0"
                           for="dateStop">Disp. până la:</label>
                    <div class="col-8">
                        <div class="input-group">
                            <date-time id="dateStop" class="form-control-lg"
                                       date-model="spaceEdit.space_availability_stop" day></date-time>

                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Perioada minimă e de 15 min
                        </div>
                        <span class="form-text text-muted pt-2" ng-click="showSched()">
                            <u>Orar pe zile / ore >> </u>
                        </span>
                    </div>
                </div>

                <!-- Daily and weekly custom schedule -->
                <div id="schedule" class="mt-4" style="display: none;">
                    <div class="form-group row">
                        <label class="col-form-label col-4 pr-2"
                               for="timeStart">Disp. între:</label>
                        <div class="col-8 row no-gutters">
                            <div class="col-5 ">
                                <input id="timeStart" ng-required="scheduleOpen" ng-model="spaceEdit.daily_start"
                                       type="time"
                                       class="form-control">
                            </div>
                            <label class="col-form-label col-2 text-center "
                                   for="timeStop">și</label>
                            <div class="col-5 ">
                                <input id="timeStop" ng-required="scheduleOpen" ng-model="spaceEdit.daily_stop"
                                       type="time"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 text-center">
                            <div class="btn-group week-sched">
                                <label class="btn  btn-lg btn-secondary" ng-model="spaceEdit.weekly_schedule.mon"
                                       uib-btn-checkbox>
                                    Lu
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.tue"
                                       uib-btn-checkbox>
                                    M
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.wed"
                                       uib-btn-checkbox>
                                    Mi
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.thu"
                                       uib-btn-checkbox>
                                    J
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.fri"
                                       uib-btn-checkbox>
                                    V
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.sat"
                                       uib-btn-checkbox>
                                    S
                                </label>
                                <label class="btn btn-lg  btn-secondary" ng-model="spaceEdit.weekly_schedule.sun"
                                       uib-btn-checkbox>
                                    D
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image upload -->
            <div class="ps-modal p-4 d-flex align-items-center" ng-show="showFullImage" id="imgModalDiv">
                <img src="" class="img-fluid mb-1 animated zoomIn" id="imgModal">
                <span>{{spaceEdit.description}}</span>
            </div>

            <!-- Step 1 -->
            <div class="container animated slideInRight" ng-show="step == 1">

                <div class="my-4" id="dropZone">
                    <input id="fileupload" style="display: none" type="file" name="file" multiple max="3"
                           accept="image/*">

                    <div class="my-3 owl-carousel owl-theme" id="thumb1">
                        <div class="add-photo justify-content-center d-flex flex-column" id="addPhotoLink"
                             onclick="$('#fileupload').click()">
                            <i class="fa fa-camera fa-3x"></i>
                            <i class="text">Adaugă foto</i>
                            <i class="text small">(max 3)</i>
                        </div>
                    </div>


                </div>
                <!-- End image upload-->

                <h4>Descrie locul de parcare</h4>
                <div class="form-group row">
                    <div class="col-12">
                        <textarea id="description"
                                  class="form-control" ng-model="spaceEdit.description"
                                  placeholder="Avantaje locație, indicații, sugestii, etc..."></textarea>
                    </div>
                </div>

                <div class="form-group my-4 mark small">
                    <div class="form-check pl-4">
                        <input class="form-check-input" type="checkbox" id="termsAndConditions"
                               ng-model="termsAndConditions" required value="">
                        <label for="termsAndConditions" class="form-check-label">
                            Accept <a class="text-primary" ui-sref="home.search.terms">termenii și condițiile </a>
                            Go-Park și voi respecta orice obligații se regăsesc in acești termeni.
                        </label>
                        <div class="invalid-feedback">
                            Pentru a continua trebuie să accepți termenii si condițiile Go-Park
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="mt-3 ps-control-buttons">
                <button class="btn btn-secondary" ng-show="step == 1" ng-click="prevStep()">
                    <i class="fa fa-angle-double-left"></i>
                </button>
                <button class="btn btn-primary btn-lg"
                        ng-disabled="loading"
                        ng-click="nextStep()">
                    <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                    <span ng-show="step == 1 ">Postează locul</span>
                    <span ng-show="step == 0 ">Următorul </span>
                    <i class="fa fa-angle-double-right" ng-show="step == 0"></i>
                </button>
                <button class="btn btn-secondary btn-lg" ng-click="close()">
                    Anulează
                </button>
            </div>

        </form>
    </div>
</div>
