<div id="search-space" class="ps-modal  animated fadeIn " ng-controller="ReviewBidsCtrl">
  <div class="search-space-modal container animated zoomIn mt-md-4">


    <div class="py-2 text-muted">
      <h3>
        <i class="fa fa-car text-success"></i>
        <small class="px-3">Parcare <b>privată</b></small>
      </h3>
      <div class="small">
        <u>{{selectedSpace.owner_name}}</u>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        <i class="fa fa-star text-warning"></i>
        (0 reviews)
      </div>
    </div>
    <hr class="m-0"/>

    <!-- Parking space info box -->
    <div class="space-detail-content pt-2 " onclick="$(this).find('.desc-container').toggleClass('show')">
      <parking-spot-info-box space="selectedSpace"></parking-spot-info-box>
      <div class="desc-container position-relative" >
        <div id="spaceDesc-{{selectedSpace.id}}"
             ng-show="selectedSpace.description"
             class="border-top border-bottom space-desc px-2 py-1">{{selectedSpace.description}}
        </div>
      </div>
    </div>


    <div class="bids-area mt-3" ng-hide="selectedSpace.from_sensor">
      <!-- table of offers when parking space owner != current user -->
      <ul class="nav nav-pills nav-fill" role="tablist">
        <li class="nav-item ">
          <a href="" id="newTab" data-target="#new" data-toggle="tab" role="tab" class="nav-link nav-new-reservation">
            <i class="fa fa-plus"></i> Rezervare nouă
          </a>
        </li>
        <li class="nav-item ">
          <a href="" id="activeTab" data-target="#active" data-toggle="tab" role="tab" class="nav-link active">
            Rezervări In curs <span class="badge badge-danger">{{activeOffers.length}}</span>
          </a>
        </li>
        <li class="nav-item" ng-show="futureOffers.length">
          <a href="" id="futureTab" data-target="#future" data-toggle="tab" role="tab" class="nav-link">
            Viitoare
          </a>
        </li>
        <li class="nav-item"  ng-show="pastOffers.length">
          <a href="" id="pastTab" data-target="#past" data-toggle="tab" role="tab" class="nav-link">
            Trecute
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade pb-2 active show" id="active" role="tabpanel">
          <bid-info-box selected-space="selectedSpace" offers="activeOffers"></bid-info-box>
        </div>
        <div class="tab-pane fade pb-2" id="future" role="tabpanel">
          <bid-info-box selected-space="selectedSpace" offers="futureOffers"></bid-info-box>
        </div>
        <div class="tab-pane fade pb-2" id="past" role="tabpanel">
          <bid-info-box selected-space="selectedSpace" offers="pastOffers"></bid-info-box>
        </div>
        <div class="tab-pane fade" id="new" role="tabpanel">
          <form>
            <div class="row mt-4">
              <div class="col-12 col-xsm-6 ">
                <label for="dateStart">Închiriere start:</label>
                <date-time id="dateStart" date-model="bid.start_date" large="true"></date-time>
              </div>
              <div class="col-12 col-xsm-6  ">
                <label for="dateStop">Închiriere stop:</label>
                <date-time id="dateStop" date-model="bid.end_date" large="true" day></date-time>
                <div class="invalid-feedback">
                  Perioada minimă e de 15 min
                </div>
              </div>
            </div>
          </form>
          <div class="d-flex flex-column align-items-center mt-4 mb-2">
            <button class="btn btn-danger btn-lg" ng-click="placeOffer()">Închiriază</button>
            <div class="mt-2"> sau</div>
            <button class="btn btn-link " onclick="$('#showAv').show()" ng-click="selectedSpace.showAvail= !selectedSpace.showAvail">
              <i class="fa fa-calendar-check-o"></i> Verifică disponibilitate
            </button>
            <space-availability-box class="w-100" space="selectedSpace" ng-if="selectedSpace.showAvail"></space-availability-box>
          </div>
        </div>
      </div>
    </div>


    <div ng-show="selectedSpace.from_sensor">
      <ul class="list-group ">
        <li class="list-group-item d-flex justify-content-between align-items-center ">
          <div> {{selectedSpace.title}}</div>
          <div>
                <span class="fa-stack fa-2x">
                     <i class="fa fa-camera fa-stack-1x"></i>
                     <i class="fa fa-ban fa-stack-2x" style="color:Tomato"></i>
                 </span>
          </div>

        </li>
      </ul>
    </div>

    <div class="row flex-nowrap ps-control-buttons">
      <a href="https://www.google.com/maps/dir/?api=1&destination={{selectedSpace.location_lat}},{{selectedSpace.location_long}}"
         class="btn btn-lg btn-outline-primary">
        <i class="fa fa-location-arrow "></i> Navighează la parcare
      </a>

      <button class="btn btn-lg btn-secondary" ui-sref="^">
        Înapoi
      </button>
    </div>
  </div>


  <!-- payment dialog outside offer loop-->
  <ui-view name="pay"></ui-view>
</div>

