<div class="register" class="mb-5" ng-controller="RegisterCtrl">
  <div class="container" >
    <div class="text-center p-4 p-md-5">
      <img width="150" src="<%= image_path 'useravatar_blue_lg.png' %>">
      <h4 class="mt-3"> {{firstName}}</h4>
    </div>

    <div id="register" class="row justify-content-center">
      <div class="col-11">
        <form id="registerForm" name="registerForm" novalidate="novalidate">


          <div ng-show="fromFb" class="py-3 p-md-4">
            <code> Nr. de înmatriculare </code>și <code>nr. de telefon</code>
            sunt necesare pentru a rezerva parcari publice sau private. Dacă s-ar
            putea mai simplu, am face-o.
          </div>

          <div class="form-row">
            <div class="col-12 mb-3">
              <input-phone-number phone-number="phoneNumber" selected-country="selectedCountry">
            </div>
          </div>


          <div class="form-row">
            <div class="col-12 mb-3">
              <input type="text" class="form-control form-control-lg"
                     placeholder="Nr. înmatriculare (e.g. B 10 INM) "
                     ng-model="licensePlate" name="licensePlate"
                     required minlength="5"/>
              <div class="invalid-tooltip">Nr de înamtriculare (e.g. B 10 AAA)</div>
            </div>
          </div>

          <div ng-hide="::fromFb">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg"
                     placeholder="Email" ng-model="email" name="email"
                     required minlength="5"
                     pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$"/>
            </div>

            <div class="form-group">
              <input type="text" class="form-control form-control-lg" placeholder="Nume și prenume"
                     ng-model="firstName" name="firstName" required
                     minlength="5"/>
            </div>

            <div class="form-group mb-3" >
              <input type="password" class="form-control form-control-lg" placeholder="Parolă"
                     ng-model="pw" name="pw"
                     ng-required="!fromFb"
                     minlength="8"/>
            </div>

          </div>

          <div class="text-center d-flex justify-content-around mb-3">
            <button  class="btn btn-primary btn-lg" ng-click="register()">
              <i class="fa fa-spinner loading-spinner fa-spin"></i>
              Ok, caută loc de parcare
            </button>


            <button class="btn btn-lg btn-secondary" ng-click="back()">
              <i class="fa fa-spinner loading-spinner fa-spin"></i>
              <i class="fa fa-angle-double-left  "></i>
            </button>
          </div>

        </form>
      </div>

    </div>
  </div>

</div>