<div class="register mb-5" ng-controller="RegisterCtrl">
  <div class="hamburger d-md-none" ng-show="currentUser">
        <span ng-click="openMenu()">
            <i class="pac-nav fa fa-bars fa-2x "></i>
        </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 m-auto">
        <div class="text-center pt-4">
          <file-upload max-count="1" label="'Încarcă o poză cu mașina'"
                       icon="'fa-car'"
                       folder="'users'"
                       accept="'.png, .jpg, .jpeg'"
                       uploaded-files="user.images"></file-upload>
          <h4 class=""> {{user.full_name}}</h4>
        </div>

        <div id="register" class="row justify-content-center">
          <div class="col-11">
            <form id="registerForm" name="registerForm" novalidate="novalidate" autocomplete="none">


              <div class="pt-3 text-muted text-center">
                <code>Nr. de înmatriculare</code> și <code>nr. de telefon</code>
                sunt necesare pentru a rezerva parcări publice sau private. Dacă s-ar
                putea mai simplu, am face-o.
              </div>

              <div class="form-row">
                <div class="col-12 mb-3">
                  <input-phone-number user="user">
                </div>
              </div>


              <div class="form-row">
                <div class="col-12">
                  <input type="text" class="form-control form-control-lg"
                         placeholder="Nr. înmatriculare (e.g. B 10 INM) "
                         ng-model="user.license" name="licensePlate"
                         required
                         maxlength="15"
                         pattern="[a-zA-Z0-9]{1,2} [0-9]{2} [a-zA-Z0-9]{3}"
                         autocomplete="none" autocapitalize="none"/>
                  <div class="invalid-tooltip">Nr de înamtriculare (e.g. B 10 AAA)</div>
                </div>
              </div>
              <hr/>
              <div class="form-group" >
                <div class="input-group input-group-lg">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="email" class="form-control form-control-lg"
                         placeholder="Email" ng-model="user.email" name="email"
                         required
                         minlength="5" autocomplete="none" autocapitalize="none"
                         pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,5}$"/>
                </div>
              </div>
              <div ng-if="!fromFb">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Nume și prenume"
                         ng-model="user.full_name" name="firstName" required
                         maxlength="50"
                         pattern=".*[a-zA-Z0-9]{2}.*"
                         autocomplete="none" autocapitalize="none"/>
                  <div class="form-text text-muted">Numele dvs. <b>întreg</b> așa cum îl vor vedea ceilalți utilizatori
                  </div>
                </div>

                <div class="form-group" ng-if="inside">
                  <button class="btn btn-block btn-link" onclick="$('#recoverPassword').show()">
                    <i class="fa fa-lock"></i>
                    Reseteaza parola
                  </button>
                </div>

                <div class="form-group mb-3" ng-if="!inside">
                  <input type="password" class="form-control form-control-lg" placeholder="Parolă"
                         ng-model="pw" name="pw"
                         ng-required="!fromFb"
                         minlength="8"/>
                </div>
              </div>

              <div class="form-group my-4 mark small">
                <div class="form-check pl-4">
                  <input class="form-check-input" type="checkbox" id="termsAndConditions"
                         ng-model="termsAndConditions" required value="">
                  <label for="termsAndConditions" class="form-check-label">
                    Sunt de acord cu <a class="text-primary" ui-sref="terms">termenii și condițiile </a>
                    și de asemenea îmi dau acordul ca Go-Park sa proceseze datele personale.
                  </label>
                  <div class="invalid-feedback">
                    Pentru a continua trebuie să accepți termenii si condițiile Go-Park
                  </div>
                </div>
              </div>

              <div class="text-center d-flex justify-content-around mb-3">
                <button class="btn btn-primary btn-lg" ng-click="register()">
                  <i class="fa fa-spinner loading-spinner fa-spin"></i>
                  Ok
                </button>


                <button class="btn btn-lg btn-secondary" ng-click="back()">
                  <i class="fa fa-spinner loading-spinner fa-spin"></i>
                  <i class="fa fa-angle-double-left  "></i>
                </button>
              </div>

            </form>

            <div id="recoverPassword" class="ps-dialog">
              <form id="recoverPwForm" name="recoverPwForm" novalidate="novalidate">
                <div class="ps-dialog-content">
                  <div class="ps-question">
                    <div class="py-2">
                      Te rugăm introdu adresa de email
                    </div>
                    <input type="email" class="form-control"
                           placeholder="Email" ng-model="recoveryEmail" name="email" required
                           minlength="5"
                           autofocus="true"
                           pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"/>
                  </div>
                  <div class="ps-control-buttons">
                    <a tabindex class="btn btn-primary" ng-click="recoverPassword();">Ok</a>
                    <a tabindex class="btn btn-secondary" onclick="$('#recoverPassword').hide()">Înapoi</a>
                  </div>
                </div>
              </form>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>

</div>