<div class="ps-modal" ng-controller="ReviewBidsCtrl">
  <div class="search-space-modal animated zoomIn mt-md-4">

    <div ng-hide="selectedSpace.public" class="row my-2 align-items-center space-type ">
      <div class="col-3 offset-1 rapid-icon">
        <i class="fa fa-flash fa-3x"></i>
      </div>
      <div class="col-8">
        <h3>
          {{selectedSpace.offers.length}} Oferte
        </h3>
        Acesta e locul postat de dvs.!
      </div>
    </div>

    <space-status-box space="selectedSpace"></space-status-box>

    <div class="d-flex ps-control-buttons">
      <button class="btn btn-lg btn-outline-primary" ng-click="showEdit(selectedSpace)">
        <i class="fa fa-pencil"></i> Modifică datele locului
      </button>
      <button class="btn btn-lg btn-secondary" ui-sref="^">
        Închide
      </button>
    </div>


  </div>
  <ui-view name="action"></ui-view>
</div>