<div ng-controller="SearchCtrl">


  <ui-view name="place-bid"></ui-view>
  <ui-view name="help"></ui-view>


  <div class="spaces-list p-3 " ng-if="showList">
    <div ng-hide="spacesClustered.length">
      <div class="no-items-msg loading-finished">
        Nu sunt locuri in zonă.<br/>
        Fii primul care
        <u>
          <a ng-click="showPostSpace()" >
            postează un loc.
          </a>
        </u>
      </div>
    </div>
    <div ng-repeat="item in spacesClustered" class="panel mb-3 p-0">
      <div ng-if="item.elements.length == 1" ng-init="space = item.elements[0][2]">
        <parking-spot-info-box ng-click="select(space, $event)" space="space" class="left-side"></parking-spot-info-box>
        <div class="mx-2 mb-2 text-right">
          <reviews space="space"></reviews>
        </div>

        <!-- Space description box-->
        <div class="m-0 offer-availability">

          <div class="desc-container" id="spaceDescContainer-{{space.id}}">

            <!-- desc/reviews tab menu-->
            <ul class="nav nav-underline nav-fill" role="tablist">
              <li class="nav-item ">
                <a href="" id="desc" data-target="#spaceDesc-{{space.id}}" data-toggle="tab" class="nav-link active">
                  Descriere <span class="badge badge-danger">{{activeSpaces.length}}</span>
                </a>
              </li>
              <li class="nav-item">
                <a href="" ng-click="getReviews(space)" id="reviews" data-target="#reviews-{{space.id}}" data-toggle="tab" class="nav-link">
                  Review-uri
                </a>
              </li>
            </ul>

            <!-- desc/reviews tab panes -->
            <div class="tab-content">
              <div id="spaceDesc-{{space.id}}" class="tab-pane fade active show space-desc">{{space.description}}</div>
              <div id="reviews-{{space.id}}" class="tab-pane fade">
                <!-- Reviews header -->
                <div class="row no-gutters p-2 reviews-border">
                  <div class="col-4 d-flex align-items-center justify-content-center">
                    <h1> {{space.review_avg || '0'}} </h1>
                  </div>
                  <div class="col-8 d-flex align-items-center justify-content-center flex-column">
                    <h4 class="mb-0">
                      <reviews min="true" space="space"></reviews>
                    </h4>
                    <button class="btn btn-sm btn-link" ng-click="showReviewDialog(space)"> Adaugă review</button>
                  </div>
                </div>
                <!-- Reviews comments -->
                <div class="row no-gutters p-2 reviews-border" ng-repeat="rev in reviews">
                  <div class="col-4 d-flex align-items-center justify-content-center flex-column">
                    <img src="<%= image_path 'useravatar_blue_lg.png' %>" height="50" width="50">
                    <h6 class="py-1"> {{rev.owner_name}} </h6>
                  </div>
                  <div class="col-8">
                    <h5> {{rev.title}} </h5>
                    <div class="small text-muted"> {{rev.created_at | moment:'DD MMM HH:mm' }}</div>
                    <div>{{rev.comment}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-block btn-link" ng-hide="space.owner_is_current_user"
                  ng-click="space.showAv = !space.showAv">
            <i class="fa fa-calendar-check-o "></i>
            Verifică disponibilitatea
            <i class="fa fa-angle-double-down"></i>
          </button>
          <button class="btn btn-block btn-link" ng-show="space.owner_is_current_user"
                  ui-sref=".review-bids({spaceId:space.id})">
            <i class="fa fa-user"></i>
            Loc personal
          </button>
          <space-availability-box space="space" ng-if="space.showAv"></space-availability-box>
        </div>
        <div class="my-2 d-flex justify-content-around">
          <button class="btn btn-outline-primary " ng-show="space.from_user && !space.owner_is_current_user" ui-sref=".post-bids({spaceId: space.id})">
            <i class="fa fa-calendar"></i>
            Rezervă
          </button>
          <button class="btn btn-outline-primary " ng-show="space.from_user && space.owner_is_current_user" ui-sref=".review-bids({spaceId: space.id})">
            <i class="fa fa-calendar"></i>
            Vezi rezervări
          </button>
          <button class="btn btn-outline-primary " ng-show="space.from_user && space.owner_is_current_user" ui-sref=".post({spaceId: space.id})">
            <i class="fa fa-pencil"></i>
            Modifică
          </button>
        </div>
      </div>
      <div ng-if="item.elements.length > 1" class="pt-3 px-2" ng-click="zoomToCluster(item)">
        <h4> {{item.elements.length}} Locuri <br/>
          <small class="text-muted">In apropiere de {{item.elements[0][2].address_line_1}}</small>
        </h4>
        <ul class="p-0">
          <li class="list-group-item list-group-item-action p-0 " ng-repeat="space in item.elements">
            <div class="row no-gutters">
              <div class="group-thumbnail col-4 ">
                <i class="fa fa-2x fa-photo text-muted" ng-if="!space[2].images.length"></i>
                <img ng-click="showFullImageThumb($event, space[2])"
                     ng-src="https://res.cloudinary.com/{{cloudName}}/image/upload/q_auto,f_auto,w_150/{{space[2].images[0].name}}"
                     ng-if="space[2].images.length">
              </div>

              <div class="row no-gutters col-8">
                <div class="col-8 d-flex flex-column align-items-center justify-content-center">
                  {{space[2].title}}
                  <reviews space="space[2]"></reviews>
                </div>
                <div class="col-4 d-flex text-danger align-items-center justify-content-center">
                  <div>
                    {{space[2].price | units }}.<small>{{space[2].price | subunits}}</small>
                    <currency val="space[2].currency"></currency>
                    / h
                  </div>
                </div>
                <div class="col-12 d-flex align-items-end justify-content-end">
                  <button class="btn btn-link btn-sm" ng-show="space[2].from_user && !space[2].owner_is_current_user" ui-sref=".post-bids({spaceId: space[2].id})">
                    <i class="fa fa-calendar"></i>
                    Rezervă
                  </button>
                  <button class="btn btn-link btn-sm" ng-show="space[2].from_user && space[2].owner_is_current_user" ui-sref=".review-bids({spaceId: space[2].id})">
                    <i class="fa fa-calendar"></i>
                    Vezi rezervări
                  </button>
                  <button class="btn btn-link btn-sm" ng-show="space[2].from_user && space[2].owner_is_current_user" ui-sref=".post({spaceId: space[2].id})">
                    <i class="fa fa-pencil"></i>
                    Modifică
                  </button>
                </div>
              </div>

            </div>
          </li>
        </ul>
      </div>
    </div>

    <div id="showMultipleSpaces" class="ps-dialog animated zoomIn">
      <div class="ps-dialog-content max-zoom-spaces pt-3">
        <h5 class="text-center"> Mai multe locuri la aceeași locație </h5>
        <img class="img-fluid"
             id="scream"
             crossorigin="anonymous"
             ng-show="selectedSpaces[0].perimeter.section.interior_map"
             ng-src="{{'https://res.cloudinary.com/'+cloudinaryName+'/image/upload/'+selectedSpaces[0].perimeter.section.interior_map}}">

        <ul>
          <li class="list-group-item list-group-item-action p-0" ng-repeat="space in selectedSpaces" ng-click="markerClick(space)">
            <parking-spot-info-box space="space"></parking-spot-info-box>
          </li>
        </ul>
        <div class="ps-control-buttons">
          <a tabindex class="btn btn-primary" onclick="$('#showMultipleSpaces').hide()">Ok</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Add review form-->
  <review-form space="reviewSpace" reviews="reviews"></review-form>

  <search-center-icon shown="placingSpot"></search-center-icon>


  <div class="map-controls search">

    <button class="info-btn btn btn-info" ui-sref=".instructions">
      <i class="fa fa-question"></i>
    </button>

    <button class="center-btn btn btn-secondary" ng-click="centerMap()">
      <i class="fa fa-crosshairs"></i>
    </button>

    <button class="btn btn-primary add-btn" ng-click="showPostSpace()" ng-class="{wide: placingSpot}">
       <span ng-hide="placingSpot">
           <i class="fa fa-plus"></i> <br/> Vinde
       </span>
      <span ng-show="placingSpot">
            Continuă
            <i class="fa fa-arrow-right"></i>
        </span>
    </button>
  </div>


</div>