<div class="help-blanket instruction" ng-init="instructionStage = 0">


  <div ng-show="instructionStage == 0">


    <div class="html-marker private help">
      <div> 5 Ron
        <small> / h</small>
      </div>
    </div>
    <img class="marker-instruction-circle animated zoomIn delay-2" src="<%= image_path 'crayon_circle_blue.png' %>">

    <div class="panel rent-place-instruction animated zoomIn delay-3 m-3">
      <h5> Găsește locul perfect </h5>
      Locuri detectate de senzori sau contractate de către go-park:
      <ul>
        <li> Instituții publice</li>
        <li> Companii, Hoteluri</li>
        <li> Școli, domenii publice</li>
        <li> Locuri private, garaje, alei de parcare</li>
      </ul>
      <h5 class="mt-3"> Plată online </h5>
      Poți achita cash proprietarului sau online cu cardul direct din aplicație.
      <button class="btn btn-lg btn-block btn-info mt-5" ng-click="instructionStage = 1">
        Am înțeles
      </button>
    </div>
  </div>


  <div ng-show="instructionStage == 1">
    <div class="panel add-place-instruction animated zoomIn delay-3">
      <h4> Postează locul tău de parcare </h4>
      <h5> Câștigă între 50 Ron - 400 Ron / zi </h5>
      <small> În funcție de perioadă si locație.</small>
      <button class="btn btn-lg btn-block btn-info mt-5" ui-sref="^">
        Am înțeles
      </button>
    </div>
    <img class="btn-instruction-circle animated zoomIn delay-2" src="<%= image_path 'crayon_circle_blue.png' %>">
  </div>


</div>