<div class="full-height row no-gutters" ng-controller="SearchParkingSpaceCtrl">

  <div class="d-none d-lg-block col-lg-4 spaces-list ">
    <div ng-hide="mapSpaces.length">
      <div class="no-items-msg loading-finished" ng-hide="spaces.length">
        Nu sunt locuri in zonă.<br/>
        Fii primul care
        <u>
          <a ui-sref="search">
            postează un loc.
          </a>
        </u>
      </div>
    </div>
    <div ng-repeat="item in mapSpaces" class="left-panel py-2 px-0">
      <div ng-if="item.elements.length == 1" ng-init="space = item.elements[0][2]">
        <parking-spot-info-box space="space" class="left-side"></parking-spot-info-box>
        <div class="m-0 offer-availability">
          {{nextOffer(space)}}
        </div>
        <div class="mt-2 d-flex justify-content-around">
          <button class="btn btn-outline-primary " ng-show="space.from_user && !space.owner_is_current_user" ng-click="selectSpace(space)">
            <i class="fa fa-calendar"></i>
            Rezervă
          </button>
          <button class="btn btn-outline-primary " ng-show="space.from_user && space.owner_is_current_user" ng-click="selectSpace(space)">
            <i class="fa fa-pencil"></i>
            Modifică
          </button>
          <button class="btn btn-link" ng-click="zoomTo(space)">
            <i class="fa fa-map"></i>
            Arată pe hartă
          </button>
        </div>
      </div>
      <div ng-if="item.elements.length > 1" class="p-3 border-bottom">
        <h4> {{item.elements.length}} Locuri <br/>
          <small class="text-muted">In apropiere de {{item.elements[0][2].address_line_1}}</small>
        </h4>
        <ul class="p-0">
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center "
              ng-repeat="space in item.elements" ng-click="selectSpace(space[2])">
            <div> {{space[2].title}}</div>
            <span class="text-secondary">  {{space[2].price + ' ' + space[2].currency}} / h  </span>
          </li>
        </ul>
        <div class="mt-2 d-flex justify-content-around">
          <button class="btn btn-link" ng-click="zoomTo(item.elements[0][2])">
            <i class="fa fa-map"></i>
            Arată pe hartă
          </button>
        </div>
      </div>

    </div>
  </div>


  <!-- map -->
  <div id="map" class="col-lg-8 ">
    <search-bar place-holder="'Caută adresa  ...'" on-select-place="selectPlace(place,location)" on-menu-click="openMenu()"> </search-bar>
    <map on-create="mapCreated(map, overlay, geocoder)" on-error="mapError()"></map>
    <search-center-icon shown="placingSpot"></search-center-icon>
  </div>


  <div class="map-controls">

    <ui-view name="place-bid"></ui-view>


    <button class="info-btn btn btn-info" ui-sref=".instructions">
      <i class="fa fa-question"></i>
    </button>


    <button class="center-btn btn btn-secondary" ng-click="centerMap()">
      <i class="fa fa-crosshairs"></i>
    </button>

    <button class="btn btn-primary add-btn" ng-click="showPostSpace()" ng-class="{wide: placingSpot}">
       <span ng-hide="placingSpot">
           <i class="fa fa-plus"></i> <br/> Vinde
       </span>
      <span ng-show="placingSpot">
            Continuă
            <i class="fa fa-arrow-right"></i>
        </span>
    </button>

    <ui-view name="help"></ui-view>

    <div id="showMultipleSpaces" class="ps-dialog animated zoomIn">
      <div class="ps-dialog-content max-zoom-spaces pt-3">
        <h5 class="text-center"> Alege un loc</h5>
        {{cloudinaryName}}
        <img class="img-fluid"
             id="scream"
             crossorigin="anonymous"
             ng-show="selectedSpaces[0].perimeter.section.interior_map"
             ng-src="{{ 'https://res.cloudinary.com/'+cloudinaryName+'/image/upload/'+selectedSpaces[0].perimeter.section.interior_map}}">

        <ul>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center "
              ng-repeat="space in selectedSpaces" ng-click="markerClick(space)">
            <div> {{space.title}}</div>
            <span class="text-secondary">  {{space.price + ' ' + space.currency}} / h  </span>
          </li>
        </ul>
        <div class="ps-control-buttons">
          <a tabindex class="btn btn-primary" onclick="$('#showMultipleSpaces').hide()">Ok</a>
        </div>
      </div>
    </div>


  </div>
</div>