<div class="help-blanket" >
    <br/>
    <h3> Welcome dear user! </h3>
    <br/>
    <h4>On this map you will find parking spaces posted by other people or by you.
        Once you find a suitable one, tap on it and make the owner an offer !</h4>
    <br/>
    <h4>If your offer is accepted you can call the owner to make arrangements. </h4>
    <br/>
    <br/>
    <h4>Tap <i class="fa fa-plus"></i> to post an open parking spot. It can be any spot as long as you can <B>guarantee</B>
        someone else can park there in the validity period you specified.
    </h4>
    <div class="ok-help-btn" ui-sref="^"><i class="fa fa-check"></i> &nbsp; OK, got it</div>
    <br/>
    <br/>
    <br/>

</div>