<div id="pac-container" class="row no-gutters">

  <div class="col-lg-8 ml-auto">
    <places-autocomplete selected-place="selectPlace(place,location)" place-holder="'Caută adresa  ...'"></places-autocomplete>
    <span class="d-md-none" ng-click="openMenu()">
    <i class="pac-nav fa fa-bars "></i>
    <i id="notifmyposts" class="notif-icon d-none"></i>
  </span>
    <div class="loading-container">
      <div id="loading-progress" class="loading-progress"></div>
    </div>
  </div>
</div>