<div class="full-height" ng-controller="SearchParkingSpaceCtrl">


  <!-- map -->
  <div id="map">
    <map on-create="mapCreated(map, overlay, geocoder)" on-error="mapError()"></map>
  </div>


  <div class="map-controls">

    <ui-view name="place-bid"></ui-view>

    <search-center-icon shown="placingSpot"></search-center-icon>

    <button class="info-btn btn btn-info" ui-sref=".instructions">
      <i class="fa fa-question"></i>
    </button>


    <button class="center-btn btn btn-secondary" ng-click="centerMap()">
      <i class="fa fa-crosshairs"></i>
    </button>

    <button class="btn btn-primary add-btn" ng-click="showPostSpace()" ng-class="{wide: placingSpot}">
       <span ng-hide="placingSpot">
           <i class="fa fa-plus"></i> <br/> Vinde
       </span>
      <span ng-show="placingSpot">
            Continuă
            <i class="fa fa-arrow-right"></i>
        </span>
    </button>

    <ui-view name="help"></ui-view>

    <div id="showMultipleSpaces" class="ps-dialog animated zoomIn">
      <div class="ps-dialog-content max-zoom-spaces pt-3">
        <h5 class="text-center"> Alege un loc</h5>
        <ul>
          <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center " ng-repeat="space in selectedSpaces" ng-click="markerClick(space)">
            <div> {{space.title}}</div>  <span class="text-secondary">  {{space.price + ' ' + space.currency}} / h  </span>
          </li>
        </ul>
        <div class="ps-control-buttons">
          <a tabindex class="btn btn-primary" onclick="$('#showMultipleSpaces').hide()">Ok</a>
        </div>
      </div>
    </div>


  </div>
  <ui-view name="map-controls"></ui-view>
</div>