<div class="ps-modal  animated fadeIn p-4" ng-controller="ConfirmPhoneCtrl">
    <div class="search-space-modal container animated zoomIn mt-md-5 py-3 py-md-4">
        <h2> Termeni utilizare Go-park</h2>
        <hr/>
        <h3>Definiții</h3>
        <b> Utilizator </b> - Orice persoana fizică sau juridică ce dispune de un cont valid în cadrul aplicației go-park.
        <br/>
        <b> Proprietar </b> - Un proprietar de drept al unui loc de parcare, care pune ca și utilizator al aplicației locul
        său la dispoziția go-park și ofera posiblitatea legala ca acel loc sa fie sub-închiriat de persoana juridica Go-Park.
        <br/>
        <b> Client </b> - Orice persoana fizică sau juridică care efectuează o rezervare in sistemul go-park.
        <br/>
        <b> Rezervare </b> - Închiriere a locului pe o perioada determinată, efectuată de un <b>Client</b>  prin
        funcționalitate de rezervare a aplicației
        <b> Go-Park </b> - Sistemul informatic pus la dispoziția Utilizatorului de către SC SOFTSPOT SRL cât și entitatea juridică cu drepturi depline.
        <br/>


        <hr/>

        <h3>Termeni utilizare <b>Proprietar</b></h3>

        Prin postarea de locuri disponibilie si/sau prin utilizarea sistemului <b>go-park</b>, <b>Proprietarul</b> se obligă să:
        <ul>
            <li> Respecte termenii stabiliți prin acest acord.</li>
            <li> Elibereze locul de parcare si sa îl puna la dispoziția <b>Clientului</b> in funcție de rezervările efectuate de acesta din urmă în sistem. </li>
            <li> Asigure accesul <b>Clientului</b> la locul de parcare și să nu intervină in nici o formă la blocarea/alterarea/incomodarea accesului pe toată
                 durata rezervării.</li>
            <li> Asigure securitatea <b>Clientului</b> orice daună ulterioară raportată de <b>Client</b> va fi rezolvată conform legislației în vigoare,
            go-park asumându-și doar rolul de 'intermediar' al tranzacției</li>
            <li> Respecte Go-Park ca <b>mediator</b> în orice dispută ar putea aparea cu privire la Rezervare si să admită penalizările sau daunele cerute
            de <b>mediator</b> </li>
        </ul>

        <hr/>

        <h3>Termeni utilizare <b>Client</b></h3>

        Prin efectuarea de <b>Rezervări</b> asupra locurilor disponibilie si/sau prin utilizarea sistemului go-park, <b>Clientul</b> se obligă să:
        <ul>
            <li> Respecte termenii stabiliți prin acest acord.</li>
            <li> Respecte condițiile legale de acces la un spațiu PRIVAT și sa consimtă la dreptul lui de sub-închiriere a unui spațiu pentru care go-park
                îi conferă drept temporar de utilizare.</li>
            <li> Asigure eliberarea locul de parcare atunci când <b>Rezervarea</b> a expirat </li>
            <li> Nu sub-închirieze la rândul său unei terțe persoane fizice sau juridice dreptul de a parca oferit pentru <b> Client </b> de către Go-Park. </li>
            <li> Respecte Go-Park ca <b>mediator</b> în orice dispută ar putea aparea cu privire la Rezervare si să admită penalizările sau daunele cerute
            de <b>mediator</b> </li>
        </ul>

        <div class="text-center">
            <button class="btn btn-lg btn-danger" ui-sref="^">Am înțeles și sunt de acord cu condițiile</button>
        </div>
    </div>
</div>