<!-- Main container -->
<div class="page-container">

    <!-- Navigation Bloc -->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">Go Park</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a  href="#faq" class="nav-link">How does this work?</a>
                </li>
                <li class="nav-item">
                    <a href="#rent" class="nav-link">Rent personal space</a>
                </li>
                <li class="nav-item">
                    <a href="#login" class="nav-link">Sign in</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Navigation Bloc END -->

    <!-- Search -->
    <div class="find-block" id="find">
        <div class="container bloc-xl">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center display-4"> Where do you want to go? </h3>

                    <p class="text-center animated fadeInUp animDelay02">
                        Let us help you find the perfect space for you.
                    </p>
                </div>
                <div class="col-sm-12">
                    <div class="form-group input-group-lg">
                        <input type="text" class="form-control" placeholder="Type in an address...">
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="input-group" id="fromDate">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="input-group" id="toDate">
                        <input type="text" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Search END -->

    <!-- services -->
    <div class="bloc l-bloc bgc-white" id="services">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-picture icon-xl icon-carmine-pink animated zoomIn animDelay02"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        Web Design
                    </h3>

                    <p class="text-center">
                        A little feature description could go here. A little feature description.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-gears icon-xl icon-carmine-pink animated zoomIn"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        Web Development
                    </h3>

                    <p class="text-center">
                        A little feature description could go here. A little feature description.
                    </p>
                </div>
                <div class="col-sm-4">
                    <div class="text-center">
                        <span class="et-icon-linegraph icon-xl icon-carmine-pink animated zoomIn animDelay02"></span>
                    </div>
                    <h3 class="text-center mg-md ">
                        Promotion
                    </h3>

                    <p class="text-center">
                        A little feature description could go here. A little feature description.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- services END -->

    <!-- clients -->
    <div class="bloc bgc-platinum l-bloc" id="bloc-3">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-3 text-center">
                    <%= image_tag "ny-times.png" %>
                </div>
                <div class="col-sm-3 text-center">
                    <%= image_tag "forbes.png" %>
                </div>
                <div class="col-sm-3 text-center">
                    <%= image_tag "wired.png" %>
                </div>
                <div class="col-sm-3 text-center">
                    <%= image_tag "guardian.png" %>
                </div>
            </div>
        </div>
    </div>
    <!-- clients END -->

    <!-- testimonials -->
    <div class="bloc bgc-white l-bloc" id="bloc-6">
        <div class="container bloc-md">
            <!--<div class="col-sm-2 col-sm-offset-5 col-xs-6 col-xs-offset-3">-->
            <!--<img src="img/bramk.jpg" class="img-responsive img-circle center-block img-frame-rd-md"/>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-md-8 col-md-offset-2">-->
            <!--<h3 class="text-center ">-->
            <!--<i>"Eventually everything connects - people, ideas, objects. The quality of the connections is the-->
            <!--key to quality per se."</i>-->
            <!--</h3>-->

            <!--<p class="text-center">-->
            <!--<strong>Charles Eames</strong>-->
            <!--</p>-->
            <!--</div>-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="quote"><i class="fa fa-quote-left fa-4x"></i></div>
                    <div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
                        </ol>
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item">
                                <div class="profile-circle">
                                    <img src="img/bramk.jpg"
                                         class="img-responsive img-circle center-block img-frame-rd-md" alt="member"/>
                                </div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                        eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque
                                        molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="item">
                                <div class="profile-circle">
                                    <img src="img/bramk.jpg"
                                         class="img-responsive img-circle center-block img-frame-rd-md" alt="member"/>
                                </div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                        eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque
                                        molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                            <div class="active item">
                                <div class="profile-circle">
                                    <img src="img/bramk.jpg"
                                         class="img-responsive img-circle center-block img-frame-rd-md" alt="member"/>
                                </div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                        eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque
                                        molestias odio aut eius animi. Impedit temporibus nisi accusamus.</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- testimonials END -->

    <!-- Footer - quote -->
    <div class="bloc bgc-carmine-pink d-bloc" id="quote">
        <div class="container bloc-md">
            <div class="row">
                <div class="col-sm-9">
                    <h3 class="mg-md animated zoomIn">
                        Don&rsquo;t hesitate to contact us now...
                    </h3>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="index.html" class="btn btn-lg wire-btn-white btn-wire animated zoomIn">GET A QUOTE NOW</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer - quote END -->

    <div class="bloc l-bloc" id="faq">
        <div class="container bloc-lg">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center mg-md ">
                        FAQ
                    </h2>

                    <p class="sub-heading text-center">
                        Get Answers: Frequently Asked Questions
                    </p>
                </div>
            </div>
            <div class="row voffset-mg">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseOne" aria-expanded="false">This is a question #1</a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-expanded="false"
                                 style="height: 0px;">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                    eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias
                                    odio aut eius animi. Impedit temporibus nisi accusamus.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseTwo" aria-expanded="false">This is a question #2</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                    eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias
                                    odio aut eius animi. Impedit temporibus nisi accusamus.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion"
                                       href="#collapseThree" aria-expanded="false">This is a question #3</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                <div class="panel-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, veritatis nulla
                                    eum laudantium totam tempore optio doloremque laboriosam quas, quos eaque molestias
                                    odio aut eius animi. Impedit temporibus nisi accusamus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ScrollToTop Button -->
    <a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1')"><span
            class="fa fa-chevron-up"></span></a>
    <!-- ScrollToTop Button END-->

    <!-- Footer - bloc-8 -->
    <div class="bloc bgc-platinum l-bloc" id="bloc-8">
        <div class="container bloc-sm">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <div class="col-sm-3 text-center">
                        <a class="social-lg" href="http://www.twitter.com/BootstrapOcean" target="_blank"><span
                                class="fa fa-twitter icon-md icon-carmine-pink"></span></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a class="social-lg" href="https://www.facebook.com/BootstrapOcean" target="_blank"><span
                                class="fa fa-facebook icon-md icon-carmine-pink"></span></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a class="social-lg"
                           href="https://plus.google.com/b/116513433102470788789/116513433102470788789/posts"
                           target="_blank"><span class="fa fa-google-plus icon-md icon-carmine-pink"></span></a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a class="social-lg" href="#"><span class="fa fa-dribbble icon-md icon-carmine-pink"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center mg-md">Created by <a
                        href="http://www.softspot.ro" target="_blank">Softspot</a></div>
            </div>
    <!-- Footer - bloc-8 END -->
</div>
<!-- Main container END -->
<!--</body>-->

<!-- Google Analytics -->

<!-- Google Analytics END -->

<!--</html>-->
