<div style="min-height: 80vh" class="d-flex align-items-center justify-content-center flex-column">
  <h2> Parola a fost resetată !</h2>


  <a href="/app/index.html#/login">Click aici pentru a te autentifica cu noua parolă</a>
</div>