<div class="container mt-5" ng-controller="BuySensorCtrl">


  <!-- Product header -->
  <div class="row product">
    <div class="col-md-4 p-0">
      <div>
        <img id="mainImg"
             data-toggle="modal" data-target="#thumbnailModal"
             class="mb-4 img-fluid img-thumbnail"
             ng-click="selectMain()" src="<%= image_path 'sensor.png' %>">
      </div>

      <!-- Image thumbnail -->
      <!-- Modal -->
      <div id="thumbnailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body">
              <img class="img-thumbnail" id="modalImg" src="">
            </div>
          </div>

        </div>
        <!-- End search how-to modal -->
      </div>
    </div>

    <div class="col-md-8 ">

      <h1 class="mt-4 mt-md-0 animated fadeInUp product-title">
        Senzor parcare
      </h1>
      <small class="product-subtitle animated fadeInUp"> Cod produs : B-101</small>

      <div class="col-12 pt-3 mt-3 product-desc">
        <ul class="mt-2">
          <li> Sub-închiriere automată a locului de parcare ( configurabil )</li>
          <li> Instalare și configurare ușoară</li>
          <li> Rezistență la presiune până la 800kg</li>
        </ul>
        <div class="stock p-3 ">
          Stoc: <a href="mailto: office@go-park.ro">Întrebați aici</a>
        </div>
        <div class="delivery p-3">
          <i class="fa fa-truck"></i> Livrare în: 24h
        </div>
        <div class="delivery p-1 pl-3">
          <h3>{{unitPrice}}
            <small>.00</small>
            Ron
          </h3>
        </div>

        <div class="p-2">
          <button class="btn btn-primary" ng-click="tryBuy()"><i class="fa fa-shopping-cart"></i> Cumpără</button>
        </div>

      </div>

    </div>
  </div>


  <!-- description tabs -->
  <div class="row mt-5 mt-md-3 desc-tabs">
    <a title="Description" ng-click="scrollTo('desc')" ng-class="getClass('desc')" class="desc-tab-item">Descriere</a>
    <a title="Specs" ng-click="scrollTo('spec')" ng-class="getClass('spec')" class="desc-tab-item">Specificații</a>
    <a title="faq" ng-click="scrollTo('faq')" ng-class="getClass('faq')" class="desc-tab-item">Întrebări</a>
  </div>
  <hr class="row ">

  <div class=" p-3 desc-content">

    <h3>Nimic mai simplu</h3>
    Odată montat pe locul de parcare, acesta poate publica automat disponibilitatea locului.
    Tu ca proprietar nu trebuie sa iți faci griji, vei putea vedea in orice moment statusul de
    ocupare al locului de parcare.
    <br/>
    De menționat este faptul că odată cu statusul ocuparii, veți avea acces și la datele de contact
    al celui care sub-închiriază locul.

    <br/>
    <br/>
    <h3>O soluție durabilă</h3>
    Dispozitivul este rezistent la incălecarea cu roata mașinii și de asemenea rezistent la apă
    și intemperii.

    <br/>
    <br/>
    <i class="fa fa-exclamation-triangle"></i> <span>Atenție! Montați dispozitivul în zone
  unde există acoperire a retelelor de telefonie. Dacă aceasta nu e disponibilă,
  dispozitivul nu va putea fi comandat din aplicația de mobil  </span>

  </div>


  <!-- specificatii -->

  <h2 id="spec" class="mt-4 "> Specificații </h2>
  <hr class="row ">
  <div class="row p-4 desc-content">
    <table class="table table-hover table-sm table-striped">
      <tbody>
      <tr>
        <td>Diametru</td>
        <td>240 mm</td>
      </tr>
      <tr>
        <td>Înalțime</td>
        <td>35 mm</td>
      </tr>
      <tr>
        <td>Garanție</td>
        <td>2 ani</td>
      </tr>
      <tr>
        <td>Temperatură operare</td>
        <td>-30&deg;C .. +40&deg;C</td>
      </tr>
      <tr>
        <td>Alimentare</td>
        <td>4 x baterii de <a href="https://en.wikipedia.org/wiki/D_battery">tip D</a></td>
      </tr>
      <tr>
        <td>Durată medie baterii</td>
        <td>1 an</td>
      </tr>
      </tbody>
    </table>
  </div>
  <!-- end specificatii -->


  <!-- FAQ  -->
  <h2 id="faq" class="mt-4 "> Întrebări </h2>
  <hr class="row ">
  <div class="p-4 faq">
    Ne straduim sa răspundem tuturor întrebarilor pe care le-ați putea avea.
    Dacă ne-a scapat ceva, nu ezitați sa ne contactați pe formularul de mai jos.

    <div class="panel my-3">
      <h5 ng-click="show($event)">De ce anume am nevoie pentru a monta dispozitivul pe locul de parcare ?</h5>
      <div class="panel-body">
        În pachet veți găsi absolut tot ceea ce aveți nevoie pentru a-l monta (dibluri tip ancoră,
        șuruburi, instrucțiuni) mai puțin instrumentele pentru găurire.
      </div>
    </div>
    <div class="panel my-3">
      <h5 ng-click="show($event)">Cum asociez dispozitivul cu telefonul meu?</h5>
      <div class="panel-body">
        În interiorul carcasei veți gasi un cod de bare. Odată ce ați instalat aplicația,
        veti avea in meniu opțiunea de a scana acel cod de bare. Odată scanat,
        aplicația va putea controla dispozitivul.

      </div>
    </div>
    <div class="panel my-3">
      <h5 ng-click="show($event)">Cum asociez mai multe telefoane cu dispozitivul?</h5>
      <div class="panel-body">
        Simplu, instalați aplicația pe un nou telefon si scanați inca o data codulul de bare cu noul telefon
      </div>
    </div>
  </div>


  <h2 id="buy" class="mt-4 "> Cumpără </h2>
  <!-- Pricing table -->
  <div class="row mt-4" id="priceTable">
    <div class="col-md-12 d-flex justify-content-center">
      <table class="table table-hover price-table">
        <thead>
        <tr>
          <th>Produs</th>
          <th>#</th>
          <th class="text-right">Preț / Unit.</th>
          <th class="text-right">Total ( incl. TVA )</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class=""><em>Senzor B-101 </em></td>
          <td class="" style="text-align: center"><input ng-model="qty" type="number" min="0" class="form-control"></td>
          <td class=" text-right">{{unitPrice}} Ron</td>
          <td class=" text-right">{{priceWVat}} Ron</td>
        </tr>
        <tr>
          <td class=""><em>Abonament serviciu 1 lună </em></td>
          <td class="" style="text-align: center"> {{qty}}</td>
          <td class=" text-right">{{subscrPrice}} Ron</td>
          <td class=" text-right">{{subscrTotalPriceWVat}} Ron</td>
        </tr>
        <tr>
          <td>  </td>
          <td>  </td>
          <td class="text-right"><h4><strong>Total: </strong></h4></td>
          <td class="text-right text-danger"><h4><strong>{{overallTotal}} Ron</strong></h4></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <!-- Buy buttons -->
  <div class="row buy-form">
    <div class="col-12 d-flex justify-content-end ">
      <img class="img-thumbnail" src="<%= image_path 'credit_cards2.jpg' %>">
      <button class="btn btn-primary m-3" data-toggle="modal" data-target="#stockModal">
        <i class="fa fa-shopping-cart"></i>
        Plătește online
      </button>
    </div>
  </div>

  <!-- Stock modal -->

  <!-- Stocks modal -->
  <div id="stockModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Stoc indisponibil!</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">Ne pare rău, acest dispozitiv nu mai este in stoc.</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>


</div>