.bg-Austria {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -37px -81px;
}

.bg-Belarus {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -139px -130px;
}

.bg-Belgium {
  width: 28px; height: 21px;
  background: cloudinary_url('flags_xs.png') -3px -3px;
}

.bg-Canada {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -3px -153px;
}

.bg-Czech_Republic {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -71px -81px;
}

.bg-Denmark {
  width: 28px; height: 21px;
  background: cloudinary_url('flags_xs.png') -37px -3px;
}

.bg-Estonia {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -37px -30px;
}

.bg-Finland {
  width: 28px; height: 16px;
  background: cloudinary_url('flags_xs.png') -37px -130px;
}

.bg-France {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -105px -81px;
}

.bg-Germany {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -71px -3px;
}

.bg-Greece {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -71px -28px;
}

.bg-Hungary {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -3px -106px;
}

.bg-India {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -3px -56px;
}

.bg-Israel {
  width: 28px; height: 20px;
  background: cloudinary_url('flags_xs.png') -3px -30px;
}

.bg-Italy {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -37px -106px;
}

.bg-Japan {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -37px -56px;
}

.bg-Latvia {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -37px -153px;
}

.bg-Lithuania {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -71px -153px;
}

.bg-Luxembourg {
  width: 28px; height: 16px;
  background: cloudinary_url('flags_xs.png') -71px -130px;
}

.bg-Netherlands {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -71px -106px;
}

.bg-Poland {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -105px -106px;
}

.bg-Portugal {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -71px -56px;
}

.bg-Romania {
  width: 28px; height: 16px;
  background: cloudinary_url('flags_xs.png') -105px -130px;
}

.bg-Russia {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -139px -3px;
}

.bg-Russian_Federation {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -139px -27px;
}

.bg-Saudi_Arabia {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -105px -3px;
}

.bg-Slovakia {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -139px -51px;
}

.bg-Slovenia {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -105px -153px;
}

.bg-South_Africa {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -105px -28px;
}

.bg-South_Korea {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -139px -75px;
}

.bg-Spain {
  width: 28px; height: 18px;
  background: cloudinary_url('flags_xs.png') -139px -99px;
}

.bg-Sweden {
  width: 28px; height: 17px;
  background: cloudinary_url('flags_xs.png') -3px -130px;
}

.bg-Switzerland {
  width: 21px; height: 21px;
  background: cloudinary_url('flags_xs.png') -173px -3px;
}

.bg-Turkey {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -105px -53px;
}

.bg-Ukraine {
  width: 28px; height: 19px;
  background: cloudinary_url('flags_xs.png') -3px -81px;
}

.bg-United_Arab_Emirates {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -139px -153px;
}

.bg-United_Kingdom {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -3px -173px;
}

.bg-United_States_of_America {
  width: 28px; height: 14px;
  background: cloudinary_url('flags_xs.png') -37px -173px;
}