
.form-edit-details {

  textarea {
    height: 116px;
  }

  .separator {
    align-self: stretch;
  }
}

.was-validated {

  .input-group, .form-control {
    &:invalid {
      box-shadow: 2px 2px 0 0 transparentize($red, .6);
    }
  }

}

.input-group, .form-control {
  border-radius: $border-radius;
  box-shadow: 2px 2px 0 0 $gray-500;
  background-color: #fff;
  height: initial;

  .form-control {
    box-shadow: none;

  }

  &.is-invalid {
    .form-control {
      border-color: $red;
    }

    + .invalid-feedback {
      display: block;
    }
  }

}

.register {

  h2, h3 {
    border-bottom: 1px solid $gray;
    border-top: 1px solid $gray;
  }

  .invalid-field-list {
    font-size: 0.9em;
    list-style: disc;
    margin-top: 10px;
    margin-left: 14px;
  }

  .drop-zone {
    .add-photo {
      height: 150px;
      .fa {
        font-size: 4em;
      }
    }
  }

  .btn-fb {

    background-color: #4267b2;
    border-color: #4267b2;

    svg {
      height: 24px;
      width: 24px;
      float: left;
    }
  }

}


