@import "forms";

// map controls
#map {
  height: 100vh;
}

a {
  color: $dflt-font-color;
}

.map-container {
  display: block;
  height: 100%;
  position: relative;
}

map {
  display: block;
  width: 100%;
  height: 100%;
}

.map-loading {
  position: fixed;
  width: 100%;
}

.info-btn {
  position: absolute;
  bottom: 160px;
  z-index: 2;
  right: 32px;
  box-shadow: 2px 4px 6px 0 $gray-600;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.4em;
}

.center-btn {
  position: absolute;
  bottom: 98px;
  z-index: 2;
  right: 32px;
  box-shadow: 2px 4px 6px 0 $gray-600;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.4em;
}

.add-btn {
  background-color: $blue-800;
  padding: 0;
  box-shadow: 2px 4px 6px 0 $gray-600;
  border-radius: 28px;
  position: absolute;
  bottom: 24px;
  z-index: 2;
  right: 24px;
  outline: 0;
  border: 0;
  width: 56px;
  height: 56px;
  color: $white;
  line-height: 1;
  font-size: 1.1em;
  transition: width .2s ease-in-out;

  &.wide {
    width: 118px;
    font-size: initial;

  }

  &.main {
    position: static;
    box-shadow: none;

  }

  &.help {
    bottom: 13%;
    right: 18%;
    position: absolute;
  }

}

@include media-breakpoint-down(sm) {
  .add-btn, .center-btn, .info-btn {
    position: fixed;
  }
}

.realtime-notif {
  background-color: $warning;
  transition: max-height ease-in-out .5s;
  max-height: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;

  .notif-close:hover {
    cursor: pointer;
  }

  &.slide-in {
    max-height: 6em;
  }
}

.filter-instruction-circle {
  position: absolute;
  top: 76px;
  width: 300px;

  &.next {
    left: 360px;
  }
}

.marker-instruction-circle {
  position: absolute;
  bottom: 42%;
  right: 55%;
}

.btn-instruction-circle {
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 120px;
}

.pac-container-dummy {
  width: 90%;
  max-width: 700px;
  margin: $big-measure-unit auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

#pac-container {
  background-color: $white;
  font-size: 16px;
  width: 90%;
  margin: $big-measure-unit auto;
  margin-top: $xxbig-measure-unit;
  box-shadow: 2px 4px 6px 0 $gray-600;
  border-radius: 3px;
  position: absolute;
  top: 0;
  z-index: 1;
  right: 0;
  left: 0;
  max-width: 700px;

  @include media-breakpoint-down(sm) {
    position: fixed;
  }

  #pac-input {
    padding-right: 17%;
    padding-left: 3%;
    font-size: 1.1em;
  }

  &:focus-within {
    .input-group, .form-control {
      height: initial;
    }
  }

  .input-group, .form-control {
    padding: 7px;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    padding-left: 17%;
    overflow: hidden;
    height: calc(2.875rem + 2px)
  }

  .addon {
    position: absolute;
    top: 10px;
    right: 0;
  }

  hr {
    margin: 0;
  }

  .pac-nav {
    display: inline-block;
    vertical-align: middle;

  }
  span {
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 1.5em;
    padding: 10px;

    .notif-icon {
      position: absolute;
      right: -10px;
      top: -10px;
    }
  }

  .clear-btn {
    position: absolute;
    right: 40px;
    top: 13px;
  }
}

.hamburger {
  position: fixed;
  top: .5rem;
  right: 1rem;
}

@include media-breakpoint-down(sm) {

  .container.search-block:focus-within {
    position: fixed;
    top: 0;
    background-color: transparentize($gray-300, 0.2);
    height: 100%;
    right: 0;
    left: 0;
    margin: 0 !important;
    max-width: inherit;

    .form-group {
      margin-top: 20px;
    }
  }

}

.pac-container {
  border-radius: 4px;
  font-size: 1.1em;

  .pac-item {
    line-height: $xxxbig-measure-unit;
    font-size: 1.2em;
    font-family: $font-family;
    border: none;
    padding: 4px;

    .pac-item-query {
      font-size: inherit;
    }

    &:hover {
      cursor: pointer;
    }
    .pac-icon {
      margin-left: 5px;
      transform: scale(1.8);
    }
  }
}

.loading-container {
  border-bottom: 1px solid $gray-500;

  .loading-progress {
    width: 0;
    border-top: 2px solid $gray-500;
    transition: width ease-in-out 2s;
  }

  .loading-start {
    width: 100%;
  }

  .loading-done {
    transition: none;
  }
}

.ps-control-buttons {
  display: flex;
  justify-content: space-around;
  padding: $measure-unit;
  background-color: $white;

  .btn {
    color: $white
  }
}

.ps-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: $gray-dark-transparent;
  width: 100%;
  z-index: 3;
  overflow: scroll;
  height: 100vh;

  &.image {
    position: fixed;
  }

  > div:first-child {
    border-top: 4px solid $red;
    background-color: $white;
    max-width: 500px;
    margin: auto;
    box-shadow: 1px 1px 3px;
  }
  .list {
    overflow: hidden;
  }
}

.search-space-modal {

  .rapid-icon {
    color: $yellow;
  }

  .space-type {
    border-bottom: 1px solid $gray-500;
  }

  .space-detail-thumb {
    padding-top: 10px;
  }

  .space-detail-content {
    overflow: auto;
    border-bottom: 1px solid $gray-500;
    border-top: 1px solid $gray-500;
  }

  .space-summary-content {
    overflow: auto;
    border-bottom: 1px solid $gray-500;
    border-top: 1px solid $gray-500;

    p {
      color: $gray-600;
      margin-bottom: 0;
    }

    h4 {
      color: $red;
    }

    img {
      height: 5em;
    }
  }
}

.place-offer-modal {
  top: 150px;
  .list {
    margin-bottom: 0;
  }
  .item {
    font-size: $base-font-size;
  }

  h3 {
    margin-bottom: 0;
  }
}

.ps-dialog {
  display: none;
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;

  .form-control {
    box-shadow: none;
  }

  .ps-dialog-content {
    background-color: white;
    position: relative;
    margin: auto;
    width: 74%;
    box-shadow: 1px 1px 3px;
    border-top: 4px solid $red;

    .ps-question {
      padding: $sm-measure-unit;
      padding-bottom: $big-measure-unit;
    }

    .ps-row:nth-child(2n+1) {
      background-color: $blue-90;
    }
    .ps-row {
      margin: 0;
      padding: 5px 0;
    }

    .save-spinner {
      // just enough for the h3 margin to kick in
      padding-bottom: 1px;
    }

    .confirm-space {
      width: 78%;
    }
  }
}

.ps-text-xbig {
  font-size: 1.5em;
  text-align: center;
}

.ps-text-xxbig {
  font-size: 2em;
  text-align: center;
}

.tooltip-inner {
  font-size: 1.2em;
}

.search-center-icon {
  width: 10px;
  height: 10px;
  background-color: $blue;
  margin: auto;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;

  &.shadow {
    box-shadow: 2px 2px 12px 1px $gray-700;
  }
}

.open-spaces-list {
  margin-top: $lg-jumbo-measure-unit + $base-font-size;

  h1, h2, h3 {
    margin: 0;
  }

  .item-notifications {
    font-size: 0.9em;
    color: $blue-700;
    text-decoration: underline;
  }

  .offer {
    border-bottom: 1px solid $gray-400;
    padding-top: $measure-unit;
  }
}

.scroll {
  overflow-y: scroll;
}

.add-photo {
  border: 1px dashed;
  box-shadow: none;
  margin: auto;
  border-radius: 8px;
  text-align: center;
  height: 118px;
  color: $blue-400;
}

.owl-carousel .img-thumbnail {
  border: 0;
  padding: 0;
  max-width: 100% !important;
  max-height: 30vh !important;
  &:hover {
    box-shadow: 5px 5px $gray-400;
    cursor: pointer;
  }
}

.owl-carousel  .owl-item img {
  width: auto;
}

.small .invalid-feedback {
  font-size: 1.2em;
}

.progress-container {
  margin-top: 2px !important;
}

.open-offers-list {
  margin-top: $lg-jumbo-measure-unit;
}

.space-detail-title {
  padding: 0 $measure-unit $measure-unit $measure-unit;

  h3 {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

bid-amount {
  input.form-control {
    font-size: 3em;
    line-height: 1.3;
    height: initial;
  }

  a {
    padding: 0 7px;
  }

  select.form-control {
    padding: 0;
  }

}

.edit-title {
  float: right;
  color: $gray-400;
}

.week-sched {
  .btn {
    &:active, &:focus, &.focus {
      box-shadow: none !important;
    }

    &.active {
      background-color: #122944 !important;
      border-color: #10233a !important;
      box-shadow: none !important;
    }
  }
}

.slider-tabs-menu {
  text-align: center;
  padding: 0;
  > li {
    border: 0 none;
    padding: 0;
    background-color: #555;
    color: $white;

    &.active {
      background-color: $white;
      position: relative;
      > a {
        color: $dflt-font-color;
      }
    }

    > a {
      padding: $measure-unit;
      display: block;
      color: $white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.select-pill {
  @extend .slider-tabs-menu;
  > li {
    background-color: $white;
    padding: $xsm-measure-unit;

    a {
      color: $dflt-font-color;
      padding: $sm-measure-unit;
      &.active {
        background-color: #555;
        color: $white;
        border-radius: 11px;
      }
    }
  }
}

.loading-spinner {
  display: none;
  color: $gray;
  width: 15%;
  margin: $xxbig-measure-unit auto;
}

.no-items-msg {
  width: 84%;
  margin-left: auto;
  margin-right: auto;
  margin-top: $xxxbig-measure-unit;
  margin-bottom: $xxxbig-measure-unit;
  color: $gray-lighter;
  font-size: 20px;
  text-align: center;

  a {
    color: $gray-lighter;
  }
}

.progress-container {
  height: 5px;
  border-radius: 2px;
  margin-top: -6px;

  .progress-bar {
    background-color: $blue;
    height: 100%;
  }
}

.parking-sign {
  color: $blue;
  background-color: #fff;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  box-shadow: 2px 2px 0 0 $gray-500;
  border: 1px solid $gray-500;
  height: 118px;
  background-size: 100%;
  background-repeat: no-repeat;

  &.secondary {
    color: $gray-500;
    border-color: $gray-500;
  }
}

.btn-change-photo {
  text-decoration: underline;
  width: 100%;
}

parking-spot-info-box {
  display: block;

  &:hover {
    background-color: $gray-200;
    cursor: pointer;
  }

  &.left-side {
    font-size: .9em;
    .parking-spot-details h1 {
      font-size: 1.9em;
    }
  }

  .parking-spot-details {
    padding: $measure-unit 0;

    h1 {
      color: $red;
      font-size: $lg-font-size;
      margin-top: $xsm-measure-unit;
    }

    p {
      margin-bottom: 0;
      color: $gray-700;
    }

    h2 {
      font-size: $lg-font-size;
      margin-bottom: $sm-measure-unit;
    }

    img {
      height: 8em;
    }
  }

}

.notif-icon {
  border-radius: 50%;
  background-color: #d46220;
  padding: 0 7px;
  font-size: 14px;
  z-index: 4;
  color: $white;
  height: 15px;
  vertical-align: middle;
  display: inline-block;
}

.unread-item-notif {
  position: absolute;
  right: 20px;
  z-index: 3;
  font-size: 2em;
  border-radius: 50%;
  background-color: $red;
  color: $white;
  top: 25%;
  width: 30px;
  height: 30px;
}

.map-center-marker {
  position: absolute;
  font-size: 2.5em;
  font-weight: bold;
  top: 48%;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}

.ps-page-title {
  border-bottom: 1px solid #aaa;
  padding: 14px 14px 5px 14px;
  background-color: $white;
}

.notification-area {
  position: fixed;
  top: 100px;
  z-index: 100;
  width: 100%;

  .notification-message {
    text-align: center;
    border-radius: $border-radius;
    color: $white;
    padding: $sm-measure-unit;
    display: none;
    margin: $measure-unit auto;
    width: 70%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      li {
        font-weight: bold;
      }
    }

    &.error {
      background-color: $red;
      display: block;
    }

    &.notification {
      background-color: $green;
      display: block;
    }

    &.warning {
      background-color: $yellow;
      display: block;
    }
  }
}

.border-right {
  border-right: 1px solid $gray-400;
}

.offer-desc-area {
  .offer-desc-item {
    font-size: 1.1em;
    padding-bottom: 5px;
    clear: both;
    font-weight: 300;

    .value {
      font-weight: 600;
      padding-right: 10px;
      padding-left: 10px;
      border-radius: 3px;
      white-space: nowrap;
    }
  }
}

.code-confirm {
  font-size: 1.6em;
  width: 48%;
}

.scroll {
  overflow-y: scroll;
}

.existing-offers {
  div.row {
    padding-bottom: 5px;
    padding-top: 5px;
  }

  .panel-body .row:nth-child(2n+1) {
    background-color: $blue-90;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }
}

.bids-area {

  .bid-title {
    border-bottom: 1px solid $gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bid-amount {
    color: $red;
    padding-top: $big-measure-unit;
  }

  .bid-table {
    max-height: 210px;
    border-bottom: 1px solid $gray-500;
    overflow: scroll;
    padding-bottom: 10px;

    .offer {
      background-color: $white;
      display: flex;
      align-items: center;

      &.selected {
        background-color: darken($blue-90, 10%);
        .offer-price {
          background-color: $blue-700;
          color: $white;
        }
      }

      .canceled {
        text-decoration: line-through;
      }

      .offer-price {
        color: $blue-700;
        background-color: $white;
        font-weight: bold;
        padding: 5px;
        font-size: 1.4em;
        display: inline-block;
        width: 95px;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }

    }

  }
}

// left hand drawer menu

.drawer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $gray-700;
  z-index: 2;
  top: 0;
  opacity: 0;
  transition: opacity ease-out .3s;
}

.menu {
  position: fixed;
  z-index: 3;
  left: -105%;
  background: $blue-90;
  color: $blue-800;
  height: 100%;
  top: 0;
  box-shadow: 1px 1px 27px 1px $gray-800;
  transition: left ease-out .3s;

  @include media-breakpoint-up(md) {
    position: static;
    box-shadow: none;
    background-color: $white;
  }

  .logo {
    border-bottom: 1px solid $blue-700;
    background-color: $blue-800;

    img {
      width: 100%;
      max-width: 150px;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 14px 20px;
      font-size: 1.2em;

      &.selected {
        background-color: $blue-700;
        color: $blue-100;
        text-shadow: 2px 2px $blue-800;
      }

      &:hover {
        cursor: pointer;
      }
    }

    @include media-breakpoint-up(md) {
      padding: 0 15px;

      li {
        font-size: 1.1em;
        border-bottom: 3px solid $white;
        color: $blue-700;
        padding: $sm-font-size 20px;

        &:hover {
          color: $blue-800;

        }

        &.selected {
          background-color: $blue-90;
          color: $blue-800;
          border-bottom: 3px solid $red;
          transition: border-bottom-width;
          text-shadow: none;
        }

      }
    }
  }

  .terms {
    margin-top: auto;
    margin-bottom: 0;
    border-top: 1px solid $gray-300;
    font-size: .9em;
    color: $gray-700;
  }
}

// the overlay blanket for showing help
.help-blanket {
  position: fixed;
  height: 100%;
  background-color: transparentize($gray-dark, 0.3);
  top: 0;
  left: 0;
  right: 0;
  padding: $measure-unit;
  text-align: center;
  z-index: 10;
  overflow: scroll;

  h1, h2, h3, h4, h5 {
    color: $white;
  }

  &.instruction {
    background-color: transparent;
    position: absolute;
    text-align: left;
  }
}

.img-shadow {
  box-shadow: 4px 4px 0 0 #ced4da;
  border-radius: 14px;
}

.menu-hidden, .menu-hidden-2 {
  display: none !important;
}

.add-place-instruction {
  position: absolute;
  bottom: 60px;
  right: 160px;
}

.rent-place-instruction {
  position: absolute;
  right: 0;
  width: 50%;
  bottom: 0;
}

.center-map-to-location {
  position: absolute;
  top: 52%;
  right: 10px;
  font-size: 1.1em;
  padding: 3px;
  border-radius: 4px;
}

// Social buttons

.fa-facebook-square {
  color: #3a5795;
}

.fa-google-plus-square {
  color: #d73d32;
}

.fa-twitter-square {
  color: #5EA9DD;
  position: absolute;
}

.full-height {
  height: 100%;
}

.html-marker {
  background: #fff;
  border-radius: 4px;
  font-size: 1.5em;
  display: flex;
  padding: 7px 5px;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
  align-items: center;
  white-space: nowrap;

  &.help {
    top: 41%;
    right: 55%;
    font-size: 1.5em;
  }

  > div {
    border-left: 1px solid $gray-400;
    margin-left: 5px;
    padding-left: 5px;

  }

  &:after {
    content: ' ';
    background-color: #fff;
    width: 7px;
    height: 7px;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: 91%;
    left: 16px;
  }

  &.public:before {
    content: '';
    background-image: image_url('app/p_logo_icon.png');
    display: inline-block;
    width: 17px;
    height: 23px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2px;
  }

  &.private:before {
    content: '\f1b9';
    background-image: none;
    width: auto;
    height: auto;
    margin: 2px;
    font-family: 'Fontawesome';
    color: $green;
    font-size: 20px;
  }

  &.owner:before {
    content: '\f007';
  }

  &:hover {
    background-color: $blue-200;
    cursor: pointer;
    z-index: 2;
  }
}

.location_map {
  height: 30vh;
}

.list-group-item-action {
  &:hover {
    cursor: pointer;
  }
}

.edit-sensor-modal {
  position: fixed;
  > div:first-child {
    max-width: 90%;
  }

  .sample-perimeter {
    background-color: transparentize($warning, .8);
  }

  .parking-space-perimeter {
    background-color: transparentize($success, .8);
  }

  .form-control.read-only {
    background-color: #e9ecef;
    pointer-events: none;
  }

  .was-validated .form-control.read-only.ng-invalid-required {
    border-color: $danger;
  }

  .perimeter-canvas {
    position: relative;

    .drag {
      position: absolute !important;
      top: 0;
      &:hover {
        cursor: move;
      }
    }
    .perimeter {
      border: 2px solid #17ff4e;
      width: 60px;
      height: 60px;
      color: #17ff4e;

      &.sample {
        border: 2px solid $warning;
        color: $warning;
      }
    }

  }

}

.sensor-fleet {

  .online-status {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $danger;

    &.ok {
      background-color: $success;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin is still there even though it's hidden */
}