<div ng-controller="MainCtrl" style="height: 100vh">


  <!-- Notification messages -->
  <div class="notification-area animated zoomIn">
    <div class="notification-message error" ng-show="errMsg.length">
      <ul>
        <li ng-repeat="msg in errMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message notification" ng-show="notifMsg.length">
      <ul>
        <li ng-repeat="msg in notifMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsg.length">
      <ul>
        <li ng-repeat="msg in warningMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsgHtml.length">
      <ul>
        <li ng-repeat="msg in warningMsgHtml">
          <span ng-bind-html="msg"></span>
        </li>
      </ul>
    </div>
  </div>


  <div class="row no-gutters pos-relative full-height">

    <!-- Navigation drawer menu -->
    <div id="drawer" class="menu d-flex flex-column" ng-click="closeMenu()">
      <div class="logo p-5 d-md-none text-center " ui-sref="home.map.search">
        <img src="<%= image_path 'logo_sm_dark.png' %>">
      </div>
      <ul>
        <li ui-sref="home.map.search" ui-sref-active="selected">
          <i class="fa fa-map-o"></i>
          Hartă
        </li>
        <li class="selected" ui-sref="home.myposts" ui-sref-active="selected">
          <i class="fa fa-car"></i>
          Locurile mele
        </li>
        <li ui-sref="home.myoffers" ui-sref-active="selected">
          <i class="fa fa-calendar"></i>
          Rezervările mele
        </li>
        <li ui-sref="home.map.search.myaccount" ui-sref-active="selected" class="d-md-none">
          <i class="fa fa-user"></i>
          Setări utilzator
        </li>
        <li ui-sref="home.account" ui-sref-active="selected">
          <i class="fa fa-credit-card"></i>
          Plăți și facturi
          <!--<span class="badge badge-warning badge-pill">14</span>-->
        </li>
      </ul>
      <ul class="terms border-top " ui-sref-active="selected" ui-sref="home.map.search.terms">
        <li>
          <i class="fa fa-file"></i> Termeni si condiții Go-Park
        </li>
      </ul>
    </div>
    <div class="drawer" ng-click="closeMenu()"></div>

    <!-- End navigation drawer menu -->

    <!-- left side menu -->
    <div ng-if="desktopScreen"  class="d-none d-lg-block col-lg-auto left-side-menu" >
      <ui-view name="left-side-menu"></ui-view>
    </div>
    <!-- End left side menu -->
    <div class="col scroll">
      <ui-view name="my-menu"></ui-view>

      <ui-view name="content"></ui-view>
    </div>
  </div>
</div>
