<div ng-controller="MainCtrl" class="full-height">


  <div id="drawer" class="menu " ng-click="closeMenu()">
    <div class="logo p-5 text-center" ui-sref="home.map.search">
      <img src="<%= image_path 'logo_sm_dark.png' %>">
    </div>
    <ul>
      <li ui-sref="home.map.search" ui-sref-active="selected">
        <i class="fa fa-map-o"></i>
        Hartă
      </li>
      <li class="selected" ui-sref="home.myposts" ui-sref-active="selected">
        <i class="fa fa-car"></i>
        Locurile mele
      </li>
      <li ui-sref="home.myoffers" ui-sref-active="selected">
        <i class="fa fa-calendar"></i>
        Rezervări
      </li>
      <li ui-sref="home.map.search.myaccount" ui-sref-active="selected">
        <i class="fa fa-user" ></i>
        Contul meu
      </li>
      <li>
        <i class="fa fa-credit-card"></i>
        Plăți
        <span class="badge badge-warning badge-pill">14</span>
      </li>
      <li ng-click="logout()">
        <i class="fa fa-credit-card"></i>
        Logout
        <span class="badge badge-warning badge-pill">14</span>
      </li>
    </ul>
  </div>
  <div class="drawer" ng-click="closeMenu()">
  </div>


  <div class="notification-area animated zoomIn" >
    <div class="notification-message error" ng-show="errMsg.length">
      <ul>
        <li ng-repeat="msg in errMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message notification" ng-show="notifMsg.length">
      <ul>
        <li ng-repeat="msg in notifMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsg.length" >
      <ul>
        <li ng-repeat="msg in warningMsg">{{msg}}</li>
      </ul>
    </div>

    <div class="notification-message warning" ng-show="warningMsgHtml.length">
      <ul>
        <li ng-repeat="msg in warningMsgHtml">
          <span ng-bind-html="msg"></span>
        </li>
      </ul>
    </div>
  </div>


  <ui-view name="my-menu"></ui-view>
  <ui-view name="content"></ui-view>

</div>
