<div class="help-blanket" ui-sref="^">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col"> My spaces - All Parking spaces posted by you</div>
            <div class="col"> My offers - All Offers placed by you</div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <h3> You have posted {{spaces.length}} parking space(s).<br/><br/> </h3>
        <br/>
        <h3 ng-show="spaces.length"> Tap on one to view offers others have made for your space</h3>
</div>