<div id="pac-container">
  <places-autocomplete selected-place="selectPlace(place,location)" place-holder="'Caută adresa si ora ...'"></places-autocomplete>
  <span>
    <i class="pac-nav fa fa-bars " ng-click="openMenu()"></i>
    <i id="notifmyposts" class="notif-icon" ng-show="showNotif()" ng-click="gotoOffersOrSpaces()"></i>
  </span>
  <hr/>
  <div class="row no-gutters">
    <div class="col-6">
      <input type="text" date-time ng-date-model="dateFilter.start" title="start" class="form-control">
      <i class="fa fa-arrows-h addon"></i>
    </div>
    <div class="col-6">
      <input type="text" date-time ng-date-model="dateFilter.stop" title="stop" class="form-control">
    </div>
  </div>
</div>