<div id="paymentRoot" class="ps-modal" ng-controller="PayCtrl">
    <div class="dropin-wrapper p-3 animated zoomIn ">
        <div class="dropin-header">
            <product-table offer="offer" space="selectedSpace"></product-table>
        </div>
        <div class="text-center" id="loadingSpinner">
            <i class="fa fa-spinner fa-2x fa-spin"></i> Securing ...
        </div>
        <div class="dropin-container">
        </div>
        <div class="dropin-footer my-4 text-center mark small">
            Go Park nu utilizează și nu stochează date financiare.<br/> Procesul de plată este gestionat și securizat
            prin <br/>
            <a href="https://www.braintreegateway.com/merchants/z9m7pkx8dz7jsgq4/verified" target="_blank">
                <img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-dark.png" width="159"
                     height="25" border="0">
            </a>
        </div>
        <button class="btn btn-lg btn-primary btn-block start-payment" ng-disabled="loading">
            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
            <i class="fa fa-credit-card"></i> Plătește
        </button>
    </div>
</div>