<div class="animated zoomIn mt-4" ng-controller="PaymentsCtrl">

    <h4 class="text-center"> Listă plăți efectuate </h4>
    <div class="no-items-msg loading-finished" ng-hide="payments.length"> Nu ai nici efectuat nici o plată.</div>


    <div class="bids-area mt-4 mt-md-5 pb-3 panel ">
        <div class="no-items-msg" ng-hide="payments.length">
            <i class="fa fa-spin fa-2x text-secondary fa-spinner"></i>
        </div>
        <div class="bid-table " ng-show="payments.length">

            <div class="offer d-flex justify-content-between" ng-repeat="payment in payments"
                 ng-click="selectPayment(payment)" ng-class="{selected: selPayment == payment}">

                    <span class="offer-price">
                        {{payment.amount}} {{ payment.currency_iso_code }}
                    </span>

                    <span>
                            {{ payment.created_at | moment: 'D/MM HH:mm' }}
                    </span>
                <span class="text-capitalize">
                            {{ payment.status}}
                    </span>
                <span>
                        <button class="btn btn-sm btn-link" ng-click="getDetails(payment)">Detalii</button>
                    </span>

            </div>
        </div>

        <!-- Action buttons for offer -->
        <div class="mt-3 d-flex justify-content-center" ng-show="payments.length">

            <button class="btn btn-link animated zoomIn" ng-click="showReservationDetails()">
                <i class="fa fa-calendar"></i> Vezi rezervare
            </button>
            <button class="btn btn-link animated zoomIn"
                    ui-sref="home.map.search({lat:space.location_lat, lng:space.location_long,zoom: 18 })">
                <i class="fa fa-map"></i> Vezi locul pe hartă
            </button>
        </div>
    </div>

    <div class="ps-dialog mt-5" id="showDetails">
        <div class="ps-dialog-content animated zoomIn">
            <div class="ps-question">
                <div ng-repeat="detail in paymentDetails">
                    <h5> Linie {{$index}}</h5>
                    <div class="row ps-row">
                        <div class="col-4">Nume</div>
                        <div class="col-8">
                            {{detail.name}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">TVA</div>
                        <div class="col-8">
                            {{detail.tax_amount}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Pret</div>
                        <div class="col-8">
                            {{detail.total_amount}}
                        </div>
                    </div>
                    <div class="row ps-row">
                        <div class="col-4">Descriere</div>
                        <div class="col-8">
                            {{detail.description}}
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
            <div class="ps-control-buttons">
                <button class="btn  btn-secondary" onclick="$('#showDetails').hide()">Înapoi</button>
            </div>
        </div>
    </div>

    <!-- Additional info dialog -->
    <div class="ps-dialog mt-5" id="showReservation">
        <div class="ps-dialog-content animated zoomIn">
            <div class="ps-question">
                <parking-spot-info-box space="selectedSpace" class="mb-3"></parking-spot-info-box>
                <hr/>
                <div class="row ps-row">
                    <div class="col-4">Durata</div>
                    <div class="col-8">
                        {{selOffer | totalPeriod}}
                    </div>
                </div>
                <div class="row ps-row">
                    <div class="col-4">Start</div>
                    <div class="col-8">
                        {{selOffer.start_date | moment: 'ddd, D MMM, HH:mm'}}
                    </div>
                </div>
                <div class="row ps-row">
                    <div class="col-4">Stop</div>
                    <div class="col-8">
                        {{selOffer.end_date | moment: 'ddd, D MMM, HH:mm'}}
                    </div>
                </div>
                <div class="row ps-row">
                    <div class="col-4">
                        Taxare
                    </div>
                    <div class="col-8">
                        La 15 min
                    </div>
                </div>
                <div class="mt-3 pt-3 text-center" ng-hide="selOffer.approved">
                    <h5>Oferta nu a fost încă acceptată</h5>
                    <div class="ps-text-xxbig">
                        :(
                    </div>
                </div>
                <div class="mt-3 pt-3 text-center" ng-show="selOffer.approved">
                    <h5>Apelează <br/> {{selectedSpace.owner_name}} </h5>
                    <div class="ps-text-xbig">
                        <a ng-href="tel:{{selectedSpace.owner_phone_number}}">
                            <i class="fa fa-phone"></i>
                            {{selectedSpace.owner_phone_number}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="ps-control-buttons">
                <button class="btn  btn-secondary" onclick="$('#showReservation').hide()">Înapoi</button>
            </div>
        </div>
    </div>
</div>