<div class="help-blanket" ui-sref="^">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h3>Ask for a price and fill in an attractive title.</h3>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row" style="margin-top: 10px">
        <div class="col-25"> Short tap to take a picture,<br/> long tap to attach an image .</div>
        <div class="col-10"></div>
        <div class="col-50"><br/>Add landmarks and information on how to locate the space</div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row">
        <div class="col">Click &laquo;<i class="ion-checkmark-round"></i>&raquo; to save the parking space. </div>
    </div>
</div>