<div id="search-space" class="ps-modal" ng-controller="ReviewBidsCtrl" >
    <div class="search-space-modal">

        <!-- Parking space info box , on top of offer number spinner -->

        <div class="space-detail-content padding-horizontal">
            <div class="pull-left space-detail-thumb" ng-click="showFullImage = true" ng-show="selectedSpace.thumbnail_image_url">
                <img ng-src="{{stdImageUrl(selectedSpace.thumbnail_image_url)}}" height="100"/>
            </div>
            <div class="pull-left" style="width:70%" >
                <parking-spot-info-box space="selectedSpace" class="small"></parking-spot-info-box>
            </div>
        </div>


        <div class="bids-area padding-left padding-right padding-top">

            <h4>Active offers ({{selectedSpace.offers.length}})</h4>

            <!-- table of offers when user == current user -->
            <div ng-show="selectedSpace.owner_is_current_user">

                <div ng-hide="selectedSpace.offers.length" class="ps-text-xxbig">
                    <br/>
                    <br/>
                    {{selectedSpace.offers.length || 0}} offers
                </div>

                <div class="bid-table narrow scroll" ng-show="selectedSpace.offers.length ">

                    <div class="offer" ng-click="selectOffer(offer)"
                         ng-repeat="offer in selectedSpace.offers | orderBy: 'timestamp'"
                         ng-class="{selected: selOffer == offer}">

                            <span class="offer-price">
                                {{offer.price | units}}.<small>{{offer.price | subunits}}</small>
                                <currency val="offer.currency"></currency>
                            </span>

                        <span class="offer-desc">
                                ({{offer.owner_name}})
                            </span>

                        <span class="offer-accept" ng-click="confirmApproval(offer)">
                                <i class="ion-checkmark-round accepted" ng-show="offer.approved">Accepted</i>
                                <i class="ion-checkmark-round" ng-show="!offer.approved"> Accept</i>
                            </span>

                    </div>
                </div>
                <span ng-show="selectedSpace.offers.length">
                            Tap &laquo;<i class="ion-checkmark-round"></i> Accept&raquo;to confirm an offer
                    </span>

                <div ng-show="selOffer" class="offer-desc-area">
                    <div class="offer-desc-item">
                        Placed on:
                        <div class="value pull-right">{{selOffer.created_at | date: 'EEE, MMM d, h:mm'}}</div>
                    </div>

                    <div class="offer-desc-item">
                        Placed by :
                        <div class="value pull-right">{{selOffer.owner_name}}</div>
                    </div>
                    <div class="offer-desc-item phone-number">
                        Tel No:
                        <span class="value pull-right" ng-show="selOffer.approved"><i class="fa fa-phone"></i>{{selOffer.phone_number}}</span>
                        <span class="value pull-right" ng-hide="selOffer.approved"
                              ng-click="confirmApproval(selOffer)">
                        &laquo;<i class="ion-checkmark-round"></i> Accept&raquo; offer first
                    </span>
                    </div>
                </div>
            </div>

            <!-- table of offers when user != current user -->
            <div ng-hide="selectedSpace.owner_is_current_user">

                <div ng-show="selectedSpace.offers.length">

                    <div class="bids-area">
                        <div class="bid-table narrow scroll">
                            <div class="offer" ng-click="selectOffer(offer)"
                                 ng-repeat="offer in selectedSpace.offers | orderBy: '-price'"
                                 ng-class="{selected: selOffer == offer}">

                                    <span class="offer-price">
                                        {{offer.price | units  }}.<small>{{offer.price | subunits}}</small>
                                        <currency val="offer.currency"></currency>
                                    </span>
                                <span class="offer-desc">from {{offer.owner_name}}</span>

                            </div>
                        </div>
                    </div>
                </div>
                <bid-amount amount="bid.bidAmount" currency="bid.bidCurrency"></bid-amount>
                <div style="text-align: center;">
                    <button class="btn-red big" ng-click="placeOffer()">Place offer</button>
                </div>
            </div>
        </div>


        <div class="btn-grp">
            <h4>
                <small> This parking spot <b>{{expireDuration()}}</b>.</small>
            </h4>
            <i class="fa fa-facebook-square fa-3x"
               ng-click="window.plugins.socialsharing.share('Message only')"> </i>
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-google-plus-square fa-3x"
               ng-click="window.plugins.socialsharing.share('Message only')"> </i>
            &nbsp;&nbsp;&nbsp;
            <i class="fa fa-twitter-square fa-3x"
               ng-click="window.plugins.socialsharing.share('Message only')"> </i>
        </div>

    </div>

    <div class="ps-modal thumbnail-modal" ng-show="showFullImage" ng-click="showFullImage = false">
        <br/>
        <br/>

        <h2 class="text-center" ng-hide="selectedSpace.standard_image_url">
           <span class="fa-stack fa-lg">
              <i class="fa fa-camera fa-stack-1x"></i>
              <i class="fa fa-ban fa-stack-2x"></i>
            </span>
        </h2>
        <img ng-src="{{stdImageUrl(selectedSpace.standard_image_url)}}" class="ps-std-thumbnail"
             ng-show="selectedSpace.standard_image_url"/>
        <span>{{selectedSpace.description}}</span>
    </div>


    <div class="ps-control-buttons">
        <div class="button-bar">
            <a class="button icon-center ion-checkmark-round" ui-sref="^"></a>
            <a class="button icon-center ion-edit" ng-click="showEdit(selectedSpace)" ng-show="selectedSpace.owner_is_current_user"></a>
            <a class="button icon-center ion-trash-a" ng-click="showDelete(selectedSpace)" ng-show="selectedSpace.owner_is_current_user"></a>
            <a class="button icon-center ion-close" ui-sref="^" ng-hide="selectedSpace.owner_is_current_user"></a>
        </div>
    </div>
</div>
