<div class="help-blanket" ng-init="currentStage = 1">
  <div class="container rent ">

    <div class="col-12">
      <h3 class="my-5 my-md-4 text-right ">
        <i class="fa fa-close" style="margin-right: -20px;" ui-sref="^"></i>
      </h3>
      <hr>
    </div>

    <!-- how to post a space-->
    <div class="row no-gutters" >
      <div class="mb-2  col-12 col-sm-4 d-flex align-items-center justify-content-center">
        <div class="faq-box">
          <div class="col-12">
            <img class="img-fluid" width="130" src="<%= image_path 'phone_blue.png' %>">
            <button class="add-btn help animated bounce infinite delay-5 duration-6 ">
                   <span>
                       <i class="fa fa-plus"></i> <br/> Vinde
                   </span>
            </button>
          </div>
          <div>
            <hr/>
            <h4>1. Apesi 'Vinde'</h4>
          </div>
        </div>
      </div>
      <div class="col-sm " ng-show="currentStage == '1'">
        <div class="panel help-explanation">
          <h4 class="mb-3">Poți posta orice loc de parcare</h4>
          <ul>
            <li> Puteți posta locuri pentru care <b>dețineți dreptul de proprietate</b> sau
              <b>dreptul de sub-închiriere</b>.
              Pentru a afla aceste detalii va rugăm consultați actele spațiului.
            </li>
            <li> Este posibilă postarea de locuri pentru care nu exista dreptul de sub-închiriere, însă descurajată.
              Pentru
              un astfel de loc gestiunea, plata și responsabilitatea legală intră exclusiv in sarcina proprietarului.
            </li>
          </ul>
        </div>

        <div class="panel mt-4 help-explanation">
          <h4>Vei avea următoarele obligații:</h4>
          <ul>
            <li>Să garantezi accesul celor care închiriază</li>
            <li>Să asiguri eliberarea locului după expirarea perioadei de închiriere</li>
            <li>Conducătorul (clientul) poate plăti cash sau cu cardul. În cazul achitării cu cardul,
              banii vor fi virați oricând insă doar după semnarea unui <b>contract de sub-închiriere</b> cu go-park.
            </li>
          </ul>
        </div>
      </div>
      <div class="mb-2 col-12 col-sm-4 animated slideInRight d-flex align-items-center justify-content-center" ng-show="currentStage >= 2">
        <div class=" d-flex align-items-center">
          <div class="faq-box">
            <div class="col-12">
              <img class="img-fluid" width="130" src="<%= image_path 'phone_post_space_blue.png' %>">
            </div>
            <hr/>
            <h4>2. Setezi prețul și disponibilitatea </h4>
          </div>
        </div>
      </div>
      <div class="col-sm animated slideInRight" ng-show="currentStage == 2 ">
        <div class="panel help-explanation">
          <h4 class="mb-3">Orice perioadă - 1 zi, 1 săptamână, 1 an</h4>
          <ul>
            <li> Încurajăm închirierea pentru perioade <b>lungi</b>. Câștigurile dvs. vor fi mult mai mari.</li>
            <li> De asemenea se poate închiria pentru perioade orare zilnice - e.g. 2 ore seara sau 8 ore/zi.</li>
          </ul>
        </div>
      </div>

      <div class="col-12 col-sm-4 animated slideInRight d-flex align-items-center justify-content-center" ng-show="currentStage >= 3">
        <div class=" d-flex align-items-center">
          <div class="faq-box">
            <div class="col-12">
              <img class="img-fluid" width="130" src="<%= image_path 'phone_pay_blue.png' %>">
            </div>
            <hr/>
            <h4>3. Primești bani</h4>
          </div>
        </div>
      </div>

      <div class="col-12 animated slideInRight" ng-show="currentStage == 3 ">
        <div class=" mt-4 panel help-explanation" ng-show="currentStage >= 3">
          <h5 class="mb-3">Plata cash sau card </h5>
          <ul>
            <li> Conducătorul are opțiunea de a vă plăti cash sau online, nefiind nevoie să fiți prezent.
            </li>
            <li> În cazul plății online, banii se vor aduna și îi puteți transfera în contul dvs bancar din meniul de
              plăți.
            </li>
          </ul>
        </div>

        <div class=" mt-4 panel help-explanation" ng-show="currentStage >= 3">
          <h5 class="mb-3">Tranzacție garantată prin contract</h5>
          <ul>

            <li> Conducătorul se obligă contractual să respecte perioada de închiriere.</li>

            <li> Aveți disponibil nr. de telefon al conducătorului și de asemenea nu uitați ca
              locul este în <b>proprietatea</b> dvs. Oricine parchează impotriva voinței dvs, poate fi ridicat sau
              amendat.
            </li>
          </ul>
        </div>

        <div class=" mt-4 panel help-explanation" ng-show="currentStage >= 3">
          <h5 class="mb-3">Sunteți acoperit în orice situație</h5>
          <ul>
            <li> În cazul nerespectării angajamentului de către conducătorul auto, după ce faceți dovada faptei, aveți opțiunea de a solicita o sumă penalizatoare de cca 3x prețul de
              închiriere. Banii aceștia vor fi deduși din contul bancar al conducătorului. Pentru asta trebuie să luați legatura cu centrul nostru
              de suport office@go-park.ro.
            </li>
            <li>
              Cel mai indicat este însă să luați legatura și să stabiliți de comun acord o rezolvare.
            </li>
          </ul>
        </div>


      </div>


      <button class="btn btn-info btn-lg btn-block mt-4" ng-show="currentStage < 3" ng-click="currentStage = currentStage +1 ">
        Am înțeles, următoarea pagină <i class="fa fa-angle-double-right"></i>
      </button>

      <button class="btn btn-primary btn-lg btn-block mt-4" ng-show="currentStage == 3" ui-sref="^">
        <i class="fa fa-check-circle"></i> Am înțeles
      </button>
    </div>


    <!-- how to rent -->


  </div>


</div>