<div class="help-blanket">
  <div class="container rent full-height">
    <div class="row no-gutters full-height align-items-">
      <div class="col-12">
        <h1 class="my-5 my-md-4 text-center animated fadeInUp">
          Cum vând un loc de parcare ?
        </h1>
        <hr>
      </div>
      <div class="col-12 col-sm-4  ">
        <div class="faq-box p-3  m-2">
          <img class="img-fluid" width="130" src="<%= image_url 'phone_blue.png' %>">
          <button class="add-btn help animated bounce infinite delay-5 duration-6 ">
               <span>
                   <i class="fa fa-plus"></i> <br/> Vinde
               </span>
          </button>
          <div>
            <hr/>
            <h4>Apesi 'Vinde'</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-4 mt-2 animated zoomIn delay-5">
        <div class="faq-box p-3  m-2">
          <div class="my-3  pricing-icon help disp">
            <i class="fa fa-money fa-3x"></i>
            <hr style="width: 100%"/>
            <i class="fa fa-calendar fa-3x"></i>
          </div>
          <hr/>
          <h4>Setezi prețul și disponibilitatea </h4>
        </div>
      </div>
      <div class="col-12 col-sm-4 mt-2 animated zoomIn delay-6 ">
        <div class="faq-box p-3  m-2">
          <div class="my-3  pricing-icon help disp">
            <i class="fa fa-usd fa-4x"></i>
          </div>
          <hr/>
          <h4>Ai terminat</h4>
          <h5>Odată ce locul va fi închiriat, vei încasa banii</h5>

        </div>
      </div>
    </div>
  </div>


  <button class="center-btn btn btn-info" ng-click="centerMap()">
    <i class="fa fa-crosshairs"></i>
  </button>


</div>