<div ng-controller="SearchParkingSpaceCtrl" class="map-controls">

    <ui-view name="place-bid"></ui-view>

    <search-center-icon shown="placingSpot"></search-center-icon>

    <button class="info-btn btn btn-info" ui-sref=".instructions">
        <i class="fa fa-question"></i>
    </button>


    <button class="center-btn btn btn-secondary" ng-click="centerMap()">
        <i class="fa fa-crosshairs"></i>
    </button>

    <button class="add-btn" ng-click="showPostSpace()" ng-class="{wide: placingSpot}">
       <span ng-hide="placingSpot">
           <i class="fa fa-plus"></i> <br/> Vinde
       </span>
        <span ng-show="placingSpot">
            Continuă
            <i class="fa fa-arrow-right"></i>
        </span>
    </button>

    <ui-view name="help"></ui-view>


</div>
