<?xml version='1.0' encoding='utf-8'?>
<widget id="ro.sft.parkingspace.mobile" version="0.0.1"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Parking Space</name>
    <description>
        A way to sell and buy parking spaces.
    </description>
    <author email="victor.bucutea@gmail.com" href="http://softspot.ro">
        Victor Bucutea
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="ShowSplashScreenSpinner" value="true" />
</widget>
