<div class="ps-modal edit-sensor-modal" ng-controller="SectionCtrl">
  <div class="p-3">
    <h2>Section Details</h2>


    <div class="text-center perimeter-canvas">

      <div class="add-photo justify-content-center d-flex flex-column "
           ng-hide="section.interior_map"
           ui-sref=".upload">
        <i class="fa fa-map fa-3x"></i>
        <i class="text">Adaugă imagine plan parcare</i>
        <i class="text small">(dim mare)</i>
      </div>
      <img class="img-fluid"
           id="scream"
           crossorigin="anonymous"
           ng-show="section.interior_map"
           ng-src="{{ 'https://res.cloudinary.com/'+cloudinaryName+'/image/upload/'+section.interior_map}}">


      <!--  here be the place for draggable boxes -->
      <div ng-repeat="per in parkingPerimeters" class="drag per-drag-{{per.id}} "
           data-id="{{per.id}}"
           style="top: {{ top(per) }} ; left:{{left(per)}}">

        <div class="per-res-{{per.id}} perimeter"
             ng-mouseup="clickPer(per)"
             ng-class="{selected: ( selectedPer == per)}"
             data-id="{{per.id}}"
             style="width: {{ width(per) }} ; height:{{ height(per) }} ">
          <h5> {{per.identifier}} </h5>
        </div>


        <div ng-repeat-end ng-init="makeDraggable(per)"></div>
      </div>

    </div>

    <div class="d-flex p-2 justify-content-around perim-buttons">
      <button class="btn btn-link" name="addPerim" ng-click="newPerimeter()"
              ng-disabled="!section.interior_map">
        <i class="fa fa-square"></i> Adaugă perimetru loc parcare
      </button>
      <button class="btn btn-link" ui-sref=".upload">
        <i class="fa fa-map"></i> Încarcă plan nou parcare
      </button>
    </div>


    <div ui-view="detail"></div>

    <!-- Here be the parking plan edit form -->
    <div class="my-5 p-4">
      <form novalidate id="sectionForm" name="sectionForm">
        <div class="form-row form-group">
          <label class="col-form-label col-sm-2" for="name"> Nume </label>
          <div class="col-sm-10">
            <input id="name" class="form-control" required ng-model="section.name">
            <small class="form-text ">Dați un nume scurt secțiunii de parcare</small>
          </div>
        </div>
        <div class="form-row form-group">
          <label class="col-form-label col-sm-2" for="name"> Descriere </label>
          <div class="col-sm-10">
            <textarea id="description" class="form-control" required ng-model="section.description"></textarea>
            <small class="form-text "></small>
          </div>
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-primary" ng-click="savePerimeters()" ng-disabled="loading">
            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
            Salvează locurile
          </button>
          <button class="btn btn-secondary" ng-click="resetPerimeters()" ng-disabled="loading">
            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
            Resetează la starea inițială
          </button>
          <button class="btn btn-danger" ui-sref="^" ng-disabled="loading">
            <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
            Anulează
          </button>
        </div>

      </form>
    </div>

  </div>

</div>