.product {

  .pricing-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: #f8f9fb;
    border-radius: 50%;
    overflow: hidden;
  }

  .product-subtitle {
    color: $gray-500;

  }

  .product-desc {
    background-color: $gray-100;
    border-top: 1px solid $gray-600;

  }

  #mainImg:hover {
    cursor:pointer;
    border: 1px solid $gray-600;
  }

  .stock {
    color: $green;
  }

  .thumbnails {
    img:hover {
      cursor:pointer;
      border: 1px solid $gray-600;
    }
  }
}

.desc-tabs {
  .desc-tab-item {
    padding: 16px 8px;
    margin-right: 16px;
    line-height: 1.5;
    color: #586069;
    text-align: center;
    border-bottom: 2px solid transparent;

    &.selected {
      border-bottom-color: $red;
    }

    &:hover {
      border-bottom-color: $red;
      cursor: pointer;
    }
  }

  & + hr {
    margin-top: 0;
  }
}


.buy-form {
  background-color: $gray-100;

  img {
    align-self: center;
  }

}

.price-table {
  margin-bottom: 0;

  .form-control {
    width: 40px;

    &.ng-invalid {
      border: 2px solid $red;
    }
  }
}