// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$golden-ratio: 1.428571429;

$dflt-border-radius: 3px;
$big-border-radius: (3px * $golden-ratio);

$base-font-size: 14px;

// 10px
$sm-font-size: $base-font-size / $golden-ratio;

// 20px
$lg-font-size: $base-font-size * $golden-ratio;

// 28px
$xlg-font-size: $lg-font-size * $golden-ratio;

// 28px
$xxlg-font-size: $xlg-font-size * $golden-ratio;

// 20px
$base-line-height: $base-font-size * $golden-ratio;

// a balanced measure unit is a sub-unitary value of the base font size
// 10px
$measure-unit: $base-font-size / $golden-ratio;

// 14 px
$big-measure-unit: $base-font-size;

// 20 px
$xbig-measure-unit: $big-measure-unit * $golden-ratio;

//28px
$xxbig-measure-unit: $xbig-measure-unit * $golden-ratio;

// 39 px
$xxxbig-measure-unit: $xxbig-measure-unit * $golden-ratio;

// 54 px
$xxxxbig-measure-unit: $xxxbig-measure-unit * $golden-ratio;

// 76 px ( $base-unit * ratio ^ 6 )
$jumbo-measure-unit: $xxxbig-measure-unit  * $golden-ratio * $golden-ratio;

// 106 px ( $base-unit * ratio ^ 7 )
$lg-jumbo-measure-unit: $jumbo-measure-unit * $golden-ratio;

// 7px
$sm-measure-unit: $measure-unit / $golden-ratio;

// 5px
$xsm-measure-unit: $sm-measure-unit / $golden-ratio;

// 3px
$xxsm-measure-unit: $xsm-measure-unit / $golden-ratio;

$font-family: "Open Sans", sans-serif;
$dflt-font-color: #333;
$gray: #ddd;

$gray-lighter: #888;
$gray-xlight: #e5e5e5;
$gray-xxlight: #f5f5f5;

$gray-dark: #444;
$gray-dark-transparent: transparentize($gray-dark, 0.5);

$blue: #7A93BA;
$blue-transparent: transparentize($blue,0.5);


$red: #d46220;


body {
  margin: 0;
  padding: 0;
  background: #FFF;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dflt-font-color;
  font-size: $base-font-size;
  font-family: $font-family;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

/* Prevent ugly blue glow on chrome and safari */
a, button, input {
  outline: none !important;
}

nav {
  background-color: $gray-dark;
  border-radius: none;
  .navbar-brand {
    color: $gray-xxlight;
  }
  .navbar-nav {
    float: right;
    & > li > a {

      color: $gray-xxlight;
      &:hover {
        text-decoration: underline;
      }

    }
  }
}

.find-block {
  height: 40vh;
  display: flex;
  align-items: center;
  background-color: $blue-transparent;
}
