
nav {
  background-color: $blue-900;

  .navbar-brand {
    color: $blue-100;
  }
  .navbar-nav {
    & > li {
      &.active {
        font-weight: bold;
      }

      & > a.nav-link {
        color: $blue-90;
        font-size: 1.1em;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .navbar-toggler {
        border: none;
      }
    }
  }

  .user {
    border: 1px solid #333;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
  }
}

.find-block {
  height: 100vh;
  background: cloudinary_url("bg_scale_w_1380.jpg") no-repeat center;
  background-size: cover;
}

@include media-breakpoint-down(md) {
  .find-block {
    background: cloudinary_url("bg_scale_w_1045.jpg") no-repeat center;
    background-size: cover;
  }
}

@include media-breakpoint-down(sm) {
  .find-block {
    background: cloudinary_url("bg_scale_w_500.jpg") no-repeat;
    background-size: cover;
  }
}

@include media-breakpoint-up(lg) {
  .find-block {
    background: cloudinary_url("bg_scale_w_1380.jpg") no-repeat center;
    background-size: cover;
  }
}

div.daterangepicker {
  font-size: 1.1em;
  padding: 0;
  margin-top: 7px;
  box-shadow: 2px 2px 2px 0 $gray-600;

  &:after {
    border-bottom-color: $blue-700;
  }

  .daterangepicker_input {
    background-color: $blue-700;
    margin-top: 0;
    padding: 4px;
    color: $blue-90;

    i {
      font-size: 1.6em;
      top: 5px;
    }

    select {

      &.hourselect {
        font-size: 1.4em;
        background-color: $blue-700;
        color: $blue-90;
        border: 0;
        border-bottom: 1px solid $blue-90;
        width: 30%;
      }

      &.minuteselect {
        font-size: 1.4em;
        background-color: $blue-700;
        color: $blue-90;
        border: 0;
        width: 30%;
        border-bottom: 1px solid $blue-90;
      }

    }
  }

  .header {
    text-align: center;
    padding: 3px;
  }

  .apply {
    width: 95%;
    padding: 8px;
    background-color: $gray-500;
    border: 1px solid $gray-600;
    color: #fff;
    font-size: 1.4em;
    margin: 7px;
  }

  .ranges {
    float: none !important;
  }

  .cancel {
    display: none;
  }

  .calendar {
    max-width: inherit;
    margin: auto;

    td {
      padding: 5px;
    }
  }

}

.search-form {
  position: relative;

  input.form-control {
    border: 1px solid $gray-lighter;
    line-height: 2;
    font-size: 1.5em;
    height:auto;
    padding-right: 2.5em;
    text-overflow: ellipsis;
    background-color: $blue-80;
    color: $blue-900;
    box-shadow: 1px 1px 0 0 $gray-500;


    @include media-breakpoint-down(sm) {
      font-size: 1.4em;
    }
  }



  .btn-search {
    font-size: 1.4rem;
  }

  .clear-btn {
    position: absolute;
    top: 33%;
    right: 10%;
    font-size: 1.5em;
  }

  .search-icon {
    position: absolute;
    right: 3%;
    top: 33%;
    font-size: 1.6em;
    color: $gray-light;

    &:hover {
      color: $dflt-font-color;
      cursor: pointer;
    }
  }

  .dropdown-item {
    white-space: nowrap;
    font-size: 1.3em;
    overflow: hidden;
    text-overflow: ellipsis;

    .res-marker {
      font-size: 1.4em;
      color: $red;
    }

    &.no-item {
      color: $gray-lighter;
    }

    &:hover {
      cursor: pointer;
    }

  }

  .address-suggestion {
    width: 100%;
    display: block;
    top: inherit;
    right: 0;
    left: 0;
    font-size: 1.1em;
    background-color: $blue-80;
    box-shadow: 0 2px 3px 0 $gray-700;
    color: $blue-900;
  }
}

.date-range-container {
  font-size: 1.2em;

  date-input {

    box-shadow: 0px -1px 3px 0 $gray-700;
    &.err {
      border: 1px solid $red;
    }

    &.shadow {
      box-shadow: 1px 4px 3px 0 $gray-700;

      .input {
        border-top: 3px solid $red;
      }
    }
  }

  .date {
    text-transform: capitalize;
  }

  .day-of-week {
    text-align: center;
    font-size: 1.2em;
    line-height: 1;
    text-transform: capitalize;
    color: $blue-900;
  }

  .date-container {
    background-color: $blue-900;
    color: $blue-100;
  }

  .label {
    font-size: 0.8em;
    color: $blue-900;
  }

  .input {
    border-radius: $border-radius;
    background-color: $blue-90;
    line-height: 2;
    text-align: center;

    &:focus {
      box-shadow: 1px 2px 7px 0 $blue-900;

    }
  }
}

.ios {
  max-width: 150px;
}

.appstore {
  max-width: 166px;

}

.rent {
  .pricing-box-1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 15px;
    border: 1px solid $gray-400;
    border-radius: 3px;
    background-color: #fff;
  }


  .pricing-title {
    font-size: 20px;
    font-weight: 900;
    color: #151515;
  }

  .pricing-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: #f8f9fb;
    border-radius: 50%;
    overflow: hidden;

    &.help {
      color: $blue-600;
      display: flex;
      flex-direction: column;
    }
  }



  .t-bar {
    z-index: 2;
  }
  .pricing-list {
    list-style: none;
    padding: 0;

    li {
      padding: $measure-unit $sm-measure-unit;
      font-weight: 300;
    }
  }

  .price-wrap {
    font-size: 10px;
    letter-spacing: 0.1em;
    font-weight: 700;

    .price {
      display: block;
      font-size: 36px;
      line-height: 1.1;
      font-weight: 700;
      color: #151515;
    }

    + .btn {
      margin-top: 30px;
    }

  }

}

.faq {

  .faq-box {
    background-color: #fff;
    border: 1px solid $gray-300;
    border-radius: 5rem;
    text-align: center;
    height: 100%;

    span {
      font-weight: 300;
    }

    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .pricing-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: #f8f9fb;
    border-radius: 50%;
    overflow: hidden;
    color: $blue-500;

    &.disp {
      flex-direction: column;
    }

    &.large-icon {
      width: 200px;
      height: 200px;
      border: 1px solid $gray-300;
    }
  }
}

.panel {

  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 3px 3px 0 0 $gray-400;
  border-radius: 4px;

  h5, h4 {
    font-weight: 600;
    color: $dflt-font-color !important;

    &.underline:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .panel-body {
    display: none;
    border-top: 1px solid $gray-400;
    padding: 10px;
  }

  &.help-explanation {
    text-align: left;
    box-shadow: none;
  }
}



.spaces-list {
  background-color: $gray-300;
  height: 100vh;
  overflow: scroll;

  .panel {
    background-color: $white;

    &:hover {
      transform: scale(1.03);
      background-color: $gray-100;
      cursor: pointer;
      transition: all .1s linear;
    }

    .group-thumbnail {
      height: 6em;
      justify-content: center;
      display: flex;
      align-items: center;

      img {
        object-fit: cover;
        max-height: 100%;
        max-width: 100%;
      }
    }

    .offer-availability {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      background: #fff;
    }

    &:hover {

    }
  }
}

.desc-container {
  transition: max-height .2s linear;
  max-height: 0;
  overflow: hidden;


  &.show {
    max-height: 300px;
    overflow: scroll;
  }
}

.space-desc {
  font-size: .85em;
  white-space: pre-line;
  overflow-wrap: break-spaces;
  transition: max-height .2s linear;
  color: $gray-700;
  padding: $measure-unit;
}

.space-desc-show {
  position: absolute;
  bottom: 0%;
  right: 0;
  font-size: .85em;
}


.scroll-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue-200;
  z-index: 10;

  &:hover {
    background-color: $blue-600;
    color: $white !important;
    cursor: pointer;
  }
}

.footer {
  background-color: $blue-850;
  color: $white;

  .parking-list {
    font-size: .9em;

    p {
      a {
        color: $gray-400;
        font-size: 1em;
      }
      margin-bottom: 4px;
    }
  }

  a {
    color: $gray-400;
    font-size: 1.1em;
  }

  ul {
    list-style-type: none;

    li {
      i {
        color: lighten($red, 10%);
      }
    }
  }

  hr {
    border-top: 1px solid $blue-700;
  }

  .social-lg {
    margin: 0 7px;
  }

  .contact-form {
    .form-group {
      input {
        background-color: $blue-900;
        border: 0;
      }
      textarea {
        height: 67px;
        background-color: $blue-900;
        border: 0;
      }

      .form-control {
        box-shadow: none;
        color: $white;
      }
    }
  }
}

.ending {
  background-color: $blue-900;
  color: $blue-100;
}

.btn-link, .btn-outline-primary, .btn-outline-info, .btn-outline-secondary {
  &:hover {
    cursor: pointer;
  }
}


.pos-relative {
  position: relative;
}


