<div ng-controller="SectionCtrl" class="p-3 edit-sensor">
  <div class="p-2 legend">
    <a href="" class="badge badge-secondary">{{assignedSpaces()}} Locuri asignate unui angajat</a>
    <a href="" class="badge badge-success">{{newSpaces()}} Locuri noi ( nesalvat ) </a>
    <a href="" class="badge badge-warning">{{publicSpaces()}} Locuri disponibile public </a>
    <a href="" class="badge badge-info">{{employeeSpaces()}} Locuri rezervabile de către angajați</a>
  </div>

  <div class="text-center perimeter-canvas">

    <div class="add-photo justify-content-center d-flex flex-column "
         ng-hide="section.interior_map"
         ui-sref=".upload">
      <i class="fa fa-map fa-3x"></i>
      <i class="text">Adaugă imagine plan parcare</i>
      <i class="text small">(dim mare)</i>
    </div>
    <div class="d-none" style="height: 100px; width:100px" id="referencePos">

    </div>
    <img class="img-fluid"
         id="scream"
         crossorigin="anonymous"
         ng-show="section.interior_map"
         ng-src="{{ 'https://res.cloudinary.com/'+cloudinaryName+'/image/upload/'+section.interior_map}}">

    <perimeter-box ng-repeat="per in parkingPerimeters"
                   perimeter="per"
                   class="new"
                   ng-class="{public: per.is_public, assigned: per.is_assigned, employee : per.is_employee}"
                   on-click="onClickPerim(per)">
    </perimeter-box>

    <perimeter-box ng-repeat="sen in sensors"
                   perimeter="sen"
                   class="sensor"
                   no-resize="true"
                   icon="'fa-rss fa-2x'"
                   on-click="onClickSensor(per)">


    </perimeter-box>

  </div>


  <div class="d-flex p-2 justify-content-around ">
    <button class="btn btn-link" name="addPerim" ng-click="newPerimeter()"
            ng-disabled="!section.interior_map">
      <i class="fa fa-square"></i> Adaugă perimetru loc parcare
    </button>
    <button class="btn btn-link" name="addSensor" ng-click="newSensor()">
      <i class="fa fa-rss"></i> Adaugă/Scoate Senzor
    </button>
    <button class="btn btn-link" ui-sref=".upload">
      <i class="fa fa-map"></i> Încarcă plan nou parcare
    </button>
  </div>


  <div ui-view="detail"></div>

  <!-- Here be the parking plan edit form -->
  <div class="p-4">
    <form novalidate id="sectionForm" name="sectionForm">
      <div class="form-row form-group">
        <label class="col-form-label col-sm-2" for="name"> Nume </label>
        <div class="col-sm-10">
          <input id="name" class="form-control" required ng-model="section.name">
          <small class="form-text ">Dați un nume scurt secțiunii de parcare</small>
        </div>
      </div>
      <div class="form-row form-group">
        <label class="col-form-label col-sm-2" for="name"> Descriere </label>
        <div class="col-sm-10">
          <textarea id="description" class="form-control" required ng-model="section.description"></textarea>
          <small class="form-text "></small>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" ng-click="savePerimeters()" ng-disabled="loading">
          <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
          Salvează locurile
        </button>
        <button class="btn btn-secondary" ng-click="reloadPerimeters()" ng-disabled="loading">
          <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
          Resetează la starea inițială
        </button>
        <button class="btn btn-danger" ui-sref="^" ng-disabled="loading">
          <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
          Anulează
        </button>
      </div>

    </form>
  </div>


  <!-- Here be the sensor list for assigning to section -->
  <div id="dbSensorList" style="display: none">
    <div class="ps-modal sensor-fleet ps-no-nav ">
      <div class="my-5">
        <div ng-repeat="sensor in db_sensors"
             ng-click="sensor.selected = !sensor.selected"
             ng-class="{'list-group-item-secondary':sensor.selected}"
             class="list-group-item list-group-item-action " >
          <div class="row align-items-center">
            <div class="col">
              <h5> {{sensor.section.name || 'Not assigned' }} </h5>
              <div ng-show="sensor.lat">
                <span class="small"> {{sensor.lat}} x {{ sensor.lng }}</span>
              </div>
            </div>

            <div class="p-2 col">
              <span> {{sensor.location_text || 'Fara descriere'}} </span>
            </div>

            <img class="col" ng-show="sensor.snapshot" height="100" ng-src="{{ 'https://res.cloudinary.com/'+cloudinaryName+'/image/upload/'+sensor.snapshot}}">
            <span ng-hide="sensor.snapshot" class="fa-stack fa-2x col ">
             <i class="fa fa-camera fa-stack-1x"></i>
              <i class="fa fa-ban fa-stack-2x" style="color:Tomato"></i>
            </span>

            <div class="d-flex flex-column align-items-center col">
              <span ng-hide="sensor.is_connected" class="fa-stack ">
                <i class="fa fa-bolt fa-stack-1x"></i>
                <i class="fa fa-ban fa-stack-2x"></i>
              </span>
              <span ng-hide="sensor.is_connected">
                Disconnected
              </span>

              <span ng-show="sensor.is_connected">
                  <i class="fa fa-plug fa-2x text-success"></i>
              </span>
              <span ng-show="sensor.is_connected">
                 Connected
              </span>
            </div>

            <div class="col">
              <input ng-model="sensor.selected" type="checkbox">
            </div>
          </div>
        </div>


        <div class="d-flex p-3 justify-content-around ">
          <button class="btn btn-primary" name="saveSensors" ng-click="selectSensors()">
            <i class="fa fa-check"></i> OK
          </button>
          <button class="btn btn-secondary" onclick="$('#dbSensorList').hide()">
            Anuleaza
          </button>
        </div>
      </div>
    </div>
  </div>

</div>