<div class="users-list pt-3" ng-controller="UsersCtrl">

  <form novalidate id="userSearchForm" name="userSearchForm">
    <div class="form-group row ">
      <label for="searchUsrTxt" class="col-form-label col-3">Nume sau email:</label>
      <input type="text" id="searchUsrTxt" class="form-control col-9" ng-model="searchUserTxt"
             placeholder="Cauta dupa nume sau email">
    </div>

    <div class="form-group row ">
      <label for="searchPhone" class="col-form-label col-3">Nr tel:</label>
      <input type="text" id="searchPhone" class="form-control col-9" ng-model="searchPhone"
             placeholder="Cauta dupa tel">
    </div>


    <div class="text-right">
      <button class="btn btn-outline-secondary" type="button" ng-click="searchUser(searchUserTxt)">
        <i class="fa fa-search"></i> Cauta
      </button>
    </div>
  </form>

  <div class="row border-bottom font-weight-bold my-3">
    <div class="col-3 text-left ">Name</div>
    <div class="col-4 text-left ">Email</div>
    <div class="col-3 text-center">Telefon</div>
    <div class="col-2 text-center">Actiuni</div>
  </div>
  <div class="row py-1 table-row" ng-repeat="user in users">
    <div class="col-3 text-left text-truncate">{{user.full_name}}</div>
    <div class="col-4 text-left text-truncate">{{user.email}}</div>
    <div class="col-3 text-center"> {{user.prefix}}{{user.phone_number}}</div>
    <div class="col-2 text-center">
      <div>
        <button class="btn btn-sm btn-link" ng-click="showControls(user,$event)">Detalii</button>
      </div>
    </div>

    <div id="expandedRow-{{user.id}}" class="col-12 expanded-row" style="display: none">

      <ul class="nav nav-tabs nav-fill" role="tablist">
        <li class="nav-item ">
          <a href="" ui-sref=".spaces" class="nav-link" ui-sref-active="active">
            <i class='fa fa-car'></i> Locuri de parcare
          </a>
        </li>
        <li class="nav-item ">
          <a href="" ui-sref=".offers" class="nav-link" ui-sref-active="active">
            <i class='fa fa-calendar'></i> Rezervări
          </a>
        </li>
        <li class="nav-item">
          <a href=""  ui-sref=".accounts" class="nav-link" ui-sref-active="active" >
            <i class="fa fa-credit-card"></i> Plati si facturi
          </a>
        </li>
        <li class="nav-item">
          <a href="" ui-sref=".details" class="nav-link" ui-sref-active="active">
            <i class="fa fa-list"></i> Detalii cont
          </a>
        </li>
      </ul>
      <div class="tab-content" ng-if="user.showMenu">
        <!-- User Spaces / Reservations / Accounts / Details -->
        <ui-view name="menu"></ui-view>

      </div>


    </div>
  </div>


</div>