.bg-body {background-color: $blue-80};
.bg-primary { background-color: $blue; color:$blue-80};
.bg-secondary-red { background-color: $red; color:$blue-80};

.blue-1 {background-color: $blue-80;}
.blue-2 {background-color: $blue-90;}
.blue-3 {background-color: $blue-100;}
.blue-4 {background-color: $blue-200;}
.blue-5 {background-color: $blue-300;}
.blue-6 {background-color: $blue-400;}
.blue-7 {background-color: $blue-500;}
.blue-8 {background-color: $blue-600;color:$blue-80}
.blue-9 {background-color: $blue-700; color:$blue-80}
.blue-10 {background-color: $blue-800; color:$blue-80}
.blue-11 {background-color: $blue-850; color:$blue-80}
.blue-12 {background-color: $blue-900; color:$blue-90}
.blue-13 {background-color: $blue-1000;color:$blue-100}
